<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="drawer"
    app
    floating
    persistent
    mobile-break-point="991"
    width="260"
  >
    <v-img
      :src="image"
      style="min-height: 100%"
    >
      <v-layout
        class="fill-height"
        tag="v-list"
        column
        style="background: rgba(27,27,27,.74);"
      >
        <v-list class="transparent">
          <v-list-tile avatar>
            <v-list-tile-avatar
              color="white"
            >
              <v-img
                :src="logo"
                height="34"
                contain
              />
            </v-list-tile-avatar>
            <v-list-tile-title class="title white--text Lato">
              Admin
            </v-list-tile-title>
          </v-list-tile>
          <v-divider class="grey mb-4" />
          <template v-for="(item, i) in items">
            <v-list-group
              v-if="item.nested"
              :key="i"
              style="border-radius: 5px; color: #eeeeee;"
              :class="['v-list-item', 'Lato', item.text === active.name ? color : '', 'ml-3', 'mr-3']"
            >
              <v-list-tile
                slot="activator"
                avatar
              >
                <v-list-tile-action>
                  <v-icon style="color: #dddddd;">
                    {{ item.icon }}
                  </v-icon>
                </v-list-tile-action>
                <v-list-tile-title
                  v-text="item.text"
                />
              </v-list-tile>
              <v-list-tile v-for="(nest, j) in item.nests" :key="j" @click="setTheActive({component: nest.component, name: nest.location})">
                {{ nest.name }}
              </v-list-tile>
            </v-list-group>
            <v-list-tile
              v-if="!item.nested"
              :key="i"
              avatar
              style="border-radius: 5px; color: #eeeeee;"
              :class="['v-list-item', 'Lato', item.text === active.name ? color : '', 'ml-3', 'mr-3']"
              @click="setTheActive({component: item.text, name: item.text})"
            >
              <v-list-tile-action>
                <v-icon style="color: #dddddd;">
                  {{ item.icon }}
                </v-icon>
              </v-list-tile-action>
              <v-list-tile-title
                v-text="item.text"
              />
            </v-list-tile>
          </template>
        </v-list>
      </v-layout>
    </v-img>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import { mapMutations, mapState } from 'vuex'

export default {
  data: () => ({
    logo: '/logo.png',
    items: [
      {
        icon: 'mdi-view-dashboard',
        text: 'Dashboard'
      },
      {
        icon: 'mdi-account',
        text: 'Users'
      },
      {
        icon: 'mdi-package-variant-closed',
        text: 'Packages'
      },
      {
        icon: 'mdi-library',
        text: 'Courses',
        nests: [
          {
            name: 'All Courses',
            component: 'AllCourses',
            location: 'Courses / All Courses'
          },
          {
            name: 'Course Categories',
            component: 'CourseCategories',
            location: 'Courses / Course Categories'
          },
          {
            name: 'Modules Categories',
            component: 'ModuleCategories',
            location: 'Courses / Module Categories'
          }
          // {
          //   name: 'All Skills',
          //   component: 'AllSkills',
          //   location: 'Courses / All Skills'
          // }
        ],
        nested: true
      },
      {
        icon: 'mdi-collage',
        text: 'Modules'
      },
      {
        icon: 'mdi-currency-usd',
        text: 'Transactions'
      },
      {
        icon: 'mdi-check-decagram',
        text: 'Feedbacks'
      },
      {
        icon: 'mdi-chat',
        text: 'Blog'
      },
      // {
      //   icon: 'mdi-email',
      //   text: 'Mails'
      // },
      {
        icon: 'mdi-ticket-percent',
        text: 'Coupons'
      }
    ]
  }),
  computed: {
    ...mapState('admin', ['image', 'color', 'active']),
    drawer: {
      get() {
        return this.$store.state.admin.drawer
      },
      set(val) {
        this.setDrawer(val)
      }
    }
  },
  mounted() {},
  methods: {
    ...mapMutations('admin', ['setDrawer', 'setActive']),
    setTheActive(val) {
      this.setActive(val)
    }
  }
}
</script>

<style>
  .v-list__tile {
    border-radius: 4px;
  }
  .v-list__tile:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .v-image__image--contain {
    top: 9px;
    height: 60%;
  }

  .search-input {
    padding-left: 15px;
    padding-right: 15px;
  }
.v-list__group__header__append-icon > i {
  color: #ffffff !important;
}
</style>
