<template>
  <v-menu
    :close-on-content-click="false"
    bottom
    left
    min-width="300"
    max-width="300"
    nudge-left="12"
    offset-x
    transition="slide-y-transition"
  >
    <v-btn
      slot="activator"
      class="elevation-2"
      color="grey"
      dark
      fixed
      large
      style="top: 20vh; z-index: 1; right: -25px; border-radius: 10px"
      top
    >
      <v-icon>mdi-settings</v-icon>
    </v-btn>
    <v-card class="grey">
      <v-container grid-list-xl>
        <v-layout wrap>
          <v-flex xs12>
            <div class="Lato text-xs-center body-2 text-uppercase sidebar-filter">
              Sidebar Filters
            </div>

            <v-layout justify-center>
              <v-avatar
                v-for="c in colors"
                :key="c"
                class="ma-1"
                :color="c === color ? 'color-active ' + c: c"
                size="23"
                @click="setColor(c)"
              />
            </v-layout>
            <v-layout>
              <v-radio-group v-model="mode" class="justify-center" row>
                <v-radio label="light" value="light" />
                <v-radio label="dark" value="dark" />
              </v-radio-group>
            </v-layout>
            <v-divider v-if="$route.path === '/admin/dashboard'" class="mt-3" />
          </v-flex>
          <v-flex
            v-if="$route.path === '/admin/dashboard'"
            xs12
          >
            <div class="Lato text-xs-center body-2 text-uppercase sidebar-filter">
              Images
            </div>
          </v-flex>
          <v-flex v-if="$route.path === '/admin/dashboard'" x12>
            <v-layout wrap>
              <v-flex
                v-for="img in images"
                :key="img"
                xs3
              >
                <v-img
                  :class="[image === img ? 'image-active' : '']"
                  :src="img"
                  height="120"
                  @click.native="setImage(img)"
                />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-menu>
</template>

<script>
// Utilities
import { mapMutations, mapState } from 'vuex'

export default {
  data: () => ({
    colors: ['success', 'info', 'warning', 'primary', 'error', 'secondary'],
    images: [
      require('~/assets/admin1.jpg'),
      require('~/assets/admin2.jpg'),
      require('~/assets/admin3.jpg'),
      require('~/assets/admin4.jpg')
    ]
  }),

  computed: {
    ...mapState('admin', ['image', 'color']),
    mode: {
      get() {
        return this.$store.state.admin.mode
      },
      set(val) {
        this.setMode(val)
      }
    }
  },

  methods: {
    ...mapMutations('admin', ['setImage', 'setColor', 'setMode'])
  }
}
</script>

<style>
.v-avatar,
.v-responsive {
  cursor: pointer;
}
.color-active {
  border: 3px solid #00a685 !important;
}
.image-active {
  border: 3px solid #00a685 !important;
}
</style>
