<template>
  <v-footer
    class="justify-center"
    app
  >
    <span>&copy;{{ new Date().getFullYear() }}  — <strong class="Salsa">{{ title }}</strong></span>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    title: 'BefittingLife Academy',
    links: [
      { name: 'Home', Link: '/dashboard' },
      { name: 'Creative Tim', Link: 'https://www.creative-tim.com' },
      { name: 'About Us', Link: 'https://creative-tim.com/presentation' },
      { name: 'Blog', Link: 'https://blog.creative-tim.com' }
    ]
  })
}
</script>

<style>
#core-footer {
  z-index: 0;
}
</style>
