<template>
  <v-toolbar flat app>
    <v-snackbar
      v-model="snackbar"
      color="secondary"
      :timeout="3000"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        Logout Successful
      </div>
      <v-icon dark size="40">
        mdi-account-check-outline
      </v-icon>
    </v-snackbar>
    <v-toolbar-side-icon v-if="$route.path === '/admin/dashboard'" class="hidden-md-and-up" @click="setDrawer(true)" />
    <v-btn icon nuxt href="/">
      <v-icon :color="color">
        mdi-home
      </v-icon>
    </v-btn>
    <v-toolbar-title class="Lato">
      {{ $route.path === '/profile' ? 'Dashboard' : active.name }}
    </v-toolbar-title>
    <v-spacer />
    <v-flex
      align-center
      layout
      py-2
    >
      <v-text-field
        v-if="$route.path === '/admin'"
        class="mr-4 mt-2 hidden-xs-only search-input"
        :color="color"
        hide-details
        label="Search..."
      ></v-text-field>
    </v-flex>
    <v-menu
      v-if="$store.state.user"
      bottom
      transition="slide-x-transition"
      style="z-index: 99;"
    >
      <v-btn
        slot="activator"
        icon
        flat
        large
        :color="color"
        style="margin-top: 0.2%;"
      >
        <v-icon :color="color">
          mdi-account
        </v-icon>
      </v-btn>

      <v-list>
        <v-list-tile disabled>
          <v-list-tile-title class="text-capitalize">
            {{ $store.state.user.name }}
          </v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="logout">
          <v-list-tile-title class="error--text">
            logout
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  data: () => ({
    snackbar: false,
    notifications: [
      'Mike, John responded to your email',
      'You have 5 new tasks',
      "You're now a friend with Andrew",
      'Another Notification',
      'Another One'
    ],
    title: null
  }),
  computed: {
    ...mapState('admin', ['active', 'color'])
  },
  methods: {
    ...mapMutations('admin', ['setDrawer']),
    logout() {
      this.snackbar = true
      setTimeout(() => {
        Cookie.remove('auth')
        this.$store.commit('setUser', null)
        this.$store.commit('setToken', null)
        this.$router.push('/logout')
      }, 1000)
    }
  }
}
</script>

<style>
#core-toolbar a {
  text-decoration: none;
}
</style>
