<template>
  <v-layout v-if="$store.state.loggedIn" id="core-view">
    <v-fade-transition mode="out-in">
      <component :is="active.component" />
    </v-fade-transition>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import Dashboard from '~/components/dashboard/views/Dashboard'
import Users from '~/components/dashboard/views/Users'
import Packages from '~/components/dashboard/views/Packages'
import AllCourses from '~/components/dashboard/views/AllCourses'
import CourseCategories from '~/components/dashboard/views/CourseCategories'
import ModuleCategories from '~/components/dashboard/views/ModuleCategories'
import AllSkills from '~/components/dashboard/views/AllSkills'
import Modules from '~/components/dashboard/views/Modules'
import Transactions from '~/components/dashboard/views/Transactions'
import Feedbacks from '~/components/dashboard/views/Feedbacks'
import Blog from '~/components/dashboard/views/Blog'
import Mails from '~/components/dashboard/views/Mails'
import Coupons from '~/components/dashboard/views/Coupons'
export default {
  components: {
    Dashboard,
    Users,
    Packages,
    AllCourses,
    CourseCategories,
    ModuleCategories,
    AllSkills,
    Modules,
    Transactions,
    Feedbacks,
    Blog,
    Mails,
    Coupons
  },
  // fetch({ store, redirect }) {
  //   if (!store.state.auth.user) {
  //     redirect('/admin/login?logerr')
  //   }
  // },
  metaInfo() {
    return {
      loading: true,
      title: 'Vuetify Material Dashboard by CreativeTim'
    }
  },
  data() {
    return {}
  },
  computed: {
    ...mapState('admin', ['active'])
  },
  mounted() {},
  updated() {}
}
</script>

<style>
#core-view {
  padding-bottom: 100px;
}
</style>
