<template>
  <v-layout align-center justify-center>
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      :timeout="snackbar.time"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
        <div>{{ snackbar.addition }}</div>
      </div>
      <v-icon dark size="40">
        {{ snackbar.icon }}
      </v-icon>
      <v-btn v-if="snackbar.addAction" class="text--secondary Lato" style="justify-content: center" @click="reMail">
        Resend Mail
      </v-btn>
    </v-snackbar>
    <v-flex xs12 sm8 md4 lg4>
      <v-card class="elevation-1 pa-3">
        <v-card-text>
          <div class="layout column align-center">
            <img src="/logo.png" alt="Vue Material Admin" width="130" height="180">
            <h1 class="flex my-4 primary--text">
              BefittingLife Admin
            </h1>
          </div>
          <v-form ref="form">
            <v-text-field
              v-model="email"
              append-icon="mdi-account"
              name="login"
              label="Login"
              type="text"
              :error="error"
              :rules="[rules.required, checkUser]"
            ></v-text-field>
            <v-text-field
              id="password"
              v-model="password"
              :type="hidePassword ? 'password' : 'text'"
              :append-icon="hidePassword ? 'mdi-eye-off' : 'mdi-eye'"
              name="password"
              label="Password"
              :rules="[rules.required]"
              :error="error"
              @click:append="hidePassword = !hidePassword"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn block color="primary" :loading="loading" @click="login">
            Login
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined
export default {
  data() {
    return {
      loading: false,
      email: '',
      password: '',
      snackbar: {
        status: false,
        color: null,
        icon: null,
        content: null,
        addition: null,
        addAction: false,
        time: null
      },
      hidePassword: true,
      error: false,
      rules: {
        required: value => !!value || 'Required.'
      },
      checkUser: value =>
        /admin@befittinglife.com/.test(value) ||
        'Please login through the users portal'
    }
  },
  methods: {
    login() {
      this.loading = true
      if (this.$refs.form.validate()) {
        this.$axios
          .$post('/login', {
            email: this.email.toLowerCase(),
            password: this.password
          })
          .then(data => {
            this.loading = false
            this.snackbar.content = 'Login Successful.'
            this.snackbar.color = 'success'
            this.snackbar.icon = 'mdi-account-check-outline'
            this.snackbar.status = true
            this.snackbar.time = 0
            const { user, accessToken } = data
            const auth = { accessToken: accessToken }
            Cookie.set('auth', auth, { expires: 0.25 })
            this.$store.commit('setUser', user)
            this.$store.commit('setToken', accessToken)
            setTimeout(() => {
              this.$router.push('/admin/dashboard')
            }, 1000)
          })
          .catch(err => {
            this.loading = false
            console.log(err)
            this.snackbar.content = 'Server error, please try again.'
            this.snackbar.color = 'error'
            this.snackbar.icon = 'mdi-alert-decagram-outline'
            this.snackbar.status = true
            this.snackbar.time = 5000
          })
      } else {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped lang="css">
  #login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
</style>
