<template>
  <v-menu
    v-model="controlMenu"
    :close-on-content-click="false"
    left
    min-width="300"
    max-width="300"
    offset-x
    transition="slide-y-transition"
    :close-on-click="true"
  >
    <v-btn
      slot="activator"
      class="elevation-2"
      fixed
      style="top: 45%; left: calc(100vw - 105px); transform: rotate(-90deg);"
      color="primary"
    >
      <v-icon>mdi-emoticon-outline</v-icon>
      <span class="ml-2 text-capitalize Salsa">Submit Feedback</span>
    </v-btn>
    <v-card
      dark
    >
      <v-btn
        absolute
        fab
        small
        icon
        style="top: 5px; right: 2px"
        @click="closeDialog"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-card-title class="Lato-300">
        Rate Your Experience with BefittingLife Academy
      </v-card-title>
      <v-divider />
      <v-card-actions class="justify-center">
        <v-btn v-if="loaded && !$store.state.loggedIn" nuxt href="/sign">
          sign in
        </v-btn>
        <v-rating v-if="loaded && $store.state.loggedIn" v-model="rating">
          <v-icon
            slot="item"
            slot-scope="props"
            color="primary"
            medium
            @click="feedback(props)"
          >
            {{ props.isFilled ? 'mdi-star-circle' : 'mdi-circle-outline' }}
          </v-icon>
        </v-rating>
      </v-card-actions>
      <div v-if="feedbackEdit" style="transition: 1s">
        <v-card-text>
          <v-textarea
            v-model="feedbackText"
            outline
            autofocus
            no-resize
            counter="250"
            name="feedback"
            rows="6"
            :rules="[checkLength]"
            label="Tell us about your experience"
            class="Lato"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn class="text-capitalize" @click="submit">
            Submit
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="primary"
              indeterminate
            />
          </v-btn>
        </v-card-actions>
      </div>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  props: {
    status: {
      type: Boolean,
      default: false
    },
    edit: {
      type: Boolean,
      default: false
    },
    loaded: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      saveLoading: false,
      feedbackStatus: false,
      feedbackEdit: false,
      feedbackText: '',
      rating: 3
    }
  },
  computed: {
    controlMenu: {
      get() {
        return this.feedbackStatus
      },
      set(val) {
        this.feedbackStatus = val
        if (!val) {
          this.feedbackEdit = val
          this.feedbackText = ''
          this.rating = 3
          this.saveLoading = val
        }
      }
    }
  },
  methods: {
    feedback: function (p) {
      p.click()
      this.feedbackEdit = true
    },
    closeDialog() {
      this.feedbackStatus = false
      this.feedbackEdit = false
      this.feedbackText = ''
      this.rating = 3
      this.saveLoading = false
    },
    checkLength() {
      return this.feedbackText.length < 20
        ? 'Feedback is too short!'
        : this.feedbackText.length > 250
          ? 'Maximum feedback length exceeded!'
          : true
    },
    async submit() {
      if (this.feedbackText.length <= 250 && this.feedbackText.length >= 20) {
        this.saveLoading = true
        await this.$axios
          .$put('/submitFeedback', {
            feedback: this.feedbackText,
            rating: this.rating,
            name: this.$store.state.user.name
          })
          .then(res => {
            this.closeDialog()
            this.$store.commit('addfeedback', res)
          })
      }
    }
  }
}
</script>
