<template>
  <loader v-if="loading" />
</template>

<script>
import Loader from '~/components/Loader'
export default {
  name: 'Loading',
  components: {
    Loader
  },
  data() {
    return {
      loading: false
    }
  },
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    }
  }
}
</script>

<style scoped>
</style>
