<template>
  <v-layout style="height: unset;" align-center justify-center wrap class="pb-3 mt-5">
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      :timeout="snackbar.time"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
        <div>{{ snackbar.addition }}</div>
      </div>
      <v-icon dark size="40">
        {{ snackbar.icon }}
      </v-icon>
      <v-btn
        v-if="snackbar.addAction"
        class="text--secondary Lato"
        style="justify-content: center"
        @click="handleSnackbarAction"
      >
        {{ snackbar.actiontype === 'resend' ? 'Resend Mail' : 'Logout' }}
        <v-progress-circular
          v-if="loading"
          class="ml-2"
          :width="1.2"
          size="14"
          color="secondary"
          indeterminate
        />
      </v-btn>
    </v-snackbar>
    <v-flex class="primary white--text" xs12 sm6>
      <v-card dark class="elevation-12" :img="require('~/assets/beautiful.jpg')">
        <v-toolbar
          color="primary"
          style="border-top-left-radius: 50px; border-bottom-right-radius: 50px;"
        >
          <v-toolbar-title
            v-if="formType === 'register'"
            class="Salsa white--text headline"
          >
            REGISTRATION FORM
          </v-toolbar-title>
          <v-toolbar-title v-if="formType === 'login'" class="Salsa white--text headline">
            LOGIN FORM
          </v-toolbar-title>
        </v-toolbar>
        <div style="background: rgba(0,0,0,0.3)">
          <v-card-text>
            <v-form ref="form" v-model="form" class="pa-4">
              <v-layout row justify-space-around>
                <v-flex>
                  <v-text-field
                    v-if="formType === 'register'"
                    id="fullname"
                    v-model="fullname"
                    name="name"
                    color="primary"
                    placeholder="Full Name"
                    prepend-icon="mdi-account"
                    :disabled="snackbar.status"
                    solo-inverted
                    clearable
                    :rules="checkName"
                    class="Lato"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row justify-space-around>
                <v-flex>
                  <v-text-field
                    id="email"
                    v-model="email"
                    name="email"
                    color="primary"
                    placeholder="Email"
                    prepend-icon="mdi-account-key"
                    :disabled="snackbar.status"
                    solo-inverted
                    clearable
                    :rules="checkEmail"
                    class="Lato"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout wrap justify-space-around>
                <v-flex>
                  <v-text-field
                    v-if="formType === 'register'"
                    id="password"
                    v-model="password"
                    name="password"
                    :prepend-icon="
                      formType === 'register' ? 'mdi-lock' : 'mdi-key'
                    "
                    :append-icon="passIcon ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="passIcon ? 'password' : 'text'"
                    clearable
                    :rules="checkPassFormat"
                    class="Lato"
                    color="primary"
                    placeholder="Password"
                    solo-inverted
                    :disabled="snackbar.status"
                    @click:append="passIcon = !passIcon"
                  ></v-text-field>
                  <v-text-field
                    v-if="formType === 'login'"
                    id="password"
                    v-model="password"
                    name="password"
                    :prepend-icon="
                      formType === 'register' ? 'mdi-lock' : 'mdi-key'
                    "
                    :append-icon="passIcon ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="passIcon ? 'password' : 'text'"
                    clearable
                    :rules="checkPass"
                    class="Lato"
                    color="primary"
                    :disabled="snackbar.status"
                    placeholder="Password"
                    solo-inverted
                    @click:append="passIcon = !passIcon"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-layout row wrap>
              <v-flex xs12 md6 class="pa-1 text-xs-center">
                <v-layout column>
                  <v-flex xs12 class="pa-1">
                    <v-btn
                      v-if="formType === 'login'"
                      color="secondary"
                      small
                      class="Lato text-capitalize"
                      @click="formType = 'register'"
                    >
                      Don't have an account? Register.
                    </v-btn>
                    <v-btn
                      v-if="formType === 'register'"
                      color="secondary"
                      small
                      class="Lato text-capitalize"
                      @click="formType = 'login'"
                    >
                      Already have an account? click here
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 class="pa-1">
                    <v-btn
                      v-if="formType === 'login'"
                      color="secondary"
                      small
                      class="Lato text-capitalize"
                    >
                      Reset Password
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex md2 />
              <v-flex xs12 md4 class="pa-1 text-xs-center">
                <v-spacer />
                <v-btn
                  v-if="formType === 'register'"
                  class="Lato"
                  color="primary"
                  @click="register"
                >
                  register
                  <v-progress-circular
                    v-if="loading"
                    class="ml-2"
                    :width="1.2"
                    size="24"
                    color="secondary"
                    indeterminate
                  ></v-progress-circular>
                </v-btn>
                <v-btn v-if="formType === 'login'" class="Lato" color="primary" @click="login">
                  login
                  <v-progress-circular
                    v-if="loading"
                    class="ml-2"
                    :width="1.2"
                    size="24"
                    color="secondary"
                    indeterminate
                  ></v-progress-circular>
                </v-btn>
              </v-flex>
            </v-layout>
            <!-- <v-btn color="primary" @click="recover">recover password</v-btn> -->
          </v-card-actions>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import register from '~/mixins/register'
const Cookie = process.client ? require('js-cookie') : undefined
// import { mapActions } from 'vuex'
export default {
  name: 'Login',
  mixins: [register],
  data() {
    return {}
  },
  computed: {},
  mounted() {
    if (this.$route.query.logerr) {
      this.snackbar.content =
        "You're not logged in and cannot access that page."
      this.snackbar.color = 'error'
      this.snackbar.icon = 'mdi-alert-decagram-outline'
      this.snackbar.status = true
      this.snackbar.time = 3000
    } else if (this.$route.query.trial) {
      this.formType = 'register'
    } else if (this.$route.query.code) {
      this.$axios
        .$post('/verifyMail', this.$route.query)
        .then(res => {
          if (res === 'Success') {
            this.snackbar.content =
              'Congratulations! You have been admitted to BefittingLife Academy as your account\n' +
              "  has been successfully activated and you're now eligible for the 7 days free trial.\n" +
              '  Login below to proceed to your dashboard and submit your billing details to start enjoying your membership.'
            this.snackbar.color = 'success'
            this.snackbar.icon = 'mdi-account-check-outline'
            this.snackbar.status = true
            this.snackbar.time = 0
          }
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  methods: {
    async login() {
      if (this.$refs.form.validate()) {
        this.loading = true
        await this.$axios
          .$post('/login', {
            email: this.email.toLowerCase(),
            password: this.password
          })
          .then(data => {
            const { user, accessToken } = data
            const auth = { accessToken: accessToken }
            Cookie.set('auth', auth, { expires: 0.25 })
            this.$store.commit('setUser', user)
            this.$store.commit('setToken', accessToken)
            this.loading = false
            const res = {
              text: 'Login Successful.',
              color: 'success',
              icon: 'mdi-account-check-outline',
              actiontype: 'resend'
            }
            this.messageHandler(res)
            setTimeout(() => {
              this.$router.push('/profile')
            }, 1000)
          })
          .catch(err => {
            this.loading = false
            if (/found/.test(err.response.data.text)) {
              this.formType = 'register'
            }
            this.messageHandler(err.response.data)
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
