<template>
  <v-container fill-height fluid>
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
      </div>
    </v-snackbar>
    <v-dialog v-model="deleteDialog" persistent max-width="300">
      <v-card>
        <v-card-text class="subheading">
          Are you sure you want to delete this course?
        </v-card-text>
        <v-card-actions class="justify-space-between">
          <v-btn color="success" flat @click.native="deleteDialog = false">
            No
          </v-btn>
          <v-btn color="error" flat @click="confirmDelete()">
            Yes
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="secondary"
              indeterminate
            ></v-progress-circular>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="1000px" persistent>
      <v-card light>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <span class="body-2 red--text">*All starred fields are compulsory</span>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="editedItem.title" label="Course Title*" solo inverted></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-autocomplete
                  v-model="editedItem.tags"
                  :items="categories"
                  label="Categories*"
                  deletable-chips
                  chips
                  solo
                  inverted
                  multiple
                >
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-select
                  v-model="editedItem.level"
                  :items="['Beginner', 'Intermediate', 'Advanced']"
                  label="Skill Level*"
                  solo
                  inverted
                >
                </v-select>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field v-model="editedItem.code" label="Course Code" solo inverted></v-text-field>
              </v-flex>
              <v-flex xs4>
                <v-switch
                  v-model="editedItem.upcoming"
                  label="Upcoming"
                  color="primary"
                ></v-switch>
              </v-flex>
              <v-flex xs12>
                <no-ssr>
                  <vue-editor v-model="editedItem.content" placeholder="Course Description*" />
                </no-ssr>
                <v-switch
                  v-model="livePreview"
                  label="Live Preview"
                  color="primary"
                ></v-switch>
              </v-flex>
              <v-flex xs12>
                <div v-if="livePreview" class="Lato body-1 pa-1" style="border: #7f828b 1px solid" v-html="editedItem.content"></div>
              </v-flex>
              <v-flex xs12>
                <input
                  id="pickPic"
                  ref="image"
                  style="position:absolute; visibility: hidden"
                  :error-messages="imgErrors"
                  type="file"
                  accept="image/*"
                  @change="handleImg()"
                >
                <v-tooltip right color="primary">
                  <v-btn
                    slot="activator"
                    :disabled="imagePreview !== ''"
                    style="margin-left: auto; margin-right: auto; display: block;"
                    fab
                    color="accent"
                    @click="pickPic()"
                  >
                    <v-icon>mdi-camera-enhance</v-icon>
                  </v-btn>
                  <span>Upload Image</span>
                </v-tooltip>
                <small>Max file size: 200kb</small>
                <v-flex
                  v-if="imgErrors.length !== 0"
                  class="caption ml-3"
                  style="color:red;"
                >
                  {{ imgErrors[0] }}
                </v-flex>
              </v-flex>
              <v-flex v-if="imagePreview !== '' || (editedItem.image !== '' && editedItem.image !== undefined)" xs12>
                <v-expansion-panel inset>
                  <v-expansion-panel-content style="border: #00a685 solid 1px">
                    <div slot="header">
                      {{ image !== null ? image.name : editedItem.image !== undefined ? editedItem.image.split('/')[8] : '' }}
                      <v-progress-circular
                        v-if="uploadingImage"
                        class="ml-2"
                        :width="1.2"
                        size="24"
                        color="primary"
                        indeterminate
                      ></v-progress-circular>
                      <v-tooltip v-if="imageErrored" bottom>
                        <v-btn slot="activator" icon color="error" flat @click.stop="/large/.test(snackbar.content) ? rmvPic() : uploadImage()">
                          <v-icon color="error">
                            {{ /large/.test(snackbar.content) ? 'mdi-delete' : 'mdi-upload' }}
                          </v-icon>
                        </v-btn>
                        <span>{{ /large/.test(snackbar.content) ? 'Remove Image' : 'Try again' }}</span>
                      </v-tooltip>
                    </div>
                    <v-card>
                      <v-img :src="imagePreview !== '' ? imagePreview : editedItem.image" height="200">
                        <v-btn icon color="accent" @click="rmvPic()">
                          <v-icon>mdi-close</v-icon>
                        </v-btn>
                      </v-img>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field v-model="editedItem.alt" label="Image Alt Name" solo inverted></v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field v-model="editedItem.price" label="Price" solo inverted></v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field v-model="editedItem.metaTitle" label="Meta Title" solo inverted></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="editedItem.metaDescription" label="Meta Description" solo inverted></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="editedItem.metaKeywords" label="Meta Keywords" solo inverted></v-text-field>
              </v-flex>
              <v-flex v-if="formTitle === 'Edit Course' && editedItem.modules && editedItem.modules.length > 0" xs12>
                <v-card>
                  <v-card-title class="pb-0 headline">
                    Modules
                  </v-card-title>
                  <v-card-text class="caption pt-0">
                    Reorder modules here
                  </v-card-text>
                  <v-container grid-list-lg>
                    <v-layout wrap>
                      <v-flex v-for="(modulesCategory, i) in editedItem.modulesCategories" :key="i">
                        <v-card>
                          <v-list two-line>
                            <v-card-title class="title">
                              {{ i + 1 }}.{{ modulesCategory.category }}
                            </v-card-title>
                            <v-divider />
                            <draggable
                              v-model="modulesCategory.modules"
                              :options="{group:'modules'}"
                              style="min-height: 50px;"
                              @change="doOrderChange"
                            >
                              <template v-for="module in modulesCategory.modules">
                                <v-list-tile :key="module.title" avatar>
                                  <v-avatar>
                                    <v-icon>
                                      mdi-format-list-bulleted
                                    </v-icon>
                                  </v-avatar>
                                  <v-list-tile-content>
                                    <v-list-tile-title v-html="module.title"></v-list-tile-title>
                                    <v-list-tile-sub-title v-html="module.description"></v-list-tile-sub-title>
                                  </v-list-tile-content>
                                </v-list-tile>
                              </template>
                            </draggable>
                          </v-list>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="saveOrder">
                      Save Order
                      <v-icon v-if="orderChanged" class="ml-1" small color="error">
                        mdi-checkbox-blank-circle
                      </v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary darken-1" flat @click="closeDialog">
            Cancel
          </v-btn>
          <v-btn color="primary darken-1" flat @click="saveCourse">
            Save
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout wrap justify-center>
      <table-list
        :loading="loading"
        :headers="headers"
        :items="courses"
        title="Courses"
        subtitle="Manage courses from here"
        :open-new-dialog="openNewDialog"
        :open-edit-dialog="openEditDialog"
        :remove-course="removeCourse"
        :edited-item="editedItem"
      />
    </v-layout>
  </v-container>
</template>

<script>
import TableList from './subviews/TableList'
function compareModules(a, b) {
  // Use toUpperCase() to ignore character casing
  const indexA = a.index
  const indexB = b.index

  let comparison = 0
  if (indexA > indexB) {
    comparison = 1
  } else if (indexA < indexB) {
    comparison = -1
  }
  return comparison
}
export default {
  name: 'AllCourses',
  components: {
    TableList
  },
  data() {
    return {
      courses: [],
      categories: [],
      livePreview: false,
      editing: null,
      actualEditing: null,
      editingModule: null,
      dialog: false,
      newModuleDialog: false,
      modulesDialog: false,
      formTitle: '',
      loading: true,
      saveLoading: false,
      uploadingImage: false,
      uploadedImage: '',
      deleteDialog: false,
      deleteCoefficient: null,
      orderChanged: false,
      editedItem: {
        slug: '',
        title: '',
        tags: [],
        content: '',
        level: '',
        code: '',
        alt: '',
        price: '',
        metaTitle: '',
        metaDescription: '',
        metaKeywords: '',
        upcoming: false,
        views: null,
        image: ''
      },
      snackbar: {
        status: false,
        content: '',
        color: '',
        icon: ''
      },
      image: null,
      imagePreview: '',
      imageErrored: false,
      imgErrors: [],
      config: {
        // The configuration of the rich-text editor.
      },
      headers: [
        {
          sortable: true,
          text: 'Course Code',
          value: 'code'
        },
        {
          sortable: true,
          text: 'Title',
          value: 'title'
        },
        {
          sortable: true,
          text: 'Categories',
          value: 'categories'
        },
        {
          sortable: true,
          text: 'Status',
          value: 'status'
        },
        {
          sortable: false,
          text: 'Modules',
          value: 'modules'
        },
        {
          sortable: true,
          text: 'Date Created',
          value: 'date'
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions'
        }
      ]
    }
  },
  created() {
    this.$axios
      .$get('/fetchCourses')
      .then(res => {
        res.reverse().forEach(v => {
          const {
            _id,
            modules,
            slug,
            title,
            tags,
            views,
            content,
            level,
            code,
            alt,
            price,
            metaTitle,
            metaDescription,
            metaKeywords,
            upcoming,
            image,
            date
          } = v
          this.courses.push({
            _id,
            modules,
            slug,
            title,
            tags,
            views,
            content,
            level,
            code,
            alt,
            price,
            metaTitle,
            metaDescription,
            metaKeywords,
            upcoming,
            image,
            date
          })
        })
      })
      .then(() => {
        this.$axios.$get('/fetchCategories').then(res => {
          this.loading = false
          res.forEach(v => {
            const { title } = v
            this.categories.push({
              value: title,
              text: title
            })
          })
        })
      })
  },
  methods: {
    openNewDialog() {
      this.dialog = true
      this.formTitle = 'Add Course'
    },
    doOrderChange() {
      this.orderChanged = true
    },
    openEditDialog(courseToEdit, index) {
      const tempModulesCategories = []
      const modulesCategories = []
      const myCourseToEdit = { ...courseToEdit }
      myCourseToEdit.modules.forEach(v => {
        if (!tempModulesCategories.includes(v.category)) {
          tempModulesCategories.push(v.category)
          modulesCategories.push({ category: v.category, modules: [] })
        }
      })
      myCourseToEdit.modules.forEach(u => {
        modulesCategories.forEach(v => {
          if (u.category === v.category) {
            v.modules.push(u)
          }
        })
      })
      setTimeout(() => {
        modulesCategories.forEach(u => {
          u.modules = u.modules.sort(compareModules)
        })
      }, 20)
      this.editing = index
      this.formTitle = 'Edit Course'
      // this.imagePreview = postToEdit.image
      this.editedItem = {
        ...courseToEdit,
        modulesCategories: modulesCategories
      }
      setTimeout(() => {
        this.dialog = true
      }, 100)
    },
    closeDialog() {
      this.orderChanged = false
      this.dialog = false
      this.image = null
      this.imagePreview = ''
      this.editedItem.image = ''
      this.editedItem = {
        title: '',
        slug: '',
        tags: [],
        content: '',
        level: '',
        code: '',
        alt: '',
        price: '',
        metaTitle: '',
        views: null,
        metaDescription: '',
        metaKeywords: '',
        upcoming: false
      }
    },
    handleImg() {
      const uploadedImage = this.$refs.image.files
      this.image = uploadedImage[0]
      this.imgErrors = []
      const reader = new FileReader()
      reader.onloadend = () => {
        this.imagePreview = reader.result
      }
      if (uploadedImage[0]) {
        reader.readAsDataURL(uploadedImage[0])
      }
      this.uploadImage()
    },
    async uploadImage() {
      this.uploadingImage = true
      const image = new FormData()
      image.append('image', this.image)
      await this.$axios
        .$post('/uploadImage', image)
        .then(res => {
          this.uploadingImage = false
          this.uploadedImage = res
          this.imageErrored = false
        })
        .catch(err => {
          this.imageErrored = true
          this.uploadingImage = false
          this.snackbar.content = /413/.test(err)
            ? 'File too large'
            : 'Error encountered while uploading image, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
        })
    },
    pickPic() {
      this.$refs.image.click()
    },
    rmvPic() {
      this.image = null
      this.imagePreview = ''
      this.editedItem.image = ''
    },
    saveOrder() {
      this.orderChanged = false
      this.editedItem.modulesCategories.forEach(u => {
        u.modules.forEach((v, i) => {
          v.category = u.category
          v.index = i
        })
      })
      console.log(this.editedItem.modulesCategories)
    },
    async saveCourse() {
      this.editedItem.title = this.editedItem.title.trim()
      this.editedItem.content = this.editedItem.content.trim()
      this.editedItem.code = this.editedItem.code.trim()
      this.editedItem.alt = this.editedItem.alt.trim()
      this.editedItem.price = this.editedItem.price.trim()
      this.editedItem.metaTitle = this.editedItem.metaTitle.trim()
      this.editedItem.metaDescription = this.editedItem.metaDescription.trim()
      this.editedItem.metaKeywords = this.editedItem.metaKeywords.trim()
      this.editedItem.metaDescription = this.editedItem.metaDescription.trim()
      if (this.editedItem.image === '' && this.imagePreview === '') {
        this.imgErrors.push('Please upload an image!')
      } else if (
        this.editedItem.title === '' ||
        this.editedItem.tags.length === 0 ||
        this.editedItem.content === '' ||
        this.editedItem.level === ''
      ) {
        this.snackbar.content = 'Please fill all compulsory fields'
        this.snackbar.color = 'error'
        this.snackbar.status = true
      } else {
        this.saveLoading = true
        if (this.editedItem._id === undefined) {
          this.editedItem.image = this.uploadedImage
          this.editedItem.date = new Date()
          this.editedItem.slug = this.editedItem.title
            .split(' ')
            .join('-')
            .toLowerCase()
          await this.$axios
            .$put('/addCourse', this.editedItem)
            .then(res => {
              this.dialog = false
              this.saveLoading = false
              this.courses = res.reverse()
              this.editedItem = {
                slug: '',
                title: '',
                tags: [],
                content: '',
                level: '',
                code: '',
                alt: '',
                price: '',
                metaTitle: '',
                views: null,
                metaDescription: '',
                metaKeywords: '',
                upcoming: false
              }
              this.snackbar.content = 'Course added successfully'
              this.snackbar.color = 'success'
              this.snackbar.status = true
            })
            .catch(() => {
              this.saveLoading = false
              this.snackbar.content =
                'Error encountered while adding course, please try again'
              this.snackbar.color = 'error'
              this.snackbar.status = true
            })
        } else {
          if (this.editedItem.image === '') {
            this.editedItem.image = this.uploadedImage
          }
          this.editedItem.slug = this.editedItem.title
            .split(' ')
            .join('-')
            .toLowerCase()
          await this.$axios
            .$patch('/saveCourse', {
              index: this.editing,
              course: this.editedItem
            })
            .then(() => {
              this.dialog = false
              this.saveLoading = false
              const myCourses = [...this.courses]
              const index = myCourses
                .reverse()
                .indexOf(this.courses[this.editing])
              Object.assign(this.courses[index], this.editedItem)
              this.snackbar.content = 'Course saved successfully'
              this.snackbar.color = 'success'
              this.snackbar.status = true
            })
            .then(() => {
              this.editedItem = {
                slug: '',
                title: '',
                tags: [],
                content: '',
                level: '',
                code: '',
                alt: '',
                price: '',
                views: null,
                metaTitle: '',
                metaDescription: '',
                metaKeywords: '',
                upcoming: false,
                image: ''
              }
            })
            .catch(err => {
              this.saveLoading = false
              this.snackbar.content =
                'Error encountered while saving course, please try again'
              this.snackbar.color = 'error'
              this.snackbar.status = true
              return err
            })
        }
      }
    },
    removeCourse(i) {
      this.deleteDialog = true
      this.deleteCoefficient = i
    },
    async confirmDelete() {
      this.saveLoading = true
      await this.$axios
        .$patch('/removeCourse', {
          id: this.courses[this.deleteCoefficient]._id
        })
        .then(() => {
          this.saveLoading = false
          this.snackbar.content = 'Course removed successfully'
          this.snackbar.color = 'success'
          this.snackbar.status = true
          this.courses.splice(this.deleteCoefficient, 1)
          this.deleteDialog = false
        })
        .catch(err => {
          this.saveLoading = false
          this.snackbar.content =
            'Error encountered while removing course, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
          this.deleteDialog = false
          return err
        })
    },
    editModules(modules, index, actualIndex) {
      this.editing = index
      this.actualEditing = actualIndex
      this.modules = modules
      setTimeout(() => {
        this.modulesDialog = true
      }, 1)
    },
    newModule() {
      this.editingModule = this.modules.length
      this.newModuleDialog = true
    },
    closeModuleDialog() {
      this.newModuleDialog = false
    },
    saveModule() {
      const { title, description, link } = this.editedModule
      this.modules[this.editingModule] = { title, description, link }
      this.newModuleDialog = false
      setTimeout(() => {
        this.editedModule.title = ''
        this.editedModule.description = ''
        this.editedModule.link = ''
      }, 2)
    },
    editModule(i) {
      this.editingModule = i
      this.editedModule = { ...this.modules[i] }
      setTimeout(() => {
        this.newModuleDialog = true
      }, 2)
    },
    async saveModules() {
      this.saveLoading = true
      await this.$axios
        .$patch('/saveModules', {
          index: this.editing,
          modules: this.modules
        })
        .then(() => {
          this.saveLoading = false
          this.snackbar.content = 'Modules modified successfully'
          this.snackbar.color = 'success'
          this.snackbar.status = true
          this.courses[this.actualEditing].modules = this.modules
        })
        .catch(() => {
          this.saveLoading = false
          this.snackbar.content =
            'Error encountered while modifying modules, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
        })
    }
  }
}
</script>

<style scoped>
</style>
