<template>
  <v-container fill-height fluid>
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
      </div>
    </v-snackbar>
    <v-dialog v-model="deleteDialog" persistent max-width="300">
      <v-card>
        <v-card-text class="subheading">
          Are you sure you want to delete this post?
        </v-card-text>
        <v-card-actions class="justify-space-between">
          <v-btn color="success" flat @click.native="deleteDialog = false">
            No
          </v-btn>
          <v-btn color="error" flat @click="confirmDelete()">
            Yes
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="secondary"
              indeterminate
            />
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="500px" persistent>
      <v-card light>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field v-model="editedItem.title" label="Post Title" solo inverted />
              </v-flex>
              <small>press the ENTER button after typing each tag</small>
              <v-flex xs12>
                <v-combobox
                  v-model="editedItem.tags"
                  :items="[]"
                  label="Tags"
                  multiple
                  chips
                  solo
                  inverted
                  append-icon
                >
                  <template v-slot:selection="data">
                    <v-chip
                      :key="JSON.stringify(data.item)"
                      :selected="data.selected"
                      :disabled="data.disabled"
                      class="v-chip--select-multi"
                      @input="data.parent.selectItem(data.item)"
                    >
                      <v-avatar
                        class="primary white--text"
                        v-text="data.item.slice(0, 1).toUpperCase()"
                      />
                      {{ data.item[0].toUpperCase() + data.item.slice(1) }}
                    </v-chip>
                  </template>
                </v-combobox>
              </v-flex>
              <v-flex xs12>
                <no-ssr>
                  <vue-editor v-model="editedItem.content" />
                </no-ssr>
                <v-switch
                  v-model="livePreview"
                  label="Live Preview"
                  color="primary"
                ></v-switch>
              </v-flex>
              <v-flex xs12>
                <div v-if="livePreview" class="Lato body-1 pa-1" style="border: #7f828b 1px solid" v-html="editedItem.content"></div>
              </v-flex>
              <v-flex xs12>
                <input
                  id="pickPic"
                  ref="image"
                  style="position:absolute; visibility: hidden"
                  :error-messages="imgErrors"
                  type="file"
                  accept="image/*"
                  @change="handleImg()"
                >
                <v-tooltip right color="primary">
                  <v-btn
                    slot="activator"
                    :disabled="imagePreview !== ''"
                    style="margin-left: auto; margin-right: auto; display: block;"
                    fab
                    color="accent"
                    @click="pickPic()"
                  >
                    <v-icon>mdi-camera-enhance</v-icon>
                  </v-btn>
                  <span>Upload Image</span>
                </v-tooltip>
                <small>Max file size: 200kb</small>
                <v-flex
                  v-if="imgErrors.length !== 0"
                  class="caption ml-3"
                  style="color:red;"
                >
                  {{ imgErrors[0] }}
                </v-flex>
              </v-flex>
              <v-flex v-if="imagePreview !== '' || (editedItem.image !== '' && editedItem.image !== undefined)" xs12>
                <v-expansion-panel inset>
                  <v-expansion-panel-content style="border: #00a685 solid 1px">
                    <div slot="header">
                      {{ image !== null ? image.name : editedItem.image !== undefined ? editedItem.image.split('/')[8] : '' }}
                      <v-progress-circular
                        v-if="uploadingImage"
                        class="ml-2"
                        :width="1.2"
                        size="24"
                        color="primary"
                        indeterminate
                      />
                      <v-tooltip v-if="imageErrored" bottom>
                        <v-btn slot="activator" icon color="error" flat @click.stop="/large/.test(snackbar.content) ? rmvPic() : uploadImage()">
                          <v-icon color="error">
                            {{ /large/.test(snackbar.content) ? 'mdi-delete' : 'mdi-upload' }}
                          </v-icon>
                        </v-btn>
                        <span>{{ /large/.test(snackbar.content) ? 'Remove Image' : 'Try again' }}</span>
                      </v-tooltip>
                    </div>
                    <v-card>
                      <v-img :src="imagePreview !== '' ? imagePreview : editedItem.image" height="200">
                        <v-btn icon color="accent" @click="rmvPic()">
                          <v-icon>mdi-close</v-icon>
                        </v-btn>
                      </v-img>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary darken-1" flat @click="closeDialog">
            Cancel
          </v-btn>
          <v-btn color="primary darken-1" flat @click="savePost">
            Save
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="primary"
              indeterminate
            />
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout wrap justify-center>
      <table-list
        :loading="loading"
        :headers="headers"
        :items="posts"
        title="Blog Posts"
        subtitle="Manage blog posts from here"
        :open-new-dialog="openNewDialog"
        :open-edit-dialog="openEditDialog"
        :remove-post="removePost"
        :edited-item="editedItem"
      />
    </v-layout>
  </v-container>
</template>

<script>
import TableList from './subviews/TableList'
export default {
  name: 'Blog',
  components: {
    TableList
  },
  data() {
    return {
      livePreview: false,
      editing: null,
      dialog: false,
      formTitle: '',
      loading: true,
      saveLoading: false,
      uploadingImage: false,
      uploadedImage: '',
      deleteDialog: false,
      deleteCoefficient: null,
      editedItem: {
        slug: '',
        title: '',
        tags: [],
        content: '',
        image: ''
      },
      snackbar: {
        status: false,
        content: '',
        color: '',
        icon: ''
      },
      image: null,
      imagePreview: '',
      imageErrored: false,
      imgErrors: [],
      headers: [
        {
          sortable: true,
          text: 'Title',
          value: 'title'
        },
        {
          sortable: true,
          text: 'Tags',
          value: 'tags'
        },
        {
          sortable: false,
          text: 'Views',
          value: 'views'
        },
        {
          sortable: true,
          text: 'Date Created',
          value: 'date'
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions'
        }
      ],
      posts: []
    }
  },
  async created() {
    await this.$axios.$get('/fetchBlog').then(res => {
      this.loading = false
      res.reverse().forEach(v => {
        const { _id, slug, title, tags, content, image, views, date } = v
        this.posts.push({
          _id,
          slug,
          title,
          tags,
          content,
          image,
          views,
          date,
          actionLoading: false
        })
      })
    })
  },
  methods: {
    openNewDialog() {
      this.image = null
      this.dialog = true
      this.formTitle = 'Add Post'
    },
    openEditDialog(postToEdit, index) {
      this.editing = index
      this.formTitle = 'Edit Post'
      // this.imagePreview = postToEdit.image
      this.editedItem = { ...postToEdit }
      setTimeout(() => {
        this.dialog = true
      }, 1)
    },
    closeDialog() {
      this.dialog = false
      this.image = null
      this.imagePreview = ''
      this.editedItem.image = ''
      this.editedItem = { slug: '', title: '', tags: [], content: '' }
    },
    handleImg() {
      const uploadedImage = this.$refs.image.files
      this.image = uploadedImage[0]
      this.imgErrors = []
      const reader = new FileReader()
      reader.onloadend = () => {
        this.imagePreview = reader.result
      }
      if (uploadedImage[0]) {
        reader.readAsDataURL(uploadedImage[0])
      }
      this.uploadImage()
    },
    async uploadImage() {
      this.uploadingImage = true
      const image = new FormData()
      image.append('image', this.image)
      await this.$axios
        .$post('/uploadImage', image)
        .then(res => {
          this.uploadingImage = false
          this.uploadedImage = res
          this.imageErrored = false
        })
        .catch(err => {
          this.imageErrored = true
          this.uploadingImage = false
          this.snackbar.content = /413/.test(err)
            ? 'File too large'
            : 'Error encountered while uploading image, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
        })
    },
    pickPic() {
      this.$refs.image.click()
    },
    rmvPic() {
      this.image = null
      this.imagePreview = ''
      this.editedItem.image = ''
    },
    async savePost() {
      this.editedItem.title = this.editedItem.title.trim()
      this.editedItem.content = this.editedItem.content.trim()
      if (this.editedItem.image === '' && this.imagePreview === '') {
        this.imgErrors.push('Please upload an image!')
      } else {
        this.saveLoading = true
        if (this.editedItem._id === undefined) {
          this.editedItem.image = this.uploadedImage
          this.editedItem.slug = this.editedItem.title
            .split(' ')
            .join('-')
            .toLowerCase()
          this.editedItem.date = new Date()
          await this.$axios
            .$put('/addPost', this.editedItem)
            .then(res => {
              this.dialog = false
              this.saveLoading = false
              this.posts = res.reverse()
              this.editedItem = { slug: '', title: '', tags: [], content: '' }
              this.snackbar.content = 'Post added successfully'
              this.snackbar.color = 'success'
              this.snackbar.status = true
            })
            .catch(() => {
              this.saveLoading = false
              this.snackbar.content =
                'Error encountered while adding post, please try again'
              this.snackbar.color = 'error'
              this.snackbar.status = true
            })
        } else {
          if (this.editedItem.image === '') {
            this.editedItem.image = this.uploadedImage
          }
          this.editedItem.slug = this.editedItem.title
            .split(' ')
            .join('-')
            .toLowerCase()
          await this.$axios
            .$patch('/savePost', {
              index: this.editing,
              post: this.editedItem
            })
            .then(() => {
              this.dialog = false
              this.saveLoading = false
              const myPosts = [...this.posts]
              const index = myPosts.reverse().indexOf(this.posts[this.editing])
              Object.assign(this.posts[index], this.editedItem)
              this.snackbar.content = 'Post saved successfully'
              this.snackbar.color = 'success'
              this.snackbar.status = true
            })
            .catch(err => {
              this.saveLoading = false
              this.snackbar.content =
                'Error encountered while saving post, please try again'
              this.snackbar.color = 'error'
              this.snackbar.status = true
              return err
            })
        }
      }
    },
    removePost(i) {
      this.deleteDialog = true
      this.deleteCoefficient = i
    },
    async confirmDelete() {
      this.saveLoading = true
      await this.$axios
        .$patch('/removePost', {
          id: this.posts[this.deleteCoefficient]._id
        })
        .then(() => {
          this.saveLoading = false
          this.snackbar.content = 'Post removed successfully'
          this.snackbar.color = 'success'
          this.snackbar.status = true
          this.posts.splice(this.deleteCoefficient, 1)
          this.deleteDialog = false
        })
        .catch(err => {
          this.saveLoading = false
          this.snackbar.content =
            'Error encountered while removing post, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
          this.deleteDialog = false
          return err
        })
    }
  }
}
</script>

<style scoped>
</style>
