<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-snackbar
      v-model="snackbar.status"
      style="margin-top: 100px;"
      :color="snackbar.color"
      :timeout="snackbar.time"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
      </div>
      <v-icon dark size="40">
        {{ snackbar.icon }}
      </v-icon>
    </v-snackbar>
    <v-layout wrap justify-center>
      <card content="Name" :data="$store.state.user.name" :icon="'mdi-account'" />
      <card content="Email" :data="$store.state.user.email" :icon="'mdi-email'" />
      <card content="Country" :data="$store.state.user.nationality" :icon="'mdi-flag'" />
      <card
        v-if="$route.path === '/profile'"
        content="Package"
        :data="subscriptionStatus"
        :icon="'mdi-package-variant-closed'"
        :cancel="cancel"
        :add="add"
      />
      <chart-card
        v-if="$route.path === '/admin/dashboard'"
        type="line"
        content="Yearly Registrations"
        info="Metrics of this year's users' registration."
        :line-data="{'2017-05-13': 2, '2017-05-14': 5, '2017-05-15': 7, '2017-05-16': 9, '2017-05-17': 25}"
      />
      <chart-card
        v-if="$route.path === '/admin/dashboard'"
        type="pie"
        content="Package Subscriptions"
        info="Metrics of users plan subscriptions."
        :pie-data="[['Monthly', 44], ['Quarterly', 23], ['Yearly', 77]]"
      />
      <table-list v-if="$route.path === '/profile'" :headers="headers" :items="subscriptions" title="Transactions" subtitle="This is a list of your transactions history." />
      <!-- <mails v-if="$route.path === '/profile'" title="Mails" subtitle="You can manage your mails from the admin here." /> -->
      <token v-if="$route.path === '/profile'" :buytokens="buytokens" :copycode="copycode" :deletecode="deletecode" :saveloading="saveloading" />
    </v-layout>
  </v-container>
</template>
<script>
import Card from '~/components/dashboard/views/subviews/Cards'
import TableList from '~/components/dashboard/views/subviews/TableList'
// import Mails from '~/components/dashboard/views/subviews/Mails'
import Token from '~/components/dashboard/views/subviews/Token'
import ChartCard from '~/components/dashboard/views/subviews/ChartCards'

export default {
  name: 'Dashboard',
  components: {
    Card,
    TableList,
    // Mails,
    Token,
    ChartCard
  },
  props: {
    subscriptions: { type: Array, default: () => [] },
    cancel: { type: Function, default: () => {} },
    add: { type: Function, default: () => {} },
    buytokens: { type: Function, default: () => {} },
    copycode: { type: Function, default: () => {} },
    deletecode: { type: Function, default: () => {} },
    saveloading: { type: Boolean, default: false }
  },
  data() {
    return {
      snackbar: {
        status: false,
        color: null,
        icon: null,
        content: null,
        time: null
      },
      headers: [
        {
          sortable: false,
          text: 'Id',
          value: 'id'
        },
        {
          sortable: false,
          text: 'Package',
          value: 'plan',
          align: 'right'
        },
        {
          sortable: false,
          text: 'Unit Price',
          value: 'unit price'
        },
        {
          sortable: false,
          text: 'Quantity',
          value: 'quantity'
        },
        {
          sortable: false,
          text: 'Total',
          value: 'total'
        },
        {
          sortable: true,
          text: 'Date',
          value: 'date'
        }
      ]
    }
  },
  computed: {
    subscriptionStatus() {
      return this.$store.state.user.plan.subscriptionType
    }
  },
  mounted() {
    this.snackbar.content = `Welcome ${this.$store.state.user.email}`
    this.snackbar.color = 'success'
    this.snackbar.icon = 'mdi-account-check-outline'
    this.snackbar.status = true
    this.snackbar.time = 5000
  },
  beforeDestroy() {},
  methods: {}
}
</script>
<style>
</style>
