<template>
  <v-container fill-height fluid>
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
      </div>
    </v-snackbar>
    <v-dialog v-model="deleteDialog" persistent max-width="300">
      <v-card>
        <v-card-text class="subheading">
          Are you sure you want to delete this post?
        </v-card-text>
        <v-card-actions class="justify-space-between">
          <v-btn color="success" flat @click.native="deleteDialog = false">
            No
          </v-btn>
          <v-btn color="error" flat @click="confirmDelete()">
            Yes
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout wrap justify-center>
      <table-list
        :headers="headers"
        :items="feedbacks"
        title="Users' Feedbacks"
        :loading="loading"
        subtitle="See what users are saying"
        :remove-post="removeFeedback"
      />
    </v-layout>
  </v-container>
</template>

<script>
import TableList from './subviews/TableList'
export default {
  name: 'Feedbacks',
  components: {
    TableList
  },
  data() {
    return {
      loading: true,
      saveLoading: false,
      deleteDialog: false,
      deleteCoefficient: null,
      snackbar: {
        status: false,
        content: '',
        color: '',
        icon: ''
      },
      headers: [
        {
          sortable: true,
          text: 'Name',
          value: 'name'
        },
        {
          sortable: false,
          align: 'center',
          text: 'Rating',
          value: 'rating'
        },
        {
          sortable: false,
          align: 'center',
          text: 'Feedback',
          value: 'feedback'
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions'
        }
      ],
      feedbacks: []
    }
  },
  async created() {
    await this.$axios.$get('/fetchFeedbacks').then(res => {
      this.loading = false
      res.reverse().forEach(v => {
        const { _id, name, rating, feedback } = v
        this.feedbacks.push({
          _id,
          name,
          rating,
          feedback,
          actionLoading: false
        })
      })
    })
  },
  methods: {
    removeFeedback(i) {
      this.deleteDialog = true
      this.deleteCoefficient = i
    },
    async confirmDelete() {
      this.saveLoading = true
      await this.$axios
        .$patch('/removeFeedback', {
          id: this.feedbacks[this.deleteCoefficient]._id
        })
        .then(() => {
          this.saveLoading = false
          this.snackbar.content = 'Feedback removed successfully'
          this.snackbar.color = 'success'
          this.snackbar.status = true
          this.feedbacks.splice(this.deleteCoefficient, 1)
          this.deleteDialog = false
        })
        .catch(() => {
          this.saveLoading = false
          this.snackbar.content =
            'Error encountered while removing feedback, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
          this.deleteDialog = false
        })
    }
  }
}
</script>

<style scoped>
</style>
