<template>
  <v-container fill-height fluid>
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
      </div>
    </v-snackbar>
    <v-dialog v-model="deleteDialog" persistent max-width="300">
      <v-card>
        <v-card-text class="subheading">
          Are you sure you want to delete this module?
        </v-card-text>
        <v-card-actions class="justify-space-between">
          <v-btn color="success" flat @click.native="deleteDialog = false">
            No
          </v-btn>
          <v-btn color="error" flat @click="confirmDelete()">
            Yes
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="secondary"
              indeterminate
            />
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog" max-width="1000px" persistent>
      <v-card light>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <span class="body-2 red--text">*All starred fields are compulsory</span>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-autocomplete
                  v-model="editedItem.course"
                  :items="actualCourses"
                  label="Course*"
                  solo
                  inverted
                >
                </v-autocomplete>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="editedItem.title" label="Module Title*" solo inverted></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-autocomplete
                  v-model="editedItem.category"
                  :items="categories"
                  label="Category*"
                  solo
                  inverted
                >
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-select
                  v-model="editedItem.type"
                  :items="['Embeded Code', 'From PC']"
                  label="Module Type*"
                  solo
                  inverted
                >
                </v-select>
              </v-flex>
              <v-flex xs12 sm8>
                <v-text-field v-model="editedItem.link" label="Video Link*" solo inverted></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-radio-group v-model="editedItem.status" label="Module Access">
                  <v-radio
                    label="Private"
                    value="private"
                  ></v-radio>
                  <v-radio
                    label="Public"
                    value="public"
                  ></v-radio>
                </v-radio-group>
              </v-flex>
              <v-flex xs6>
                <v-radio-group v-model="editedItem.paid" label="Paid/Free*">
                  <v-radio
                    label="Paid"
                    :value="true"
                  ></v-radio>
                  <v-radio
                    label="Free"
                    :value="false"
                  ></v-radio>
                </v-radio-group>
              </v-flex>
              <v-flex xs12>
                <no-ssr>
                  <vue-editor v-model="editedItem.description" placeholder="Module Description*" />
                </no-ssr>
                <v-switch
                  v-model="livePreview"
                  label="Live Preview"
                  color="primary"
                ></v-switch>
              </v-flex>
              <v-flex xs12>
                <div v-if="livePreview" class="Lato body-1 pa-1" style="border: #7f828b 1px solid" v-html="editedItem.description"></div>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary darken-1" flat @click="closeDialog">
            Cancel
          </v-btn>
          <v-btn color="primary darken-1" flat @click="saveModule">
            Save
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="primary"
              indeterminate
            />
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout wrap justify-center>
      <v-flex md12>
        <v-card style="margin-bottom: 24px; margin-top: 48px; border-radius: 3px;">
          <div
            style="position: relative; top: -20px; margin-bottom: -20px;
        padding: 0 16px; max-width: calc(100% - 32px); margin: 0 auto;"
          >
            <v-card elevation="10" class="pa-3" dark :color="color">
              <v-layout class="justify-space-between">
                <span>
                  <h4>All Modules</h4>
                  <p>Manage all modules from here</p>
                </span>
                <v-tooltip top>
                  <v-btn
                    slot="activator"
                    :color="color"
                    fab
                    small
                    @click="openNewDialog"
                  >
                    <v-icon size="40">
                      mdi-plus
                    </v-icon>
                  </v-btn>
                  <span>
                    Add a Module
                  </span>
                </v-tooltip>
              </v-layout>
            </v-card>
          </div>
          <v-card-text>
            <v-data-table
              disable-initial-sort
              :loading="loading"
              :headers="headers"
              :items="modules"
            >
              <template slot="headerCell" slot-scope="{ header }">
                <span
                  class="subheading font-weight-light text-success text--darken-3"
                  v-text="header.text"
                ></span>
              </template>
              <template slot="items" slot-scope="{ item }">
                <td>
                  {{ item.title }}
                </td>
                <td>
                  {{ item.course }}
                </td>
                <td>
                  {{ item.category }}
                </td>
                <td>
                  {{ item.upcoming ? 'Upcoming' : 'Released' }}
                </td>
                <td>
                  {{ item.type }}
                </td>
                <td>
                  <v-card-actions>
                    <v-tooltip top>
                      <v-btn slot="activator" icon flat :color="color" @click="openEditDialog(item)">
                        <v-icon>{{ 'mdi-pencil' }}</v-icon>
                      </v-btn>
                      <span>Edit</span>
                    </v-tooltip>
                    <v-tooltip top>
                      <v-btn
                        slot="activator"
                        icon
                        flat
                        :color="color"
                        @click="removeModule(item, item.course)"
                      >
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                      <span>Delete</span>
                    </v-tooltip>
                  </v-card-actions>
                </td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Modules',
  components: {},
  data() {
    return {
      livePreview: false,
      dialog: false,
      formTitle: '',
      loading: true,
      editing: null,
      saveLoading: false,
      deleteDialog: false,
      deleteCoefficient: {},
      editedItem: {
        title: '',
        course: '',
        category: '',
        status: '',
        type: '',
        description: '',
        paid: null,
        link: ''
      },
      snackbar: {
        status: false,
        content: '',
        color: '',
        icon: ''
      },
      config: {
        // The configuration of the rich-text editor.
      },
      headers: [
        {
          sortable: true,
          text: 'Title',
          value: 'title'
        },
        {
          sortable: true,
          text: 'Course',
          value: 'course'
        },
        {
          sortable: true,
          text: 'Category',
          value: 'category'
        },
        {
          sortable: false,
          text: 'Course Status',
          value: 'course status'
        },
        {
          sortable: true,
          text: 'Video Type',
          value: 'type'
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions'
        }
      ],
      categories: [],
      courses: []
    }
  },
  computed: {
    ...mapState('admin', ['color']),
    modules() {
      const modules = []
      this.courses.forEach(u => {
        u.modules.forEach(v => {
          modules.unshift({
            course: u.title,
            title: v.title,
            category: v.category,
            status: v.status,
            type: v.type,
            link: v.link,
            paid: v.paid,
            upcoming: u.upcoming,
            description: v.description
          })
        })
      })
      return modules
    },
    actualCourses() {
      const actualCourses = []
      this.courses.forEach(v => {
        actualCourses.push(v.title)
      })
      return actualCourses
    }
  },
  async created() {
    await this.$axios
      .$get('/fetchCourses')
      .then(res => {
        res.forEach(v => {
          const { title, modules, upcoming } = v
          this.courses.push({
            title,
            modules,
            upcoming
          })
        })
      })
      .then(async () => {
        await this.$axios.$get('/fetchModuleCategories').then(res => {
          this.loading = false
          res.forEach(v => {
            const { title } = v
            this.categories.push({
              value: title,
              text: title
            })
          })
        })
      })
  },
  methods: {
    openNewDialog() {
      this.dialog = true
      this.formTitle = 'Add Module'
    },
    openEditDialog(item) {
      // const myModules = this.modules.slice()
      // const index = myModules.reverse().indexOf(item)
      // const moduleToEdit = myModules[index]
      // this.editing = index
      this.formTitle = 'Edit Module'
      this.editedItem = { ...item }
      setTimeout(() => {
        const { course, ...others } = this.editedItem
        this.courses.forEach(u => {
          if (u.title === this.editedItem.course) {
            u.modules.forEach((v, i) => {
              if (
                others.title === v.title &&
                others.category === v.category &&
                others.description === v.description &&
                others.status === v.status &&
                others.type === v.type &&
                others.paid === v.paid &&
                others.link === v.link
              ) {
                this.editing = i
              }
            })
          }
        })
      }, 5)
      setTimeout(() => {
        this.dialog = true
      }, 10)
    },
    closeDialog() {
      this.dialog = false
      this.editedItem = {
        title: '',
        course: '',
        category: '',
        status: '',
        type: '',
        description: '',
        paid: null,
        link: ''
      }
    },
    async saveModule() {
      this.editedItem.title = this.editedItem.title.trim()
      this.editedItem.description = this.editedItem.description.trim()
      this.editedItem.link = this.editedItem.link.trim()
      this.saveLoading = true
      if (
        this.editedItem.course === '' ||
        this.editedItem.title === '' ||
        this.editedItem.category === '' ||
        this.editedItem.type === '' ||
        this.editedItem.paid === null ||
        this.editedItem.link === ''
      ) {
        this.snackbar.content = 'Please fill all compulsory fields'
        this.snackbar.color = 'error'
        this.snackbar.status = true
        this.saveLoading = false
      } else {
        const editedCourse = this.actualCourses.indexOf(this.editedItem.course)
        const { course, ...others } = this.editedItem
        if (this.formTitle === 'Add Module') {
          await this.$axios
            .$put('/addModule', {
              myModule: others,
              index: editedCourse
            })
            .then(res => {
              this.dialog = false
              this.saveLoading = false
              this.courses = []
              setTimeout(() => {
                res.forEach(v => {
                  const { title, modules } = v
                  this.courses.push({
                    title,
                    modules
                  })
                })
              }, 5)
              this.editedItem = {
                title: '',
                course: '',
                category: '',
                status: '',
                type: '',
                description: '',
                paid: null,
                link: ''
              }
              this.snackbar.content = 'Module added successfully'
              this.snackbar.color = 'success'
              this.snackbar.status = true
            })
            .catch(() => {
              this.saveLoading = false
              this.snackbar.content =
                'Error encountered while adding module, please try again'
              this.snackbar.color = 'error'
              this.snackbar.status = true
            })
        } else {
          await this.$axios
            .$patch('/saveModule', {
              courseIndex: editedCourse,
              moduleIndex: this.editing,
              myModule: others
            })
            .then(() => {
              this.dialog = false
              this.saveLoading = false
              Object.assign(
                this.courses[editedCourse].modules[this.editing],
                this.editedItem
              )
              this.snackbar.content = 'Module saved successfully'
              this.snackbar.color = 'success'
              this.snackbar.status = true
            })
            .then(() => {
              this.editedItem = {
                title: '',
                course: '',
                category: '',
                status: '',
                type: '',
                description: '',
                paid: null,
                link: ''
              }
            })
            .catch(err => {
              this.saveLoading = false
              this.snackbar.content =
                'Error encountered while saving module, please try again'
              this.snackbar.color = 'error'
              this.snackbar.status = true
              return err
            })
        }
      }
    },
    removeModule(module, course) {
      this.deleteDialog = true
      this.deleteCoefficient = { module: module, course: course }
    },
    async confirmDelete() {
      const course = this.courses.find(v => {
        return v.title === this.deleteCoefficient.course
      })
      const module = course.modules.find(v => {
        return (
          v.category === this.deleteCoefficient.module.category &&
          v.title === this.deleteCoefficient.module.title &&
          v.link === this.deleteCoefficient.module.link &&
          v.description === this.deleteCoefficient.module.description
        )
      })
      console.log()
      console.log()
      this.saveLoading = true
      await this.$axios
        .$patch('/removeModule', {
          courseId: this.courses.indexOf(course),
          moduleId: course.modules.indexOf(module)
        })
        .then(() => {
          this.saveLoading = false
          this.snackbar.content = 'Module removed successfully'
          this.snackbar.color = 'success'
          this.snackbar.status = true
          this.courses[this.courses.indexOf(course)].modules.splice(
            course.modules.indexOf(module),
            1
          )
          this.deleteDialog = false
        })
        .catch(err => {
          this.saveLoading = false
          this.snackbar.content =
            'Error encountered while removing module, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
          this.deleteDialog = false
          return err
        })
    }
  }
}
</script>

<style scoped>
</style>
