<template>
  <v-container fill-height fluid>
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
      </div>
    </v-snackbar>
    <v-dialog v-model="deleteDialog" persistent max-width="300">
      <v-card>
        <v-card-text class="subheading">
          Are you sure you want to delete this category?
        </v-card-text>
        <v-card-actions class="justify-space-between">
          <v-btn color="success" flat @click.native="deleteDialog = false">
            No
          </v-btn>
          <v-btn color="error" flat @click="confirmDelete()">
            Yes
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="secondary"
              indeterminate
            />
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout wrap justify-center>
      <v-flex md12>
        <v-card style="margin-bottom: 24px; margin-top: 48px; border-radius: 3px;">
          <div
            style="position: relative; top: -20px; margin-bottom: -20px;
        padding: 0 16px; max-width: calc(100% - 32px); margin: 0 auto;"
          >
            <v-card elevation="10" class="pa-3" dark :color="color">
              <v-layout class="justify-space-between">
                <span>
                  <h4>Module Categories</h4>
                  <p>Manage modules' categories from here</p>
                </span>
                <v-tooltip top>
                  <v-btn
                    slot="activator"
                    :color="color"
                    fab
                    small
                    @click="openNewDialog"
                  >
                    <v-icon size="40">
                      mdi-plus
                    </v-icon>
                  </v-btn>
                  <span>
                    Add a Category
                  </span>
                </v-tooltip>
              </v-layout>
            </v-card>
          </div>
          <v-card-text>
            <v-data-table
              disable-initial-sort
              :loading="loading"
              :headers="headers"
              :items="moduleCategories"
            >
              <template slot="headerCell" slot-scope="{ header }">
                <span
                  class="subheading font-weight-light text-success text--darken-3"
                  v-text="header.text"
                ></span>
              </template>
              <template slot="items" slot-scope="{ item }">
                <td>
                  {{ item.title }}
                </td>
                <td>
                  {{ item.course }}
                </td>
                <td>
                  <v-card-actions>
                    <v-tooltip top>
                      <v-btn slot="activator" icon flat :color="color" @click="openEditDialog(item)">
                        <v-icon>{{ 'mdi-pencil' }}</v-icon>
                      </v-btn>
                      <span>Edit</span>
                    </v-tooltip>
                    <v-tooltip top>
                      <v-btn
                        slot="activator"
                        icon
                        flat
                        :color="color"
                        @click="removeCategory(moduleCategories.indexOf(item))"
                      >
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                      <span>Delete</span>
                    </v-tooltip>
                  </v-card-actions>
                </td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-dialog v-model="catDialog" max-width="500px" persistent>
        <v-card light>
          <v-card-title>
            <span class="headline Lato">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <span class="body-2 red--text">*All starred fields are compulsory</span>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="editedItem.title" label="Category title*" solo inverted></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-autocomplete
                    v-model="editedItem.course"
                    :items="courses"
                    no-resize
                    label="Course*"
                    solo
                    inverted
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="primary darken-1" flat @click="closeDialog">
              Cancel
            </v-btn>
            <v-btn color="primary darken-1" flat @click="saveCategory">
              Save
              <v-progress-circular
                v-if="saveLoading"
                class="ml-2"
                :width="1.2"
                size="24"
                color="primary"
                indeterminate
              />
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'ModuleCategories',
  data() {
    return {
      saveLoading: false,
      loading: true,
      deleteDialog: false,
      deleteCoefficient: null,
      formTitle: '',
      snackbar: {
        status: false,
        content: '',
        color: '',
        icon: ''
      },
      editing: null,
      catDialog: false,
      editedItem: { title: '', course: '' },
      editedCourse: null,
      headers: [
        {
          sortable: true,
          text: 'Title',
          value: 'title'
        },
        {
          sortable: false,
          text: 'Course',
          value: 'course'
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions'
        }
      ],
      courses: [],
      moduleCategories: []
    }
  },
  computed: {
    ...mapState('admin', ['color'])
  },
  async created() {
    await this.$axios
      .$get('/fetchCourses')
      .then(res => {
        res.forEach(v => {
          const { title } = v
          this.courses.push({
            text: title,
            value: title
          })
        })
      })
      .then(async () => {
        await this.$axios.$get('/fetchModuleCategories').then(res => {
          this.loading = false
          res.forEach(v => {
            const { _id, title, course } = v
            this.moduleCategories.unshift({
              _id,
              title,
              course,
              actionLoading: false
            })
          })
        })
      })
  },
  methods: {
    openNewDialog() {
      this.catDialog = true
      this.formTitle = 'New Category'
    },
    openEditDialog(item) {
      const myCategories = this.moduleCategories.slice()
      const index = myCategories.reverse().indexOf(item)
      const categoryToEdit = myCategories[index]
      this.editing = index
      this.formTitle = 'Edit Category'
      this.editedItem = { ...categoryToEdit }
      setTimeout(() => {
        this.catDialog = true
      }, 1)
    },
    closeDialog() {
      this.catDialog = false
      this.editedItem = { title: '', course: '' }
    },
    async saveCategory() {
      this.editedItem.title = this.editedItem.title.trim()
      this.saveLoading = true
      if (this.editedItem.title === '' || this.editedItem.course === '') {
        this.snackbar.content = 'Please fill all compulsory fields'
        this.snackbar.color = 'error'
        this.snackbar.status = true
        this.saveLoading = false
      } else if (this.editedItem._id === undefined) {
        await this.$axios
          .$put('/addModuleCategory', this.editedItem)
          .then(res => {
            this.catDialog = false
            this.saveLoading = false
            this.moduleCategories = res.reverse()
            this.editedItem = { title: '', course: '' }
            this.snackbar.content = 'Category added successfully'
            this.snackbar.color = 'success'
            this.snackbar.status = true
          })
          .catch(() => {
            this.saveLoading = false
            this.snackbar.content =
              'Error encountered while adding category, please try again'
            this.snackbar.color = 'error'
            this.snackbar.status = true
          })
      } else {
        await this.$axios
          .$patch('/saveModuleCategory', {
            index: this.editing,
            category: this.editedItem
          })
          .then(() => {
            this.catDialog = false
            this.saveLoading = false
            const myCategories = this.moduleCategories.slice()
            const index = myCategories
              .reverse()
              .indexOf(this.moduleCategories[this.editing])
            Object.assign(this.moduleCategories[index], this.editedItem)
            this.snackbar.content = 'Category saved successfully'
            this.snackbar.color = 'success'
            this.snackbar.status = true
          })
          .then(() => {
            this.editedItem = {
              title: '',
              course: ''
            }
          })
          .catch(err => {
            this.saveLoading = false
            this.snackbar.content =
              'Error encountered while saving category, please try again'
            this.snackbar.color = 'error'
            this.snackbar.status = true
            return err
          })
      }
    },
    removeCategory(i) {
      this.deleteDialog = true
      this.deleteCoefficient = i
    },
    async confirmDelete() {
      this.saveLoading = true
      await this.$axios
        .$patch('/removeModuleCategory', {
          id: this.moduleCategories[this.deleteCoefficient]._id
        })
        .then(() => {
          this.saveLoading = false
          this.snackbar.content = 'Category removed successfully'
          this.snackbar.color = 'success'
          this.snackbar.status = true
          this.moduleCategories.splice(this.deleteCoefficient, 1)
          this.deleteDialog = false
        })
        .catch(err => {
          this.saveLoading = false
          this.snackbar.content =
            'Error encountered while removing category, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
          this.deleteDialog = false
          return err
        })
    }
  }
}
</script>

<style scoped>
</style>
