<template>
  <v-container class="grid-list-lg">
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
      </div>
    </v-snackbar>
    <v-dialog v-model="dialog" persistent max-width="300">
      <v-card>
        <v-card-text class="subheading">
          Are you sure you want to delete this package?
        </v-card-text>
        <v-card-actions class="justify-space-between">
          <v-btn color="success" flat @click.native="dialog = false">
            No
          </v-btn>
          <v-btn color="error" flat @click="confirmDelete()">
            Yes
            <v-progress-circular
              v-if="loading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="secondary"
              indeterminate
            />
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout wrap class="justify-center">
      <template v-for="i in 3">
        <v-flex
          v-if="loadingPackages"
          :key="`skeleton_${i}`"
          :style="`display: ${packages.length === 0 ? 'block' : 'none'}`"
        >
          <v-card :id="`skeleton_${i}`">
            <v-card-actions style="position: absolute; right: 0;">
              <v-btn color="grey" icon />
              <v-btn color="grey" icon />
            </v-card-actions>
            <v-card-title class="display-4 font-weight-black justify-center">
              <div style="width: 130px; height: 130px; background: grey;" />
            </v-card-title>
            <v-card-title class="headline justify-end">
              <div style="width: 200px; height: 30px; background: grey;" />
            </v-card-title>
            <v-card-text style="display: flex" class="justify-center">
              <div style="width: 270px; height: 20px; background: grey;" />
            </v-card-text>
            <div class="animate" />
          </v-card>
        </v-flex>
      </template>
      <v-flex v-for="(packagi, i) in actualPackages" :key="i" class="mt-2 mb-4">
        <v-card :id="`fullPackage_${i}`" style="overflow: hidden;">
          <v-card-actions style="position: absolute; right: 0;">
            <v-btn
              :disabled="formActive.status && formActive.coefficient !== i"
              icon
              @click="deletePackage(i)"
            >
              <v-icon :color="color">
                mdi-delete
              </v-icon>
            </v-btn>
          </v-card-actions>
          <v-card-title class="display-4 font-weight-black justify-center">
            ${{ packagi.amount / 100 }}
          </v-card-title>
          <v-card-title class="headline justify-end">
            {{ packagi.nickname }}
          </v-card-title>
          <v-card-text
            :id="`package_${i}`"
            style="position: absolute;
            padding: 10px;
                bottom: -100%;
                transition: 0.5s; height: 100%;
                background: rgba(0,0,0,0.9);
                overflow-y: scroll;
            display: flex; flex-wrap: wrap; align-items: center"
          >
            <v-text-field
              v-model="packageEdit.nickname"
              :disabled="loading"
              name="package name"
              prepend-icon="mdi-package-variant-closed"
              type="text"
              dark
              class="Lato"
              color="primary"
              placeholder="Package Name"
              solo-inverted
            ></v-text-field>
            <v-text-field
              v-model="packageEdit.amount"
              :disabled="loading"
              name="package amount"
              prepend-icon="mdi-currency-usd"
              type="number"
              dark
              class="Lato"
              color="primary"
              placeholder="Package Price"
              solo-inverted
            ></v-text-field>
            <v-select
              v-model="packageEdit.frequency"
              :items="['DAY', 'WEEK','MONTH', 'YEAR']"
              :disabled="loading"
              label="Frequency"
              prepend-icon="mdi-current-ac"
              solo-inverted
              dark
              color="primary"
            ></v-select>
            <v-text-field
              v-model="packageEdit.frequencyInterval"
              :disabled="loading"
              name="frequency interval"
              prepend-icon="mdi-reload"
              type="number"
              dark
              class="Lato"
              color="primary"
              placeholder="Frequency Interval"
              solo-inverted
            ></v-text-field>
            <v-card-actions
              style="width: 100%; margin-top: -10px"
              class="pa-0 justify-space-between"
            >
              <v-btn :disabled="loading" small color="error" @click.native="hideForm(i)">
                cancel
              </v-btn>
              <v-btn :disabled="loading" small color="primary" @click="savePackage(i)">
                done
                <v-progress-circular
                  v-if="loading"
                  class="ml-2"
                  :width="1.2"
                  size="24"
                  color="white"
                  indeterminate
                />
              </v-btn>
            </v-card-actions>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex>
        <v-card
          :ripple="newPackages.length === 0"
          :hover="newPackages.length === 0"
          @click="addPackage"
        >
          <v-card-title class="display-4 font-weight-black justify-center">
            <v-icon size="230">
              mdi-plus
            </v-icon>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'Packages',
  components: {},
  data() {
    return {
      loadingPackages: true,
      loading: false,
      snackbar: {
        status: false,
        color: null,
        content: null
      },
      dialog: false,
      deleteCoefficient: null,
      formActive: {
        coefficient: null,
        status: false
      },
      packageEdit: {
        nickname: 'New Package',
        amount: 0,
        frequency: '',
        frequencyInterval: null
      },
      packages: [],
      newPackages: []
    }
  },
  computed: {
    ...mapState('admin', ['color']),
    actualPackages() {
      return this.packages.concat(this.newPackages)
    }
  },
  async created() {
    await this.$axios
      .$get('/getPackages')
      .then(res => {
        res.data.forEach(u => {
          if (!/trial/.test(u.nickname)) {
            const { nickname, amount, id } = u
            this.packages.unshift({ nickname, amount, id })
          }
        })
        this.loadingPackages = false
      })
      .catch(() => {
        this.snackbar.content =
          'Failed to fetch packages, please reload the page.'
        this.snackbar.color = 'error'
        this.snackbar.status = true
      })
  },
  mounted() {},
  beforeDestroy() {},
  methods: {
    showForm: function (i) {
      this.formActive.coefficient = i
      this.formActive.status = true
      this.packageEdit = { ...this.actualPackages[i] }
      this.actualPackages.forEach((v, i) => {
        document.getElementById(`package_${i}`).style.bottom = '-100%'
        document.getElementById(`fullPackage_${i}`).style.overflow = 'hidden'
      })
      document.getElementById(`package_${i}`).style.bottom = '0'
      document.getElementById(`fullPackage_${i}`).style.overflow = 'visible'
    },
    hideForm: function (i, arg) {
      this.formActive.status = false
      if (arg !== false) {
        this.newPackages = []
      }
      document.getElementById(`package_${i}`).style.bottom = '-100%'
      document.getElementById(`fullPackage_${i}`).style.overflow = 'hidden'
    },
    addPackage() {
      if (this.newPackages.length === 0) {
        this.packageEdit.nickname = 'New Package'
        this.packageEdit.amount = 0
        this.packageEdit.frequency = ''
        this.packageEdit.frequencyInterval = null
        this.newPackages.push({ ...this.packageEdit })
        setTimeout(() => {
          this.showForm(this.actualPackages.length - 1)
        }, 1)
      }
    },
    async savePackage(i) {
      this.packageEdit.nickname = this.packageEdit.nickname.trim()
      this.packageEdit.amount = this.packageEdit.amount.trim()
      this.packageEdit.frequency = this.packageEdit.frequency.trim()
      this.packageEdit.frequencyInterval = this.packageEdit.frequencyInterval.trim()
      this.loading = true
      await this.$axios
        .$put('/addPackages', this.packageEdit)
        .then(res => {
          this.newPackages = []
          this.packages[i] = {
            nickname: res.nickname,
            amount: res.amount,
            id: res.id
          }
          this.loading = false
          this.snackbar.content = 'Package added successfully'
          this.snackbar.color = 'success'
          this.snackbar.status = true
          setTimeout(() => {
            this.packageEdit.nickname = 'New Package'
            this.packageEdit.amount = 0
            this.packageEdit.frequency = ''
            this.packageEdit.frequencyInterval = null
          }, 1)
          setTimeout(() => {
            this.packages = [...this.actualPackages]
          }, 2)
          setTimeout(() => {
            this.newPackages = []
          }, 3)
          this.hideForm(i, false)
        })
        .catch(() => {
          this.loading = false
          this.snackbar.content =
            'Error encountered while adding package, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
        })
    },
    deletePackage(i) {
      this.dialog = true
      this.deleteCoefficient = i
    },
    async confirmDelete() {
      this.loading = true
      await this.$axios
        .$patch('/removePackages', {
          id: this.packages[this.deleteCoefficient].id
        })
        .then(res => {
          this.loading = false
          if (res.deleted) {
            this.snackbar.content = 'Package removed successfully'
            this.snackbar.color = 'success'
            this.snackbar.status = true
            this.packages.splice(this.deleteCoefficient, 1)
            this.dialog = false
          } else {
            this.snackbar.content =
              'Error encountered while removing package, please try again'
            this.snackbar.color = 'error'
            this.snackbar.status = true
            this.dialog = false
          }
        })
        .catch(() => {
          this.loading = false
          this.snackbar.content =
            'Error encountered while removing package, please try again'
          this.snackbar.color = 'error'
          this.snackbar.status = true
          this.dialog = false
        })
    }
  }
}
</script>
<style scoped>
.animate {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.animate:empty {
  left: 40%;
  position: absolute;
  content: '';
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1s infinite;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.4) 60%,
      rgba(255, 255, 255, 0.2) 80%,
      rgba(255, 255, 255, 0)
    );
  }
}
</style>
