<template>
  <v-container fill-height fluid>
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
      </div>
      <v-icon dark size="40">
        {{ snackbar.icon }}
      </v-icon>
    </v-snackbar>
    <v-layout wrap justify-center>
      <table-list
        :loading="loading"
        :upgradable="true"
        :headers="headers"
        :items="users"
        title="Users List"
        subtitle="Manage users from here"
        :updowngrade="updowngrade"
      />
    </v-layout>
  </v-container>
</template>

<script>
import TableList from './subviews/TableList'
export default {
  name: 'Users',
  components: {
    TableList
  },
  data() {
    return {
      loading: true,
      snackbar: {
        status: false,
        content: '',
        color: '',
        icon: ''
      },
      headers: [
        {
          sortable: true,
          text: 'Name',
          value: 'name'
        },
        {
          sortable: true,
          text: 'Email',
          value: 'email'
        },
        {
          sortable: true,
          text: 'Nationality',
          value: 'nationality'
        },
        {
          sortable: false,
          text: 'Plan',
          value: 'plan'
        },
        {
          sortable: true,
          text: 'Date',
          value: 'date'
        },
        {
          sortable: false,
          text: 'Upgrade/Downgrade',
          value: 'upgrade'
        }
      ],
      users: []
    }
  },
  async created() {
    await this.$axios.$get('/fetchUsers').then(res => {
      this.loading = false
      res.forEach(v => {
        const { _id, name, email, nationality, plan, createdAt: date } = v
        this.users.push({
          _id,
          name,
          email,
          nationality,
          plan,
          date,
          actionLoading: false
        })
      })
    })
  },
  methods: {
    async updowngrade(index) {
      this.users[index].actionLoading = true
      let action
      const id = this.users[index]._id
      if (this.users[index].plan.subscriptionType === 'Premium') {
        action = 'downgrade'
      } else {
        action = 'upgrade'
      }
      await this.$axios
        .$patch('/modMembership', { id: id, action: action })
        .then(res => {
          this.users[index].actionLoading = false
          this.snackbar = {
            status: true,
            content: `Membership ${action}d successfully`,
            color: 'success',
            icon: 'mdi-account-check-outline'
          }
          action === 'upgrade'
            ? (this.users[index].plan.subscriptionType = 'Premium')
            : (this.users[index].plan.subscriptionType = 'none')
        })
        .catch(err => {
          this.users[index].actionLoading = false
          this.snackbar = {
            status: true,
            content: `Membership ${action} failed`,
            color: 'error',
            icon: 'mdi-alert-decagram-outline'
          }
          return err
        })
    }
  }
}
</script>

<style scoped>
</style>
