<template>
  <v-app :dark="(mode === 'dark' && ($route.path === '/profile' || $route.path === '/admin/dashboard')) || $route.path === '/admin/login'">
    <admin-filter v-if="$route.path === '/admin/dashboard' || $route.path === '/profile' || $route.path === '/admin/login'" />
    <admin-drawer v-if="$route.path === '/admin/dashboard'" style="z-index: 2" />
    <!--  Desktop -->
    <v-navigation-drawer
      v-model="drawer"
      :hide-overlay="true"
      dark
      floating
      :style="$route.path === '/admin/dashboard'
        ? {opacity: 0, zIndex: -1} : {width: 'unset', display: 'flex',alignItems: 'center', background: 'transparent',}"
      class="hidden-md-and-down"
      :mini-variant="true"
      clipped
      fixed
      :app="$route.path !== '/admin/dashboard' && $route.path !== '/profile'"
    >
      <v-list id="menuList" style="margin-left: -35px; margin-top: -40px;">
        <v-list-tile
          v-for="(item, i) in navItems"
          :id="'id_' + i"
          :key="i"
          :to="item.to"
          :style="loaded && ((i === 3 && $store.state.loggedIn) || (i === 4 && !$store.state.loggedIn)) ? {display: 'none'} : {}"
          append
          nuxt
          exact
          @mouseenter="hoverIt(i)"
          @mouseleave="unhoverIt(i)"
        >
          <v-list-tile-content style="opacity: 1;">
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
          <v-list-tile-action
            :id="'iconcont_' + i"
            style="justify-content: center; transition: 0.5s;"
          >
            <v-icon :id="'icon_' + i" style="transition: 0.5s" :size="item.isHovered ? '36px' : '28px'">
              {{ item.icon }}
            </v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <!--  Mobile -->
    <v-navigation-drawer
      v-if="$route.path !== '/admin/dashboard'"
      v-model="mobileDrawer"
      dark
      class="hidden-lg-and-up"
      :mini-variant="miniVariant"
      :clipped="true"
      fixed
      app
    >
      <v-toolbar flat class="transparent">
        <v-list>
          <v-list-tile
            class="mb-4"
            @click="miniVariant = !miniVariant"
          >
            <v-list-tile-action style="margin: auto">
              <v-icon>{{ miniVariant ? 'mdi-chevron-right' : 'mdi-chevron-left' }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-list-tile
            v-if="!miniVariant"
            to="/"
            nuxt
            append
            class="mb-4 pa-1 mt-2"
          >
            <v-list-tile-content>
              <v-img src="/BFL_Logo_4.png" alt="BefittingLife Academy logo" width="100%" style="position: absolute; left: 0"></v-img>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            v-if="!miniVariant"
            class="mb-4"
          >
            <v-list-tile-content>
              <v-text-field
                hide-details
                placeholder="Search for a skill to learn"
                browser-autocomplete
                solo-inverted
                append-icon="mdi-magnify"
                single-line
                @click:append="search()"
              ></v-text-field>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list style="margin-top: 160px">
        <v-list-tile
          v-for="(item, i) in navItems"
          :id="'id_' + i"
          :key="i"
          :to="item.to"
          :style="loaded && ((i === 3 && $store.state.loggedIn) || (i === 4 && !$store.state.loggedIn)) ? {display: 'none'} : {}"
          append
          nuxt
          exact
          @mouseenter="hoverIt(i)"
          @mouseleave="unhoverIt(i)"
        >
          <v-list-tile-content style="opacity: 1;">
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
          <v-list-tile-action
            :id="'iconcont_' + i"
            style="justify-content: center; transition: 0.5s;"
          >
            <v-icon :id="'icon_' + i" style="transition: 0.5s" :size="item.isHovered ? '36px' : '28px'">
              {{ item.icon }}
            </v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <admin-toolbar v-if="$route.path === '/admin/dashboard'" id="top1" style="z-index: 1" />
    <v-toolbar
      v-else
      id="top"
      :flat="offset < 70 && $route.path !== '/admin/login'"
      :style="offset < 70 && $route.path !== '/admin/login' ? {background: 'transparent', transition: '0.7s'} : {transition: '0.7s'}"
      class="pa-2"
      :clipped-left="true"
      app
      fixed
    >
      <v-toolbar-side-icon
        id="sidebtn"
        class="hidden-lg-and-up"
        :dark="offset < 70 && ($route.path === '/' || $route.path === '/about')"
        @click="mobileDrawer = !mobileDrawer"
      ></v-toolbar-side-icon>
      <v-toolbar-title class="ml-1" style="height: 100%">
        <nuxt-link to="/">
          <v-card class="elevation-4">
            <v-img src="/BFL_Logo_4.png" alt="BefittingLife Academy logo" width="200px"></v-img>
          </v-card>
        </nuxt-link>
      </v-toolbar-title>
      <v-spacer />
      <v-text-field
        v-if="(offset > 70 && $route.path === '/') || $route.path === '/courses'"
        hide-details
        placeholder="Search for a skill to learn"
        browser-autocomplete
        solo-inverted
        append-icon="mdi-magnify"
        single-line
        class="hidden-sm-and-down"
        @click:append="search()"
      ></v-text-field>
      <v-spacer />
      <v-menu
        v-if="loaded && $store.state.loggedIn"
        bottom
        transition="slide-x-transition"
        style="z-index: 99"
      >
        <v-avatar
          slot="activator"
          v-ripple
          style="margin-top: 0.2%;"
          :color="$route.path === '/admin/dashboard' || $route.path === '/profile' ? color : 'primary'"
          size="35"
        >
          <v-icon class="white--text">
            mdi-account
          </v-icon>
        </v-avatar>
        <v-list>
          <v-list-tile disabled>
            <v-list-tile-title class="text-capitalize">
              {{ $store.state.user.name }}
            </v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="logout">
            <v-list-tile-title class="error--text">
              logout
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content
      app
      :style="{ background: mode !== 'dark' && $route.path === '/profile' ? '#f5f5f5' : ''}"
      :class="[$route.path !== '/admin/dashboard' && $route.path !== '/profile'
        && $route.path !== '/admin/login' ? 'pa-0' : '', $route.path !== '/'
        && $route.path !== '/admin/dashboard' && $route.path !== '/profile'
        && $route.path !== '/admin/login' && $route.path !== '/about' ? 'pt-5' : '']"
    >
      <v-flex
        v-if="$route.path !== '/' && $route.path !== '/about'"
        style="position: fixed; z-index: 99; right: 10px; border-radius: 5px; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4)"
        class="mt-3 secondary"
      >
        <v-breadcrumbs :items="breadcrumbs" divider=">" class="pa-2" dark></v-breadcrumbs>
      </v-flex>
      <v-container
        :fill-height="$route.path === '/sign' || $route.path === '/contact' || $route.path === '/profile' || $route.path === '/admin/login'"
        style="max-width: unset"
        :class="$route.path === '/' || $route.path === '/about' ||$route.path === '/dashboard' ? 'pa-0 ma-0' : 'mt-3'"
      >
        <v-snackbar
          v-model="snackbar.status"
          :color="snackbar.color"
          :timeout="snackbar.time"
          auto-height
          right
          top
          vertical
        >
          <v-btn absolute top right icon color="secondary">
            <v-icon @click="snackbar.status = false">
              mdi-close
            </v-icon>
          </v-btn>
          <div class="Lato text-xs-center">
            {{ snackbar.content }}
          </div>
          <v-icon dark size="40">
            {{ snackbar.icon }}
          </v-icon>
        </v-snackbar>
        <v-btn
          v-if="offset >= 290"
          id="scrollUp"
          color="secondary"
          dark
          class="scrollUp"
          fab
          @click="$route.path === '/admin/dashboard' || $route.path === '/profile' ? $vuetify.goTo('#top1') : $vuetify.goTo('#top')"
        >
          <v-icon>mdi-chevron-up</v-icon>
        </v-btn>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer
      v-if="$route.path !== '/admin/dashboard' && $route.path !== '/profile' && $route.path !== '/admin/login'"
      dark
      class="teal"
      height="auto"
    >
      <v-layout wrap>
        <v-flex xs12 class="pt-5 pl-5 pr-5">
          <v-layout wrap style="align-items: center; justify-content: space-evenly">
            <v-flex xs12 sm4 md3 class="text-xs-center mb-5">
              <strong style="text-decoration: underline" class="subheading Salsa">Download The App</strong>
              <v-layout wrap mt-3>
                <v-flex xs12 class="pa-1">
                  <v-img style="margin: auto;" :src="require('~/assets/google-btn.png')" width="100px" />
                </v-flex>
                <v-flex xs12 class="pa-1">
                  <v-img style="margin: auto;" :src="require('~/assets/apple-btn.png')" width="100px" />
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm4 md3 class="text-xs-center mb-5">
              <strong style="text-decoration: underline" class="subheading Salsa">Contact Us</strong>
              <v-layout wrap mt-3>
                <v-flex xs12 pa-1>
                  Address: Albert Road, Halesowen, Birmingham, B63 4SW, UK.
                </v-flex>
                <v-flex xs12 pa-1>
                  Tel: +44.798.827.1627
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm4 md3 class="text-xs-center mb-5">
              <strong style="text-decoration: underline" class="subheading Salsa">Connect</strong>
              <v-layout class="justify-center" pa-4>
                <v-btn
                  v-for="icon in icons"
                  :key="icon"
                  class="mx-3"
                  dark
                  icon
                >
                  <v-icon size="24px">
                    {{ icon }}
                  </v-icon>
                </v-btn>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm4 md3 class="text-xs-center mb-5">
              <strong style="text-decoration: underline" class="subheading Salsa">Legals</strong>
              <v-layout wrap mt-3 pa-2>
                <v-flex xs12 pa-1>
                  <nuxt-link to="/privacy-policies" style="text-decoration: none" class="white--text">
                    Privacy Policy
                  </nuxt-link>
                </v-flex>
                <v-flex xs12 pa-1>
                  <nuxt-link to="/terms-conditions" style="text-decoration: none" class="white--text">
                    Terms & Conditions
                  </nuxt-link>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12 class="secondary darken-1 text-xs-center Lato">
          &copy;{{ new Date().getFullYear() }}  — <strong class="Salsa">{{ title }}</strong>
        </v-flex>
      </v-layout>
    </v-footer>
    <admin-footer v-if="$route.path === '/admin/dashboard' || $route.path === '/profile' || $route.path === '/admin/login'" />
    <feedback v-if="$route.path !== '/admin/dashboard' && $route.path !== '/profile' && $route.path !== '/admin/login'" :loaded="loaded" style="z-index: 100;" />
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import Feedback from '~/components/Feedback.vue'
import AdminFilter from '~/components/dashboard/Filter.vue'
import AdminToolbar from '~/components/dashboard/Toolbar.vue'
import AdminDrawer from '~/components/dashboard/Drawer.vue'
import AdminFooter from '~/components/dashboard/Footer.vue'
const Cookie = process.client ? require('js-cookie') : undefined
export default {
  components: {
    Feedback,
    AdminFilter,
    AdminToolbar,
    AdminDrawer,
    AdminFooter
    // FingerprintSpinner
  },
  data() {
    return {
      offset: 0,
      loaded: false,
      drawer: true,
      mobileDrawer: false,
      miniVariant: true,
      right: true,
      title: 'BefittingLife Academy',
      snackbar: {
        status: false,
        color: null,
        icon: null,
        content: null,
        time: 3000
      },
      navItems: [
        {
          icon: 'mdi-home',
          title: 'Welcome',
          to: '/',
          isHovered: false
        },
        {
          icon: 'mdi-library',
          title: 'Courses',
          to: '/courses?cat=All',
          isHovered: false
        },
        {
          icon: 'mdi-chat',
          title: 'Blog',
          to: '/blog',
          isHovered: false
        },
        {
          icon: 'mdi-account',
          title: 'SignUp/SignIn',
          to: '/sign',
          isHovered: false
        },
        {
          icon: 'mdi-view-dashboard',
          title: 'Dashhboard',
          to: this.decideRoute(),
          isHovered: false
        },
        {
          icon: 'mdi-information',
          title: 'About Us',
          to: '/about',
          isHovered: false
        },
        {
          icon: 'mdi-email-variant',
          title: 'Contact Us',
          to: '/contact',
          isHovered: false
        }
      ],
      icons: ['mdi-facebook', 'mdi-google-plus', 'mdi-linkedin'],
      breadcrumbs: []
    }
  },
  computed: {
    ...mapState('admin', ['mode', 'image', 'color'])
  },
  beforeUpdate() {
    this.$axios.setToken(this.$store.state.token, 'Bearer')
    const breadcrumb = this.$route.path.split('/')
    if (/admin/.test(this.$route.path)) {
      breadcrumb.pop()
    }
    const breadcrumbs = []
    breadcrumb[0] = 'home'
    for (let i = 0; i < breadcrumb.length; i++) {
      breadcrumbs.push({
        text: breadcrumb[i].slice(0, 1).toUpperCase() + breadcrumb[i].slice(1),
        disabled: i === breadcrumb.length - 1,
        href: i === 0 ? '/' : '/' + breadcrumb[i],
        nuxt: true
      })
    }
    this.breadcrumbs = breadcrumbs
  },
  mounted() {
    if (Cookie.get('theme') === undefined || Cookie.get('theme') === {}) {
      Cookie.set(
        'theme',
        {
          mode: this.mode,
          color: this.color,
          image: this.image
        },
        { expires: 18250 }
      )
    } else {
      const theme = Cookie.getJSON('theme')
      this.$store.commit('admin/setColor', theme.color)
      this.$store.commit('admin/setImage', theme.image)
      this.$store.commit('admin/setMode', theme.mode)
    }
    window.addEventListener('scroll', this.scroll)
    if (this.$route.path !== '/admin/dashboard') {
      this.fix()
    }
    this.loaded = true
  },
  methods: {
    search() {
      alert('search')
    },
    scroll() {
      this.offset = window.pageYOffset
    },
    fix: function () {
      for (let i = 0; i < this.navItems.length; i++) {
        if (document.getElementById(`id_${i}`)) {
          document.getElementById(`id_${i}`).style.width = '80px'
          document.getElementById(`id_${i}`).style.transition = '0.3s'
          document.getElementById(`id_${i}`).style.paddingRight = 'unset'
          document.getElementById(`id_${i}`).style.paddingLeft = '32px'
          document.getElementById(`id_${i}`).style.borderBottomRightRadius =
            '50px'
          document.getElementById(`id_${i}`).style.borderTopRightRadius = '50px'
          // document.getElementById(`id_${i}`).style.background = '#47494e'
          document.getElementById(`id_${i}`).style.background = '#334455'
          document.getElementById(`iconcont_${i}`).style.borderRadius = '50px'
        }
      }
    },
    hoverIt: function (i) {
      document.getElementById('menuList').style.marginLeft = 'unset'
      document.getElementById(`id_${i}`).style.width = '200px'
      document.getElementById(`iconcont_${i}`).classList.add('sideIconsCont')
      document.getElementById(`icon_${i}`).classList.add('sideIcons')
      this.navItems[i].isHovered = true
    },
    unhoverIt: function (i) {
      document.getElementById('menuList').style.marginLeft = '-35px'
      document.getElementById(`id_${i}`).style.width = '80px'
      document.getElementById(`iconcont_${i}`).classList.remove('sideIconsCont')
      document.getElementById(`icon_${i}`).classList.remove('sideIcons')
      this.navItems[i].isHovered = false
    },
    decideRoute() {
      if (
        this.$store.state.loggedIn &&
        this.$store.state.user.email === 'admin@befittinglife.com'
      ) {
        return '/admin/dashboard'
      } else {
        return '/profile'
      }
    },
    logout() {
      this.snackbar.content = 'Logout Successful'
      this.snackbar.color = 'secondary'
      this.snackbar.icon = 'mdi-account-check-outline'
      this.snackbar.status = true
      this.$router.push('/logout')
      Cookie.remove('auth')
      this.$store.commit('setUser', null)
      this.$store.commit('setToken', null)
    }
  }
}
</script>

<style scoped>
aside {
  animation: 2s;
}
.sideIcons {
  color: #ffffff !important;
}
.sideIconsCont {
  background: #00a685 !important;
}

.v-list__tile--active > .v-list__tile__action > .v-icon {
  color: inherit;
}
.scrollUp {
  z-index: 99 !important;
  position: fixed !important;
  right: 15px !important;
  top: 75% !important;
}
#scrollUp {
  top: 70% !important;
  right: 5px !important;
}
</style>
