<template>
  <v-layout class="justify-space-around" wrap>
    <v-flex xs11 md3 class="mt-4">
      <v-container grid-list-xl class="pa-0">
        <v-layout wrap>
          <v-flex>
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" flat color="primary">
                    <v-toolbar-title class="Salsa white--text">
                      Popular Posts
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-list v-if="popularPosts.length > 0" two-line>
                    <template v-for="(article, i) in popularPosts">
                      <nuxt-link :key="i" :to="'/blog/'+article.slug" style="text-decoration: none;">
                        <v-list-tile ripple class="listItem">
                          <v-list-tile-avatar>
                            <img :src="article.image" :alt="article.alt">
                          </v-list-tile-avatar>
                          <v-list-tile-content>
                            <v-list-tile-title class="black--text">
                              {{ article.title }}
                            </v-list-tile-title>
                            <v-list-tile-sub-title style="height: 20px;" class="text-truncate grey--text" v-html="article.content">
                            </v-list-tile-sub-title>
                          </v-list-tile-content>
                        </v-list-tile>
                      </nuxt-link>
                    </template>
                  </v-list>
                  <v-card-text v-else class="text-xs-center grey--text Lato title">
                    No Posts at this moment
                  </v-card-text>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
          <v-flex>
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" flat color="primary">
                    <v-toolbar-title class="Salsa white--text">
                      Categories
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-list style="height: 300px; overflow-y: scroll;">
                    <v-list-tile
                      v-for="(item, i) in categories"
                      :key="i"
                      :to="'/courses?cat='+item"
                    >
                      {{ item }}
                    </v-list-tile>
                  </v-list>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
    <v-flex xs12 md8>
      <v-container fluid fill-height>
        <v-card>
          <v-layout wrap justify-center>
            <v-flex xs12>
              <v-img :src="image" :alt="slug" width="100%" style="cursor: default" />
            </v-flex>
            <v-flex xs12>
              <v-container class="pb-1">
                <v-layout row wrap>
                  <v-flex>
                    <v-chip v-for="(tag, j) in tags" :key="j" small>
                      <v-avatar
                        color="primary"
                        class="white--text"
                        v-text="tag.slice(0, 1).toUpperCase()"
                      ></v-avatar>
                      {{ tag }}
                    </v-chip>
                  </v-flex>
                  <v-flex>
                    <v-card-text class="time grey--text text-xs-right body-1">
                      {{ new Date(date).toLocaleString() }}
                    </v-card-text>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
            <v-flex xs12>
              <v-container class="pt-1">
                <div class="Salsa-100 primary--text" style="font-size: 24px">
                  {{ title }}
                </div>
              </v-container>
            </v-flex>
            <v-flex xs12>
              <v-card-text class="Lato subheading pl-4 pr-4 text-xs-justify" v-html="content" />
            </v-flex>
          </v-layout>
        </v-card>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import config from '~/conf'
export default {
  name: 'Watch',
  computed: {},
  async asyncData({ params, error }) {
    const blogRes = await config.get(`/fetchPost/${params.slug}`)
    const popularPosts = await config.get(`/fetchPopularPosts/${params.slug}`)
    const category = await config.get('/fetchCategories')
    const categories = []
    category.data.forEach(v => {
      categories.push(v.title)
    })
    return {
      ...blogRes.data.post,
      index: blogRes.data.identity,
      popularPosts: popularPosts.data,
      categories: ['All', ...categories]
    }
  },
  async mounted() {
    setTimeout(() => {
      document.getElementsByClassName(
        'v-expansion-panel__header'
      )[0].style.padding = '0'
      document.getElementsByClassName(
        'v-expansion-panel__header'
      )[1].style.padding = '0'
    }, 100)
    await this.$axios.$patch('/incrementPostReads', { index: this.index })
  },
  methods: {
    loaded() {
      this.loaded = true
    }
  }
}
</script>
