<template>
  <v-layout class="justify-space-around" wrap>
    <v-flex xs11 md3 class="mt-4">
      <v-card>
        <v-expansion-panel>
          <v-expansion-panel-content ripple>
            <v-toolbar slot="header" flat color="primary">
              <v-toolbar-title class="Salsa white--text">
                Popular Posts
              </v-toolbar-title>
            </v-toolbar>
            <v-list v-if="popularPosts.length > 0" two-line>
              <template v-for="(article, i) in popularPosts">
                <nuxt-link :key="i" :to="'/blog/'+article.slug" style="text-decoration: none;">
                  <v-list-tile ripple class="listItem">
                    <v-list-tile-avatar>
                      <img :src="article.image" :alt="article.alt">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title class="black--text">
                        {{ article.title }}
                      </v-list-tile-title>
                      <v-list-tile-sub-title style="height: 20px;" class="text-truncate grey--text" v-html="article.content">
                      </v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </nuxt-link>
              </template>
            </v-list>
            <v-card-text v-else class="text-xs-center grey--text Lato title">
              No Posts at this moment
            </v-card-text>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-card>
    </v-flex>
    <v-flex xs12 md8>
      <v-container grid-list-xl>
        <div
          v-if="articles.length === 0 && !loading"
          class="text-xs-center display-2"
        >
          Sorry, There are no posts at this moment
        </div>
        <v-layout v-if="loading" wrap>
          <v-flex
            v-for="(n, i) in 6"
            :key="i"
            xs12
            :class="{'md6': layout[i] === 2,
                     'md4': layout[i] === 3}"
            :size="layout[i]"
          >
            <v-card :id="`skeleton_${i}`">
              <v-card-title>
                <div style="width: 100%; height: 120px; left: 0; top: 0; background: rgba(0,0,0,0.4); position: absolute;">
                  <div style="width: 65px; height: 25px; border-radius: 20px; background: rgba(0,0,0,0.1); position:absolute; right: 15px; top: 10px;"></div>
                  <div style="width: 65px; height: 25px; border-radius: 20px; background: rgba(0,0,0,0.1); position:absolute; right: 85px; top: 10px;"></div>
                  <div style="width: 100px; height: 30px; right: 15px; top: 45px; background: rgba(0,0,0,0.1); position: absolute;"></div>
                  <div style="width: 150px; height: 20px; right: 15px; top: 85px; background: rgba(0,0,0,0.1); position: absolute;"></div>
                </div>
              </v-card-title>
              <v-card-title>
                <div style="width: 100%; height: 150px; background: grey; margin-top: 72px">
                  <v-btn color="grey" style="position:absolute; right: 20px; bottom: 20px" small />
                </div>
              </v-card-title>
              <v-card-actions style="position: absolute; right: 0;">
                <!--<v-btn color="grey" icon />-->
              </v-card-actions>
              <div class="animate"></div>
            </v-card>
          </v-flex>
        </v-layout>
        <v-layout v-if="!loading" wrap>
          <v-flex
            v-for="(article, i) in articles"
            :key="i"
            xs12
          >
            <v-card elevation="10">
              <v-layout wrap class="ma-0">
                <v-flex xs12 md4 style="display: flex; align-items: center" class="pr-0">
                  <v-img
                    :src="article.image"
                    :alt="article.alt"
                    height="120px"
                    width="120px"
                    gradient="rgba(0, 0, 0, .02), rgba(0, 0, 0, .02)"
                  >
                    <nuxt-link
                      :to="'/blog/'+article.slug"
                      style="width: 100%; height: 100%; display: block;"
                    ></nuxt-link>
                  </v-img>
                </v-flex>
                <v-flex xs12 md8 class="pl-0 pt-1 pb-1 mt-3">
                  <v-card-text
                    :id="`article_${i}`"
                    class="text-xs-justify pb-1 pt-0"
                  >
                    <h3 class="title font-weight-bold mb-1 Salsa">
                      <nuxt-link :to="'/blog/'+article.slug" style="text-decoration: none;">
                        {{ article.title }}
                      </nuxt-link>
                    </h3>
                    <div class="my-content Lato-300 subheading" v-html="article.content"></div>
                  </v-card-text>
                  <v-flex xs12 class="pt-1 pb-1">
                    <v-chip v-for="(tag, j) in article.tags" :key="j" small>
                      <v-avatar
                        color="primary"
                        class="white--text"
                        v-text="tag.slice(0, 1).toUpperCase()"
                      />
                      {{ tag }}
                    </v-chip>
                    <v-flex class="caption">
                      {{ new Date(article.date).toLocaleString() }}
                      <br>
                    </v-flex>
                  </v-flex>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex xs12 class="text-xs-center mt-5 mb-5">
            <v-pagination
              v-if="articles.length !== 0"
              v-model="otherPage"
              :length="pages"
              color="secondary"
              @input="input"
            ></v-pagination>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import config from '~/conf'
export default {
  components: {},
  data() {
    return {
      loading: false,
      page: 1,
      otherPage: 1,
      layout: [2, 2, 1, 2, 2, 3, 3, 3, 2, 2]
    }
  },
  computed: {
    articles() {
      const chunks = this.chunk(
        this.paginatedArticles[this.page - 1].articles,
        10
      )
      chunks.forEach(u => {
        u.forEach((v, i) => {
          this.layout.forEach((w, j) => {
            if (i === j) {
              v.layout = w
            }
          })
        })
      })
      let articles = []
      chunks.forEach(v => {
        articles = articles.concat(v)
      })
      return articles
    }
  },
  async asyncData() {
    const count = await config.get('/getBlogCount')
    const post = await config.get(`/fetchBlog?skip=0`)
    const popularPosts = await config.get('/fetchPopularPosts')
    const paginatedArticles = []
    post.data.reverse().forEach(v => {
      const { _id, slug, title, tags, content, image, views, date } = v
      paginatedArticles.push({
        _id,
        slug,
        title,
        tags,
        content,
        image,
        views,
        date
      })
    })
    return {
      pages: Math.ceil(count.data.blog / 10),
      paginatedArticles: [{ page: 1, articles: paginatedArticles }],
      popularPosts: popularPosts.data
    }
  },
  mounted() {
    setTimeout(() => {
      document.getElementsByClassName(
        'v-expansion-panel__header'
      )[0].style.padding = '0'
    }, 100)
  },
  methods: {
    chunk(array, size) {
      const chunkedArr = []
      let index = 0
      while (index < array.length) {
        chunkedArr.push(array.slice(index, size + index))
        index += size
      }
      return chunkedArr
    },
    async input() {
      const articles = this.paginatedArticles.find(v => {
        return v.page === this.otherPage
      })
      if (articles === undefined) {
        this.loading = true
        const paginatedArticles = []
        await this.$axios
          .$get(`/fetchBlog?skip=${(this.otherPage - 1) * 10}`)
          .then(res => {
            res.reverse().forEach(v => {
              const { _id, slug, title, tags, content, image, views, date } = v
              paginatedArticles.push({
                _id,
                slug,
                title,
                tags,
                content,
                image,
                views,
                date
              })
            })
            this.paginatedArticles.push({
              page: this.otherPage,
              articles: paginatedArticles
            })
            this.page = this.otherPage
            this.loading = false
          })
      } else {
        this.page = this.otherPage
      }
    }
  }
}
</script>

<style scoped>
.v-responsive {
  cursor: default !important;
}
.listItem:hover {
  background: rgba(0, 0, 0, 0.04);
  transition: 1s;
}
.listItem {
  transition: 1s;
}
.my-content {
  height: 20px;
  overflow-y: hidden;
  position: relative;
  /*line-height: 2em;*/
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.my-content:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.my-content:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: black;
}
.animate {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.animate:empty {
  left: 40%;
  position: absolute;
  content: '';
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1s infinite;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.4) 60%,
      rgba(255, 255, 255, 0.2) 80%,
      rgba(255, 255, 255, 0)
    );
  }
}
</style>
