<template>
  <div>
    <loader v-if="loading" fluid />
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      :timeout="snackbar.time"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
        <div>{{ snackbar.addition }}</div>
      </div>
      <v-icon dark size="40">
        {{ snackbar.icon }}
      </v-icon>
      <v-btn v-if="snackbar.addAction" class="text--secondary Lato" style="justify-content: center" @click="reMail">
        Resend Mail
      </v-btn>
    </v-snackbar>
    <div
      :style="{backgroundImage: `url(${require('~/assets/about.jpg')})`,
               height: '50vh', backgroundSize: 'cover', backgroundPosition: 'center' }"
      class="bg pt-5"
    >
      <v-layout
        column
        align-center
        justify-center
        class="white--text pb-5"
        style="margin-top: 8%;"
      >
        <h1 class="Salsa mb-2 display-3 text-xs-center mt-4 secondary--text">
          {{ title }}
        </h1>
      </v-layout>
    </div>
    <v-layout
      column
      wrap
      class="mt-5"
      align-center
    >
    </v-layout>
    <v-container>
      <v-layout>
        <v-flex class="mt-5 mb-5" xs12>
          <v-layout
            v-for="(about, i) in abouts"
            :key="i"
            class="mb-5"
            row
            wrap
            align-center
            justify-space-around
          >
            <v-flex v-if="i === 1 || i === 3" class="hidden-xs-only" xs12 sm5>
              <v-img :src="about.img" />
            </v-flex>
            <v-flex class="hidden-sm-and-up" xs12 sm5>
              <v-img :src="about.img" />
            </v-flex>
            <v-flex xs12 sm5>
              <v-card class="transparent" elevation="0">
                <v-card-title class="headline Salsa">
                  {{ about.title }}
                </v-card-title>
                <v-card-text class="Lato font-weight-regular text-xs-justify">
                  {{ about.content }}
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex v-if="i === 0 || i === 2" class="hidden-xs-only" xs12 sm5>
              <v-img :src="about.img" />
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout v-if="feedbacks.length > 0" column wrap class="mt-5 pt-5 justify-center" style="margin-bottom: 200px;">
        <h2 class="mb-5 display-1 text-xs-center Salsa">
          Feedbacks
        </h2>
        <v-layout style="margin-top: 70px; height: 380px;" class="justify-center">
          <v-flex id="feedback" xs12 sm6 style="transition: 0.5s;">
            <v-card dark class="primary" style="box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.3) inset, -1px -1px 5px rgba(0, 0, 0, 0.3) inset;">
              <v-layout class="justify-center">
                <v-avatar size="200">
                  <v-icon
                    style="background: white; position: absolute; top: -40%;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);"
                    size="200"
                    color="primary"
                  >
                    mdi-format-quote-close
                  </v-icon>
                </v-avatar>
              </v-layout>
              <blockquote class="blockquote Lato text-xs-center" style="margin-top: -50px">
                {{ feedbacks[activeFeedback].feedback }}
              </blockquote>
              <v-card-actions class="title Salsa secondary">
                <v-icon
                  v-for="i in feedbacks[activeFeedback].rating"
                  :key="i"
                  color="primary"
                  medium
                >
                  mdi-star-circle
                </v-icon>
                <v-card-text class="text-xs-right">
                  {{ feedbacks[activeFeedback].name }}
                </v-card-text>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Loader from '~/components/Loader'
export default {
  components: {
    Loader
    // VuetifyLogo
  },
  data: function () {
    return {
      loading: true,
      title: 'ABOUT US',
      abouts: [
        {
          title: 'Who we are?',
          content:
            'We are a team of professionals with convictions and goals that are transformational. Our ' +
            'thrust hinges on the belief that majority of people never invest on themselves. We all ' +
            'need to invest in our most important possession; which is our MINDS. This singular fact ' +
            'culminated in the birth of BefittingLife.com.\n' +
            '\n' +
            'We are poised to providing the best skills set developments possible, in almost all spheres ' +
            'of life; from the best experts in the world.\n' +
            '\n' +
            'Words of Wisdom:\n' +
            '\n' +
            '"Formal education would make you a living but self-education will make you a fortune" - Jim Rohn\n' +
            '\n' +
            '“Your life does not get better by chance, it gets better by change” – Jim Rohn\n' +
            '\n' +
            '"Education is the most powerful weapon which you can use to change the world." - Nelson Mandela\n' +
            '\n' +
            '"It is the heart that makes a man rich.  He is rich according to what he is, not according to what ' +
            'he has......" - Henry Ward Beecher',
          img: require('~/assets/about.jpg')
        },
        {
          title: 'Our vision',
          content:
            'To be the leading provider of integrated skills development platform in the whole world. ' +
            'In order to attain this, we will direct our attention to emerging and trending skill sets, as well ' +
            'as, bringing alive any old but relevant skills; in the most relevant and modern ways.\n' +
            '\n' +
            'Our Vision is derived from this wonderful quote:\n' +
            '\n' +
            '"A man with a good coat upon his back meets with a better reception than he who has a bad one."- ' +
            'Samuel Johnson',
          img: require('~/assets/vision.jpg')
        },
        {
          title: 'Our mission',
          content:
            'We are daily driven and motivated by our dreams and inner convictions that no one is ever too ' +
            'old to learn something from someone, especially if that someone is an expert in the field. It is ' +
            'our desire to help people experience the level of success they never dreamed is possible in their ' +
            'lives. We are here to help you achieve successes in your professions, careers, businesses, or any ' +
            'callings that you might find yourself in.\n' +
            '\n' +
            'Words of Wisdom:\n' +
            '\n' +
            '"Whatever the mind of man can conceive and believe it, he can achieve. Thoughts are things! And ' +
            'powerful things at that, when mixed with definiteness of purpose, and burning desire, can be ' +
            'translated into riches." - Napoleon Hill',
          img: require('~/assets/mission.jpg')
        },
        {
          title: 'Our role',
          content:
            'Our basic role at BefittingLife.com is to ensure that all barriers militating against self-education' +
            ' are removed. Barriers such as geographical boundaries, the need for locations or learning premises, ' +
            'inability to have 24/7 interactions with learning platforms, time delay in progress reports and ' +
            'feedbacks, et cetera et cetera. All these barriers are virtually removed by the opportunities ' +
            'presented by our eLearning platform.\n\nYou Deserve a Befitting Life... Attain ' +
            'Your Goals, Achieve and Exceed Your Dreams... It Is Your Right to Transform Your Life Today!\n\n' +
            'Word of Wisdom:\n\n"Wisdom is knowing the right path to take, Integrity is taking it" M. H. McKee',
          img: require('~/assets/role.jpg')
        }
      ],
      plans: [
        {
          title: 'Monthly',
          desc: 'one month',
          price: '10'
        },
        {
          title: 'Quaterly',
          desc: 'three months',
          price: '26'
        },
        {
          title: 'Yearly',
          desc: 'one year',
          price: '96'
        }
      ],
      activeFeedback: 0,
      snackbar: {
        status: false,
        color: null,
        icon: null,
        content: null,
        addition: null,
        addAction: false,
        time: null
      }
    }
  },
  computed: {
    ...mapState(['feedbacks'])
  },
  mounted() {
    setTimeout(() => {
      this.loading = false
      if (
        this.$route.path === '/' &&
        document.getElementById('feedback') !== null
      ) {
        setInterval(() => {
          document.getElementById('feedback').style.opacity = '0'
          setTimeout(() => {
            if (this.activeFeedback === this.feedbacks.length - 1) {
              this.activeFeedback = 0
            } else {
              this.activeFeedback += 1
            }
            document.getElementById('feedback').style.opacity = '1'
          }, 700)
        }, 5000)
      }
    }, 200)
  },
  methods: {
    scroll() {
      this.offset = window.pageYOffset
    }
  }
}
</script>

<style scoped>
@media only screen and (max-width: 576px) {
  .bg {
    height: auto;
  }
}
.bg-cover {
  height: 50vh;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.me:hover {
  bottom: 0;
}
.scaleUp {
  transform: scale(1);
}
</style>
