<template>
  <v-layout style="height: unset;" align-center justify-center wrap class="pb-3 mt-5">
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      :timeout="snackbar.time"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
        <div>{{ snackbar.addition }}</div>
      </div>
      <v-icon dark size="40">
        {{ snackbar.icon }}
      </v-icon>
    </v-snackbar>
    <v-flex class="primary white--text" xs12 sm6>
      <v-card dark class="elevation-12" :img="require('~/assets/beautiful.jpg')">
        <v-toolbar color="primary" style="border-top-left-radius: 50px; border-bottom-right-radius: 50px;">
          <v-toolbar-title class="Salsa white--text headline">
            CONTACT FORM
          </v-toolbar-title>
        </v-toolbar>
        <div style="background: rgba(0,0,0,0.3)">
          <v-card-text>
            <v-form ref="form" v-model="form" class="pa-4">
              <v-flex>
                <v-text-field
                  id="email"
                  v-model="email"
                  class="Lato"
                  color="primary"
                  placeholder="Email"
                  prepend-icon="mdi-email"
                  solo-inverted
                  :rules="checkEmail"
                ></v-text-field>
              </v-flex>
              <v-flex>
                <v-text-field
                  id="subject"
                  v-model="subject"
                  class="Lato"
                  color="primary"
                  placeholder="Subject"
                  prepend-icon="mdi-text-subject"
                  solo-inverted
                  :rules="checkSubject"
                ></v-text-field>
              </v-flex>
              <v-flex>
                <v-textarea
                  id="message"
                  v-model="message"
                  solo-inverted
                  color="primary"
                  no-resize
                  counter="300"
                  rows="10"
                  :rules="[checkLength]"
                  prepend-icon="mdi-chat"
                  class="Lato"
                  placeholder="Message"
                ></v-textarea>
              </v-flex>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn class="Lato" color="primary" @click="submit">
              send
              <v-progress-circular
                v-if="sendLoading"
                class="ml-2"
                :width="1.2"
                size="24"
                color="secondary"
                indeterminate
              ></v-progress-circular>
            </v-btn>
            <!-- <v-btn color="primary" @click="recover">recover password</v-btn> -->
          </v-card-actions>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
// import axios from '~/plugins/axios'
// import io from 'socket.io-client'
export default {
  name: 'Contact',
  data() {
    return {
      form: true,
      sendLoading: false,
      snackbar: {
        status: false,
        color: null,
        icon: null,
        content: null,
        addition: null,
        time: 3000
      },
      email: '',
      subject: '',
      message: '',
      checkEmail: [v => !!v || 'Please input your email address.'],
      checkSubject: [v => !!v || 'Please input a subject.']
    }
  },
  methods: {
    checkLength() {
      return this.message.length > 300
        ? 'Maximum message length exceeded!'
        : this.message.length === 0
          ? 'Please type a messages.'
          : true
    },
    async submit() {
      if (this.$refs.form.validate()) {
        this.sendLoading = true
        await this.$axios
          .$post('/contactMail', {
            email: this.email,
            subject: this.subject,
            message: this.message
          })
          .then(() => {
            this.snackbar.color = 'success'
            this.snackbar.content = 'Mail Sent.'
            this.snackbar.icon = 'mdi-email-check-outline'
            this.snackbar.status = true
            this.sendLoading = false
            this.email = ''
            this.subjecct = ''
            this.message = ''
          })
          .catch(() => {
            this.snackbar.color = 'error'
            this.snackbar.content = 'Mail Not Sent.'
            this.snackbar.addition = 'Please try again.'
            this.snackbar.icon = 'mdi-email-alert'
            this.snackbar.status = true
            this.sendLoading = false
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
