<template>
  <div>
    <loader v-if="mainLoading" fluid />
    <v-snackbar
      v-model="snackbar.status"
      :color="snackbar.color"
      :timeout="snackbar.time"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar.status = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ snackbar.content }}
        <div>{{ snackbar.addition }}</div>
      </div>
      <v-icon dark size="40">
        {{ snackbar.icon }}
      </v-icon>
      <v-btn v-if="snackbar.addAction" class="text--secondary Lato" style="justify-content: center" @click="reMail">
        Resend Mail
      </v-btn>
      <v-btn v-if="snackbar.addAction" class="text--secondary Lato" style="justify-content: center" nuxt to="/sign">
        Go To Login
      </v-btn>
    </v-snackbar>
    <div
      :style="{ backgroundImage: `url(${require('~/assets/bg.jpg')})`, height: '75vh', backgroundSize: 'cover',
                backgroundPosition: 'center' }"
      class="bg pt-5"
    >
      <v-layout
        column
        align-center
        justify-center
        class="white--text pb-5"
        style="margin-top: 8%;"
        wrap
      >
        <v-flex style="min-width: 300px; width: 55%">
          <v-text-field
            :dark="$route.path === '/'"
            hide-details
            placeholder="Search for a skill to learn"
            browser-autocomplete
            solo-inverted
            append-icon="mdi-magnify"
            single-line
            @click:append="search()"
          ></v-text-field>
        </v-flex>
        <h1 class="Salsa mb-2 display-3 text-xs-center mt-4">
          {{ title }}
        </h1>
        <div class="subheading mb-3 text-xs-center Salsa">
          Investing in MINDS
        </div>
        <v-btn
          class="Lato primary mt-5"
          nuxt
          to="/sign?trial=true"
          dark
          large
        >
          SignUp for 7 days free trial
        </v-btn>
      </v-layout>
    </div>
    <v-layout
      column
      wrap
      class="mt-5"
      align-center
    >
      <v-flex xs12 sm4 class="mt-5">
        <div class="text-xs-center">
          <h2 class="display-1 Salsa">
            The best place to start growing
          </h2>
          <span class="subheading Salsa">
            Empowering the MIND
          </span>
        </div>
      </v-flex>
      <v-flex class="mb-5" xs12>
        <v-container grid-list-xl>
          <v-layout row wrap align-center justify-center>
            <v-flex v-for="(feature, i) in features" :key="i" xs12 sm6 md4>
              <v-card class="elevation-0 transparent">
                <v-img :src="feature.image" width="40%" style="margin: auto;">
                </v-img>
                <v-card-text class="text-xs-center">
                  <!--                  <v-icon x-large color="primary">-->
                  <!--                    {{ feature.icon }}-->
                  <!--                  </v-icon>-->
                </v-card-text>
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline text-xs-center Salsa">
                    {{ feature.title }}
                  </div>
                </v-card-title>
                <v-card-text class="Lato font-weight-regular text-xs-justify">
                  {{ feature.desc }}
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <v-container grid-list-xl>
      <v-layout wrap class="mt-5">
        <v-flex xs12 class="text-xs-center mb-3">
          <h1 class="Salsa display-1">
            Featured Courses
          </h1>
        </v-flex>
        <v-layout xs12 class="justify-center" style="margin-bottom: 100px">
          <v-flex xs12 sm9 class="text-xs-center">
            <span class="subheading Lato">Lorem ipsum dolor sit amet, consectetur adipisicing elit.t solutLorem
              ipsum dolor sit amet, consectetur adipisicing elit.t
              soluta? Architecto impedit provident quasi rem soluta.</span>
          </v-flex>
        </v-layout>
        <v-flex xs12>
          <v-tabs fixed-tabs>
            <v-tab
              v-for="n in 3"
              :key="n"
            >
              Item {{ n }}
            </v-tab>
          </v-tabs>
        </v-flex>
        <v-flex v-for="(category, i) in categories" :key="i" xs12 sm6 lg4>
          <v-card hover class="cat-cards" style="cursor: default;">
            <v-img :src="category.image" max-height="150px" style="cursor: default;"></v-img>
            <v-card-title class="title Lato">
              {{ category.title }}
            </v-card-title>
            <v-card-text class="grey--text my-cards-content">
              {{ category.description }}
            </v-card-text>
            <v-card-actions class="primary--text title Salsa my-cards-content">
              <v-btn color="primary">
                Watch Now
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container grid-list-xl>
      <v-layout wrap class="mt-5">
        <v-flex xs12 class="text-xs-center mb-3">
          <h1 class="Salsa display-1">
            Recent Posts
          </h1>
        </v-flex>
        <v-layout xs12 class="justify-center" style="margin-bottom: 100px">
          <v-flex xs12 sm9 class="text-xs-center">
            <span class="subheading Lato">Lorem ipsum dolor sit amet, consectetur adipisicing elit.t s
              olutLorem ipsum dolor sit amet, consectetur adipisicing elit.t
              soluta? Architecto impedit provident quasi rem soluta.</span>
          </v-flex>
        </v-layout>
        <v-flex v-for="(category, i) in categories" :key="i" xs12 sm6 lg4>
          <v-card hover class="cat-cards">
            <v-img :src="category.image" max-height="150px" style="cursor: default;"></v-img>
            <v-card-title class="title Lato">
              {{ category.title }}
            </v-card-title>
            <v-card-text class="grey--text my-cards-content">
              {{ category.description }}
            </v-card-text>
            <v-card-actions class="primary--text title Salsa my-cards-content">
              <v-btn color="primary">
                Read Now
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container grid-list-xl>
      <v-layout wrap class="mt-5">
        <v-flex xs12 class="text-xs-center mb-3">
          <h1 class="Salsa display-1">
            Our Course Categories
          </h1>
        </v-flex>
        <v-layout xs12 class="justify-center" style="margin-bottom: 100px">
          <v-flex xs12 sm9 class="text-xs-center">
            <span class="subheading Lato">Lorem ipsum dolor sit amet, consectetur adipisicing elit.t solutLorem ipsum dolor sit amet, consectetur adipisicing elit.t
              soluta? Architecto impedit provident quasi rem soluta.</span>
          </v-flex>
        </v-layout>
        <v-flex v-for="(category, i) in categories" :key="i" xs12 sm6 lg4>
          <v-card hover class="cat-cards">
            <v-img :src="category.image" max-height="150px" style="cursor: default;"></v-img>
            <v-card-title class="title Lato">
              {{ category.title }}
            </v-card-title>
            <v-card-text class="grey--text my-cards-content">
              {{ category.description }}
            </v-card-text>
            <v-card-text class="primary--text title Salsa my-cards-content">
              {{ category.count }} Courses
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container>
      <v-layout v-if="feedbacks.length > 0" column wrap class="mt-5 justify-center">
        <h2 class="mb-5 display-1 text-xs-center Salsa">
          Feedbacks
        </h2>
        <v-layout style="margin-top: 70px; height: 380px;" class="justify-center">
          <v-flex id="feedback" xs12 sm6 style="transition: 0.5s;">
            <v-card dark class="primary" style="box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.3) inset, -1px -1px 5px rgba(0, 0, 0, 0.3) inset;">
              <v-layout class="justify-center">
                <v-avatar size="200">
                  <v-icon
                    style="background: white; position: absolute; top: -40%;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);"
                    size="200"
                    color="primary"
                  >
                    mdi-format-quote-close
                  </v-icon>
                </v-avatar>
              </v-layout>
              <blockquote class="blockquote Lato text-xs-center" style="margin-top: -50px">
                {{ feedbacks[activeFeedback].feedback }}
              </blockquote>
              <v-card-actions class="title Salsa secondary">
                <v-icon
                  v-for="i in feedbacks[activeFeedback].rating"
                  :key="i"
                  color="primary"
                  medium
                >
                  mdi-star-circle
                </v-icon>
                <v-card-text class="text-xs-right">
                  {{ feedbacks[activeFeedback].name }}
                </v-card-text>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
    <v-container>
      <v-layout column wrap class="pt-5 mb-3 primary white--text">
        <v-flex xs12>
          <h2 class="display-1 text-xs-center Salsa">
            Packages
          </h2>
        </v-flex>
        <v-flex class="mt-2">
          <v-container class="text-xs-center headline Lato-300">
            Earn more discounts for more than one user's subscription.
          </v-container>
        </v-flex>
        <v-flex class="mt-5" xs12>
          <v-container grid-list-xs>
            <v-layout row justify-center wrap>
              <v-flex
                v-for="(plan, i) in plans"
                :key="i"
                :style="i !== 0? 'margin-left: -4%' : ''"
                :class="i !== 0 ? `mt-${i+3}` : ''"
                xs12
                sm4
              >
                <v-card class="pb-3" elevation="14">
                  <v-card-title class="pb-0" style="justify-content: center;">
                    <h3>
                      {{ plan.title }}
                    </h3>
                  </v-card-title>
                  <v-card-text class="grey--text text-xs-center pt-1">
                    Unlimited access for {{ plan.desc }}
                  </v-card-text>
                  <v-card-text style="word-spacing: -12px;" class="display-3 font-weight-bold text-xs-center primary--text">
                    <sup>$</sup>
                    {{ plan.price }}
                    <span class="grey--text body-2 font-weight-bold">
                      /user
                    </span>
                  </v-card-text>
                  <v-card-text class="pb-0 text-xs-center subheading">
                    300+ Audio Lessons
                  </v-card-text>
                  <v-card-text class="pb-0 pt-2 text-xs-center subheading">
                    800+ Video Lessons
                  </v-card-text>
                  <v-card-text class="pt-2 text-xs-center subheading">
                    Online Support
                  </v-card-text>
                  <v-card-actions style="justify-content: center" class="mt-5">
                    <v-btn outline round color="primary" class="Salsa">
                      CHOOSE PACKAGE
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout wrap class="mt-5 pt-5 mb-3">
        <v-flex xs12 lg6>
          <v-layout wrap class="primary justify-center" style="padding: 100px 20px;">
            <v-flex xs12 sm8 class="headline Lato-300 white--text pa-3">
              <h1 class="Salsa display-1">
                Join BefittingLife Academy Now!
              </h1>
              <div class="subheading Lato mt-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scel
                erisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.
              </div>
            </v-flex>
            <v-flex class="primary white--text mt-5" xs12 sm8>
              <v-card dark class="elevation-12" :img="require('~/assets/beautiful.jpg')">
                <v-toolbar
                  color="primary"
                  style="border-top-left-radius: 50px; border-bottom-right-radius: 50px;"
                >
                  <v-toolbar-title
                    class="Salsa white--text headline"
                  >
                    REGISTRATION FORM
                  </v-toolbar-title>
                </v-toolbar>
                <div style="background: rgba(0,0,0,0.3)">
                  <v-card-text>
                    <v-form ref="form" v-model="form">
                      <v-layout justify-space-around>
                        <v-flex>
                          <v-text-field
                            id="fullname"
                            v-model="fullname"
                            name="name"
                            color="primary"
                            placeholder="Full Name"
                            prepend-icon="mdi-account"
                            :disabled="snackbar.status"
                            solo-inverted
                            clearable
                            :rules="checkName"
                            class="Lato"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout row justify-space-around>
                        <v-flex>
                          <v-text-field
                            id="email"
                            v-model="email"
                            name="email"
                            color="primary"
                            placeholder="Email"
                            prepend-icon="mdi-account-key"
                            :disabled="snackbar.status"
                            solo-inverted
                            clearable
                            :rules="checkEmail"
                            class="Lato"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-layout wrap justify-space-around>
                        <v-flex>
                          <v-text-field
                            id="password"
                            v-model="password"
                            name="password"
                            prepend-icon="mdi-lock"
                            :append-icon="passIcon ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="passIcon ? 'password' : 'text'"
                            clearable
                            :rules="checkPassFormat"
                            class="Lato"
                            color="primary"
                            placeholder="Password"
                            solo-inverted
                            :disabled="snackbar.status"
                            @click:append="passIcon = !passIcon"
                          >
                          </v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <v-btn
                      class="Lato"
                      color="primary"
                      @click="register"
                    >
                      SignUp for 7 days free trial
                      <v-progress-circular
                        v-if="loading"
                        class="ml-2"
                        :width="1.2"
                        size="24"
                        color="secondary"
                        indeterminate
                      ></v-progress-circular>
                    </v-btn>
                  </v-card-actions>
                </div>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12 lg6 class="hidden-sm-and-down">
          <v-img :src="require('~/assets/signup-bg.jpg')" style="cursor: default; height: 100%;"></v-img>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import register from '~/mixins/register'
import Loader from '~/components/Loader'
export default {
  components: {
    Loader
    // VuetifyLogo
  },
  mixins: [register],
  data: function () {
    return {
      mainLoading: true,
      title: 'BefittingLife Academy',
      features: [
        {
          title: 'Affordability',
          icon: 'mdi-currency-usd',
          image: require('~/assets/affordable.svg'),
          desc:
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid laboriosam magnam similique?' +
            'At magni nisi officiis voluptate! Beatae illum non velit? Aspernatur dolor hic modi ratione sit' +
            'sunt nisi officiis voluptate! Beatae illum non velit? Asper'
        },
        {
          title: 'Productivity',
          icon: 'mdi-chart-line',
          image: require('~/assets/analytics.svg'),
          desc:
            'Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.' +
            'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.' +
            'Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.'
        },
        {
          title: 'Accessibility',
          icon: 'mdi-web',
          image: require('~/assets/accessibility.svg'),
          desc:
            'Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.' +
            'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.' +
            'Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.'
        }
      ],
      categories: [
        {
          title: 'IT Development',
          description: 'Lorem ipsum dolor sit amet, consectetur',
          image: require('~/assets/about.jpg'),
          count: 120
        },
        {
          title: 'Web Design',
          description: 'Lorem ipsum dolor sit amet, consectetur',
          image: require('~/assets/vision.jpg'),
          count: 75
        },
        {
          title: 'Illustration & Drawing',
          description: 'Lorem ipsum dolor sit amet, consectetur',
          image: require('~/assets/mission.jpg'),
          count: 55
        },
        {
          title: 'Social Media',
          description: 'Lorem ipsum dolor sit amet, consectetur',
          image: require('~/assets/connection.jpg'),
          count: 40
        },
        {
          title: 'Finance',
          description: 'Lorem ipsum dolor sit amet, consectetur',
          image: require('~/assets/role.jpg'),
          count: 226
        },
        {
          title: 'Management',
          description: 'Lorem ipsum dolor sit amet, consectetur',
          image: require('~/assets/beautiful.jpg'),
          count: 28
        }
      ],
      plans: [
        {
          title: 'Monthly',
          desc: 'one month',
          price: '10'
        },
        {
          title: 'Quaterly',
          desc: 'three months',
          price: '26'
        },
        {
          title: 'Yearly',
          desc: 'one year',
          price: '96'
        }
      ],
      activeFeedback: 0,
      snackbar: {
        status: false,
        color: null,
        icon: null,
        content: null,
        addition: null,
        addAction: false,
        time: null
      }
    }
  },
  computed: {
    ...mapState(['feedbacks'])
  },
  mounted() {
    setTimeout(() => {
      this.mainLoading = false
      if (document.getElementById('feedback')) {
        setInterval(() => {
          document.getElementById('feedback').style.opacity = '0'
          setTimeout(() => {
            if (this.activeFeedback === this.feedbacks.length - 1) {
              this.activeFeedback = 0
            } else {
              this.activeFeedback += 1
            }
            document.getElementById('feedback').style.opacity = '1'
          }, 700)
        }, 5000)
      }
    }, 200)
  },
  methods: {
    scroll() {
      this.offset = window.pageYOffset
    }
  }
}
</script>

<style scoped>
@media only screen and (max-width: 576px) {
  .bg {
    height: auto;
  }
}
.me:hover {
  bottom: 0;
}
.scaleUp {
  transform: scale(1);
}
.cat-cards:hover {
  background-color: #00a685;
  color: #ffffff;
}
.cat-cards:hover .my-cards-content {
  color: #ffffff !important;
}
</style>
