<template>
  <v-container>
    <v-flex class="display-2 Salsa mb-3">
      Privacy Statement
    </v-flex>
    <v-flex class="display-1 Salsa mb-2">
      Mobile Applications
    </v-flex>
    <p>
      This privacy policy governs your use of the software application App BefittingLife Academy (“Application”) for
      mobile devices that was created by Developer <a href="https://play.google.com/store/apps/developer?id=xcityworld">XCityWorld</a>. The Application is Basic description of
      the app (features, functionality and content).
    </p>
    <v-flex class="display-1 Salsa mt-2">
      What information does the Application obtain and how is it used?
    </v-flex>
    <v-flex class="headline Salsa mt-2">
      User Provided Information
    </v-flex>
    <v-flex>
      <p>
        The Application obtains the information you provide when you download and register the Application. Registration with us
        is optional. However, please keep in mind that you may not be able to use some of the features offered by the Application unless you register with us.
      </p>
      <p>
        When you register with us and use the Application, you generally provide (a) your name, email address, age, user
        name, password and other registration information; (b) transaction-related information, such as when you make
        purchases, respond to any offers, or download or use applications from us; (c) information you provide us when
        you contact us for help; (d) credit card information for purchase and use of the Application, and; (e)
        information you enter into our system when using the Application, such as contact information and project
        management information.
      </p>
      <p>
        We may also use the information you provided us to contact your from time to time to provide you with important
        information, required notices and marketing promotions.
      </p>
    </v-flex>
    <v-flex class="display-1 Salsa mt-2">
      Automatically Collected Information
    </v-flex>
    <v-flex>
      <p>
        In addition, the Application may collect certain information automatically, including, but not limited to, the
        type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your
        mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application.
      </p>
      <v-flex class="headline Salsa mt-2">
        Does the Application collect precise real time location information of the device?
      </v-flex>
      <p>
        This Application does not collect precise information about the location of your mobile device.
      </p>
      <v-flex class="headline Salsa mt-2">
        Do third parties see and/or have access to information obtained by the Application?
      </v-flex>
      <p>
        Only aggregated, anonymized data is periodically transmitted to external services to help us improve the Application
        and our service. We will share your information with third parties only in the ways that are described in this privacy statement.
      </p>
      <v-flex class="headline Salsa mt-2">
        We may disclose User Provided and Automatically Collected Information:
      </v-flex>
      <p>
        as required by law, such as to comply with a subpoena, or similar legal process;
      </p>
      <p>
        when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety
        of others, investigate fraud, or respond to a government request;
      </p>
      <p>
        with our trusted services providers who work on our behalf, do not have an independent use of the information we
        disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.
      </p>
      <p>
        if Developer Company Name is involved in a merger, acquisition, or sale of all or a portion of its assets,
        you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of
        this information, as well as any choices you may have regarding this information.
      </p>
    </v-flex>
    <v-flex class="display-1 Salsa mt-2">
      What are my opt-out rights?
    </v-flex>
    <p>
      You can stop all collection of information by the Application easily by uninstalling the Application. You may use
      the standard uninstall processes as may be available as part of your mobile device or via the mobile application
      marketplace or network. You can also request to opt-out via email, at privacy@applicationsite.com.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Data Retention Policy, Managing Your Information
    </v-flex>
    <p>
      We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We
      will retain Automatically Collected information for up to 24 months and thereafter may store it in aggregate.
      If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at
      privacy@applicationsite.com and we will respond in a reasonable time. Please note that some or all of the User
      Provided Data may be required in order for the Application to function properly.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Children
    </v-flex>
    <p>
      We do not use the Application to knowingly solicit data from or market to children under the age of 13. If a parent
      or guardian becomes aware that his or her child has provided us with information without their consent,
      he or she should contact us at privacy@applicationsite.com. We will delete such information from our files within a reasonable time.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Security
    </v-flex>
    <p>
      We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, a
      nd procedural safeguards to protect information we process and maintain. For example, we limit access to this
      information to authorized employees and contractors who need to know that information in order to operate, develop
      or improve our Application. Please be aware that, although we endeavor provide reasonable security for information we
      process and maintain, no security system can prevent all potential security breaches.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Changes
    </v-flex>
    <p>
      This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy
      Policy by posting the new Privacy Policy here and informing you via email or text message. You are advised to
      consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.
      You can check the history of this policy by clicking here.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Your Consent
    </v-flex>
    <p>
      By using the Application, you are consenting to our processing of your information as set forth in this Privacy
      Policy now and as amended by us. "Processing,” means using cookies on a computer/hand held device or using or touching
      information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing
      information, all of which activities will take place in the United States. If you reside outside the United States your
      information will be transferred, processed and stored there under United States privacy standards.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Contact us
    </v-flex>
    <p>
      If you have any questions regarding privacy while using the Application, or have questions about our practices,
      please contact us via email at
      <a href="mailto:privacy@applicationsite.com">
        privacy@applicationsite.com
      </a>
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Other Part Of The Policy Statement
    </v-flex>
    <p>
      This privacy policy is for this website [<a href="https://befittinglife.com/">befittinglife.com</a>] and served by [Befitting Life] and governs the privacy
      of its users who choose to use it. The policy sets out the different areas where user privacy
      is concerned and outlines the obligations and requirements of the users, the website and website owners.
      Furthermore, the way this website processes, stores and protects user data and information will also be detailed within this policy.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      The Website
    </v-flex>
    <p>
      This website and its owners take a proactive approach to user privacy and ensure the necessary steps are taken to
      protect the privacy of its users throughout their visiting experience. This website complies to all UK national
      laws and requirements for user privacy.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Use of Cookies
    </v-flex>
    <p>
      This website uses cookies to better the users experience while visiting the website. Where applicable this website
      uses a cookie control system allowing the user on their first visit to the website to allow or disallow the use of
      cookies on their computer/device. This complies with recent legislation requirements for websites to obtain explicit
      consent from users before leaving behind or reading files such as cookies on a user's computer/device.
    </p>
    <p>
      Cookies are small files saved to the user's computer’s hard drive that track, save and store information about the
      user's interactions and usage of the website. This allows the website, through its server to provide the users with a
      tailored experience within this website.
    </p>
    <p>
      Users are advised that if they wish to deny the use and saving of cookies from this website on to their computers
      hard drive they should take necessary steps within their web browsers security settings to block all cookies from this
      website and its external serving vendors.
    </p>
    <p>
      This website uses tracking software to monitor its visitors to better understand how they use it. This software is
      provided by Google Analytics which uses cookies to track visitor usage. The software will save a cookie to your
      computer’s hard drive in order to track and monitor your engagement and usage of the website, but will not store,
      save or collect personal information. You can read Google's privacy policy here for further information [<a
        href="https://www.google.com/privacy.html"
      >https://www.google.com/privacy.html</a>].
    </p>
    <p>
      Other cookies may be stored to your computer’s hard drive by external vendors when this website uses referral programs,
      sponsored links or adverts. Such cookies are used for conversion and referral tracking and typically expire after 30 days,
      though some may take longer. No personal information is stored, saved or collected.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Contact and Communication
    </v-flex>
    <p>
      Users contacting this website and/or its owners do so at their own discretion and provide any such personal details
      requested at their own risk. Your personal information is kept private and stored securely until a time it is no longer
      required or has no use, as detailed in the Data Protection Act 1998. Every effort has been made to ensure a safe and
      secure form to email submission process but advise users using such form to email processes that they do so at their own risk.
    </p>
    <p>
      This website and its owners use any information submitted to provide you with further information about the
      products/services they offer or to assist you in answering any questions or queries you may have submitted.
      This includes using your details to subscribe you to any email newsletter program the website operates but only if
      this was made clear to you and your express permission was granted when submitting any form to email process. Or
      whereby you the consumer have previously purchased from or enquired about purchasing from the company a product or
      service that the email newsletter relates to. This is by no means an entire list of your user rights in regard to receiving
      email marketing material. Your details are not passed on to any third parties.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Email Newsletter
    </v-flex>
    <p>
      This website operates an email newsletter program, used to inform subscribers about products and services supplied by
      this website. Users can subscribe through an online automated process should they wish to do so but do so at their
      own discretion. Some subscriptions may be manually processed through prior written agreement with the user.
    </p>
    <p>
      Subscriptions are taken in compliance with UK Spam Laws detailed in the Privacy and Electronic Communications
      Regulations 2003. All personal details relating to subscriptions are held securely and in accordance with the
      Data Protection Act 1998. No personal details are passed on to third parties nor shared with companies / people
      outside of the company that operates this website. Under the Data Protection Act 1998 you may request a copy of
      personal information held about you by this website's email newsletter program. A small fee will be payable. If you would
      like a copy of the information held on you, please write to the business address at the bottom of this policy.
    </p>
    <p>
      Email marketing campaigns published by this website or its owners may contain tracking facilities within the actual
      email. Subscriber activity is tracked and stored in a database for future analysis and evaluation. Such tracked activity
      may include; the opening of emails, forwarding of emails, the clicking of links within the email content, times, dates
      and frequency of activity [this is by no far a comprehensive list]. This information is used to refine future email campaigns
      and supply the user with more relevant content based around their activity.
    </p>
    <p>
      In compliance with UK Spam Laws and the Privacy and Electronic Communications Regulations 2003 subscribers are
      given the opportunity to unsubscribe at any time through an automated system. This process is detailed at the
      footer of each email campaign. If an automated unsubscription system is unavailable clear instructions on how to
      unsubscribe will by detailed instead.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      External Links
    </v-flex>
    <p>
      Although this website only looks to include quality, safe and relevant external links, users are advised
      adopt a policy of caution before clicking any external web links mentioned throughout this website.
      (External links are clickable text/banner/image links to other websites, similar to; <a href="https://www.brooksesolutions.com/">www.brooksesolutions.com</a> and
      <a href="https://www.brooksesolutions.com/">Pembrokeshire Windows</a>.) The owners of this website cannot guarantee or verify the contents of any externally
      linked website despite their best efforts. Users should therefore note they click on external links at their own risk
      and this website and its owners cannot be held liable for any damages or implications caused by visiting any external
      links mentioned.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Adverts and Sponsored Links
    </v-flex>
    <p>
      This website may contain sponsored links and adverts. These will typically be served through our advertising partners,
      to whom may have detailed privacy policies relating directly to the adverts they serve.
    </p>
    <p>
      Clicking on any such adverts will send you to the advertisers’ website through a referral program which may use
      cookies and will track the number of referrals sent from this website. This may include the use of cookies which may
      in turn be saved on your computer’s hard drive. Users should therefore note they click on sponsored external links
      at their own risk and this website and its owners cannot be held liable for any damages or implications caused by
      visiting any external links mentioned.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Social Media Platforms
    </v-flex>
    <p>
      Communication, engagement and actions taken through external social media platforms that this website and its owners
      participate on are custom to the terms and conditions as well as the privacy policies held with each social media
      platform respectively.
    </p>
    <p>
      Users are advised to use social media platforms wisely and communicate / engage upon them with due care and caution
      in regard to their own privacy and personal details. This website nor its owners will ever ask for personal or sensitive
      information through social media platforms and encourage users wishing to discuss sensitive details to contact them through
      primary communication channels such as by telephone or email.
    </p>
    <p>
      This website may use social sharing buttons which help share web content directly from web pages to the social
      media platform in question. Users are advised before using such social sharing buttons that they do so at their
      own discretion and note that the social media platform may track and save your request to share a web page respectively
      through your social media platform account.
    </p>

    <v-flex class="display-1 Salsa mt-2">
      Shortened Links in Social Media
    </v-flex>
    <p>
      This website and its owners through their social media platform accounts may share web links to relevant web pages.
      By default, some social media platforms shorten lengthy URLs [web addresses] (this is an example: <a>https://bit.ly/zyVUBo</a>).
    </p>
    <p>
      Users are advised to take caution and good judgement before clicking any shortened URLs published on social media
      platforms by this website and its owners. Despite the best efforts to ensure only genuine URLs are published
      many social media platforms are prone to spam and hacking and therefore this website and its owners cannot be
      held liable for any damages or implications caused by visiting any shortened links.
    </p>
    <v-flex class="display-1 Salsa mt-2">
      Resources and Further Information
    </v-flex>
    <v-flex><a href="https://www.legislation.gov.uk/ukpga/1998/29/contents">Data Protection Act 1998</a></v-flex>
    <v-flex><a href="https://www.legislation.gov.uk/uksi/2003/2426/contents/made">Privacy and Electronic Communications Regulations 2003</a></v-flex>
    <v-flex><a href="https://templatearchive.com/guide-to-the-privacy-latest/">Privacy and Electronic Communications Regulations 2003 - The Guide</a></v-flex>
    <v-flex><a href="https://twitter.com/privacy">Twitter Privacy Policy</a></v-flex>
    <v-flex><a href="https://www.facebook.com/about/privacy/">Facebook Privacy Policy</a></v-flex>
    <v-flex><a href="https://www.google.com/privacy.html">Google Privacy Policy</a></v-flex>
    <v-flex><a href="https://www.linkedin.com/static?key=privacy_policy">LinkedIn Privacy Policy</a></v-flex>
    <v-flex><a href="https://mailchimp.com/legal/privacy/">Mail Chimp Privacy Policy</a></v-flex>
    <v-flex><a href="https://www.jamieking.co.uk/website-design.html">Web Design Pembrokeshire</a></v-flex>
    <v-flex><a href="https://www.jamieking.co.uk/resources/free_sample_privacy_policy.html">Website Privacy Policy</a></v-flex>
    <v-flex><a href="https://jamieking.co.uk/kb/task-manager-project-planner-template.html">Project Planner Template</a></v-flex>
    <v-flex class="font-weight-bold">
      v.2.0 July 2016 Edited and customised by: ###Befitting Life, Albert Road, Halesowen, B63 4SW, Birmingham, UK ###
    </v-flex>
    Contact Us: <a href="mailto:support@befittinglife.com">info@befittinglife.com</a>
  </v-container>
</template>

<script>
export default {
  name: 'PrivacyPolicy',
  data() {
    return {}
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
