<template>
  <v-layout v-if="$store.state.loggedIn">
    <loader v-if="loading" class="hidden-md-and-up" />
    <v-dialog v-model="cancelDialog" persistent max-width="300">
      <v-card>
        <v-card-text class="subheading">
          Are you sure you want to cancel your subscription?
        </v-card-text>
        <v-card-text
          class="caption"
        >
          Note: Cancelling your subscription does not cancel your active access, i t only stops the automatic billing.
        </v-card-text>
        <v-card-actions class="justify-space-between">
          <v-btn color="success" flat @click.native="cancelDialog = false">
            No
          </v-btn>
          <v-btn color="error" flat @click="confirmCancel()">
            Yes
            <v-progress-circular
              v-if="cancelLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="primary"
              indeterminate
            />
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="successAlert"
      :color="alertColor"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="successAlert = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        {{ alertMessage }}
      </div>
      <v-icon dark size="40">
        mdi-checkbox-marked-circle-outline
      </v-icon>
    </v-snackbar>
    <v-dialog v-model="dialog" max-width="600px" lazy>
      <v-card
        v-if="user.phone === undefined || user.nationality === undefined ||
          user.phone === null || user.nationality === null ||
          user.phone === '' || user.nationality === ''"
        dark
      >
        <v-card-title>
          <span class="headline Lato">Complete Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-autocomplete
                  v-model="details.nationality"
                  :items="countries"
                  item-text="name"
                  item-value="name"
                  label="Country"
                  solo-inverted
                  @change="fillPhone()"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field v-model="details.phone" label="Phone" solo-inverted></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary darken-1" flat @click="submitDetails()">
            Save
            <v-progress-circular
              v-if="saveLoading"
              class="ml-2"
              :width="1.2"
              size="24"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card
        v-else
        dark
      >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn icon @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-title>
          <span class="headline Lato">Subscription Method</span>
        </v-card-title>
        <v-card-text>
          <v-card-title>
            <span
              class="title Lato"
            >{{ token ? 'Select package to buy' : 'Select Subscription' }}</span>
          </v-card-title>
          <v-card-text
            v-if="token"
            class="caption"
          >
            Note: This payment is a one-time payment and will not recur.
          </v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-select
                  v-model="subscriptionType"
                  :items="actualPackages"
                  label="Subscription Type"
                  solo-inverted
                  @change="modPrice()"
                ></v-select>
              </v-flex>
              <v-flex v-if="token" xs12 sm6>
                <v-select
                  v-model="quantity"
                  :items="[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"
                  label="Quantity"
                  solo-inverted
                  @change="modPrice()"
                ></v-select>
              </v-flex>
              <v-flex xs12 sm6>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </v-flex>
              <v-flex>
                <template v-for="(packagi, i) in packages">
                  <button
                    v-if="packagi.nickname === subscriptionType"
                    :id="`checkout-button-${packagi.id}`"
                    :key="i"
                    style="background-color:#00a685;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    role="link"
                    :disabled="token && quantity === 0"
                    @click="subscribe(packagi.id)"
                  >
                    {{ token ? 'Buy for' : 'Subscribe for' }}
                    <b>${{ token ? price : packagi.amount / 100 }}</b>
                    <v-progress-circular
                      v-if="saveLoading"
                      class="ml-2"
                      :width="1.2"
                      size="24"
                      color="white"
                      indeterminate
                    ></v-progress-circular>
                  </button>
                </template>
              </v-flex>
            </v-layout>
          </v-container>
          <v-flex v-if="!token" class="text-xs-center display-1">
            OR
          </v-flex>
          <v-card-title v-if="!token">
            <span class="title Lato">Use Token</span>
          </v-card-title>
          <v-container v-if="!token" grid-list-m>
            <v-layout wrap>
              <v-flex xs12 md6>
                <v-text-field v-model="tokenCode" solo-inverted label="Token Code"></v-text-field>
              </v-flex>
              <v-flex xs12 md6>
                <v-btn color="primary" :disabled="tokenCode.length < 30" @click="redeemToken">
                  REDEEM
                  <v-progress-circular
                    v-if="saveLoading"
                    class="ml-2"
                    :width="1.2"
                    size="24"
                    color="white"
                    indeterminate
                  >
                  </v-progress-circular>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-container fill-height fluid grid-list-xl>
      <v-fade-transition mode="out-in">
        <dashboard
          :subscriptions="subscriptions"
          :cancel="cancelSubscription"
          :add="addSubscription"
          :buytokens="buyTokens"
          :copycode="copyCode"
          :deletecode="deleteCode"
          :saveloading="saveLoading"
        />
      </v-fade-transition>
    </v-container>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import Dashboard from '~/components/dashboard/views/Dashboard'
import Loader from '~/components/Loader'
import config from '~/conf'
const countries = require('~/countries')
export default {
  components: {
    Dashboard,
    Loader
  },
  data() {
    return {
      successAlert: false,
      alertMessage: '',
      alertColor: 'success',
      cancelDialog: false,
      dialog: true,
      quantity: 0,
      price: 0,
      tokenCode: '',
      stripe: undefined,
      card: undefined,
      saveLoading: false,
      cancelLoading: false,
      token: false,
      subscriptionType: '',
      details: {
        id: '',
        nationality: '',
        phone: ''
      }
    }
  },
  computed: {
    ...mapState(['clientLocationDetails', 'user']),
    ...mapState('admin', ['loading']),
    actualPackages() {
      const packages = []
      this.packages.forEach(v => {
        if (
          this.user.plan.trial === 'Unused' &&
          /trial/.test(v.nickname) &&
          !this.token
        ) {
          packages.push(v.nickname)
        } else if (
          (this.user.plan.trial === 'Used' || this.token) &&
          !/trial/.test(v.nickname)
        ) {
          packages.push(v.nickname)
        }
      })
      return packages
    },
    subscriptions() {
      const subscriptions = [...this.user.plan.subscriptions]
      subscriptions.forEach(v => {
        v.sub = v.id
      })
      return subscriptions.reverse()
    }
  },
  async asyncData() {
    const packages = []
    const getPackages = await config.get('/getPackages')
    getPackages.data.data.forEach(u => {
      const { nickname, amount, id } = u
      packages.unshift({ nickname, amount, id })
    })
    return { countries: countries, packages: packages }
  },
  beforeMount() {
    this.details.id = this.user._id
    this.details.phone = this.user.phone
    this.details.nationality = this.user.nationality
    if (!(this.user.plan.subscriptionType === 'none' || this.user.phone === undefined ||
      !this.user.nationality === undefined || this.user.phone === null ||
      !this.user.nationality === null || this.user.phone === '' ||
      this.user.nationality === '')) {
      this.dialog = true
    }
  },
  mounted() {
    this.stripe = this.$stripe.import()
    if (this.$route.query.subscription) {
      this.alertMessage = 'Subscription made successfully.'
      this.alertColor = 'success'
      this.successAlert = true
      setTimeout(() => {
        this.$router.replace('/profile')
      }, 200)
    }
  },
  updated() {},
  methods: {
    async fillPhone() {
      const country = await this.countries.filter(v => {
        return v.name === this.details.nationality
      })
      if (this.details.phone === '') {
        this.details.phone = country[0].phone
      } else if (!this.details.phone.startsWith(country[0].phone)) {
        this.details.phone = country[0].phone
      }
    },
    async submitDetails() {
      this.saveLoading = true
      await this.$axios
        .$patch('/updateUser', this.details)
        .then(res => {
          this.alertMessage = 'Details updated successfully.'
          this.alertColor = 'success'
          this.successAlert = true
          this.saveLoading = false
          this.$router.go()
        })
        .catch(err => {
          this.saveLoading = false
          console.log(err)
        })
    },
    async modPrice() {
      const amount = await this.packages.filter(v => {
        return v.nickname === this.subscriptionType
      })[0].amount
      const quantity = this.quantity
      const basePrice = (amount / 100) * quantity
      if (quantity === 1) {
        this.price = basePrice
      } else if (quantity > 1 && quantity < 6) {
        this.price = basePrice - (basePrice * 10) / 100
      } else if (quantity > 5 && quantity < 11) {
        this.price = basePrice - (basePrice * 15) / 100
      } else if (quantity > 10 && quantity < 16) {
        this.price = basePrice - (basePrice * 17.5) / 100
      } else if (quantity > 15 && quantity < 21) {
        this.price = basePrice - (basePrice * 18.75) / 100
      }
    },
    async subscribe(plan) {
      if (this.token) {
        this.saveLoading = true
        const result = await this.stripe.createToken(this.card)
        if (result.error) {
          const errorElement = document.getElementById('card-errors')
          errorElement.textContent = result.error.message
        } else {
          const tokens = []
          for (let i = 0; i < this.quantity; i++) {
            tokens.push({
              code: this.generateRandomString() + this.user._id,
              status: 'Unused',
              subType: this.subscriptionType
            })
          }
          await this.$axios
            .post('/buyTokens', {
              tokens: tokens,
              uid: this.user._id,
              source: result.token.id,
              amount: Math.ceil(this.price * 100),
              currency: 'usd',
              description:
                'Payment for tokens for gifting one-time subscription to friends and family'
            })
            .then(() => {
              this.saveLoading = false
              this.dialog = false
              this.token = false
              this.alertMessage = 'Tokens purchased successfully.'
              this.alertColor = 'success'
              this.successAlert = true
              this.$router.go()
            })
            .catch(() => {
              this.saveLoading = false
              this.alertMessage = 'Tokens purchase failed.'
              this.alertColor = 'error'
              this.successAlert = true
            })
        }
      } else {
        await this.$stripe
          .import()
          .redirectToCheckout({
            items: [{ plan: plan, quantity: 1 }],
            customerEmail: this.user.email,
            clientReferenceId: this.user._id,
            successUrl: 'http://localhost/profile?subscription=true',
            cancelUrl: 'http://localhost/profile?subscription=false'
          })
          .then(result => {
            if (result.error) {
              const displayError = document.getElementById('error-message')
              displayError.textContent = result.error.message
            }
          })
      }
    },
    addSubscription() {
      this.dialog = true
      this.token = false
    },
    cancelSubscription() {
      this.cancelDialog = true
    },
    async confirmCancel() {
      this.cancelLoading = true
      await this.$axios
        .$post('/cancelSubscription', {
          id: this.user.plan.subscription
        })
        .then(() => {
          this.cancelLoading = false
          this.cancelDialog = false
        })
    },
    buyTokens() {
      this.token = true
      this.dialog = true
      setTimeout(() => {
        const elements = this.stripe.elements()
        this.card = elements.create('card')
        this.card.mount('#card-element')
      }, 1000)
    },
    copyCode(code) {
      this.alertMessage = 'Copied!'
      this.alertColor = 'success'
      this.successAlert = true
      navigator.clipboard.writeText(code)
    },
    async redeemToken() {
      this.saveLoading = true
      const body = await {
        uid: this.user._id,
        email: this.user.email,
        tokenOwner: this.tokenCode.slice(6),
        token: this.tokenCode
      }
      await this.$axios
        .$post('/redeemToken', body)
        .then(res => {
          this.saveLoading = false
          this.dialog = false
          this.alertMessage = 'Token successfully redeemed'
          this.alertColor = 'success'
          this.successAlert = true
          this.$router.go()
        })
        .catch(err => {
          this.saveLoading = false
          this.alertMessage = err.response.data
          this.alertColor = 'error'
          this.successAlert = true
        })
    },
    async deleteCode(code, i) {
      this.saveLoading = true
      const tokens = await [...this.user.plan.tokens]
      await tokens.splice(i, 1)
      this.$axios
        .post('/deleteToken', {
          tokens: tokens,
          uid: this.user._id
        })
        .then(() => {
          this.saveLoading = false
          this.dialog = false
          this.token = false
          this.alertMessage = 'Token deleted!'
          this.alertColor = 'success'
          this.successAlert = true
          this.$router.go()
        })
        .catch(() => {
          this.saveLoading = false
          this.alertMessage = 'Token delete failed.'
          this.alertColor = 'error'
          this.successAlert = true
        })
    },
    generateRandomString() {
      const characters = process.env.secret
      let randomString = ''
      for (let i = 0; i <= 5; i++) {
        randomString +=
          characters[Math.floor(Math.random() * characters.length)]
      }
      return randomString
    }
  }
}
</script>

<style>
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;

  box-shadow: 0 1px 3px 0 #00a685;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #00a8a7;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #00cac9 !important;
}
</style>
