<template>
  <v-container>
    <v-flex class="display-2 Salsa mb-3">
      Terms and Conditions
    </v-flex>
    <p>
      Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using
      <a href="https://befittinglife.com/">www.BefittingLife.com</a> ("the Site") operated by Befitting Life ("us", "we", or "our").
      This Agreement sets forth the legally binding terms and conditions for your use of the Site at <a href="https://befittinglife.com/">www.BefittingLife.com</a>
    </p>
    <p>
      By accessing or using the Site, including, but not limited to, visiting or browsing the Site or contributing
      content or other materials to the Site, you agree to be bound by these Terms and Conditions
    </p>
    <p>
      The Site is owned by Befitting Life and protected by proprietary rights laws. We may terminate your access to the
      Site, without cause or notice, which may result in the destruction of all information associated with you.
    </p>
    <p>
      We do not provide any warranty or guarantee as to the accuracy, completeness, suitability, timeliness or
      performance, of the information and materials found or offered on this website by third party providers and partners.
      You acknowledge that such information and materials may contain inaccuracies or errors and we expressly
      exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
    </p>
    <p>
      Your use of any information or materials on this website is entirely at your own risk, for which we shall not be
      liable. It shall be your own responsibility to make sure that any products, services or information available
      on or through this website meet your particular requirements.
    </p>
    <p>
      Our Site may also contain links to third-party sites that are not owned or controlled by BefittingLife.com.
    </p>
    <p>
      Befitting Life has no control over, and assumes no responsibility for, the content, privacy policies,
      or practices of any third party sites or services. We strongly advise you to read the terms and
      conditions and the privacy policy of any third-party programs that you visit through our website.
    </p>
    <p>
      We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the
      updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of
      the new Terms and Conditions.
    </p>
    <p>
      If you have any questions about this Agreement, please contact us. on
      <a href="mailto:support@befittinglife.com">support@befittinglife.com</a> or Tel: 01217784517
    </p>
    <p>
      On registration to the BefittingLife.com or a third party partner portal through the Befitting Life’s website,
      you may be given a username and password. You must take care to keep your user name and password confidential.
      You will be responsible for all activities that occur under your user name and password. You must not allow anyone
      else to use your user name and password.
    </p>
    <p>
      You must inform us immediately of any unauthorised use of your user name or password or if you believe that
      your user name or password has been compromised. We reserve the right to require you to change your user name
      and password if we believe that they are no longer secure.
    </p>
    <p>
      We will never email you or ask you on the phone for your password. If anyone asks you for your password you must
      inform the BefittingLife representative.
    </p>
    <p>
      We will provide you with access to your course once you have enrolled and completed payment. We endeavour to
      provide you with your selected training and any supporting materials such as software, peripherals, kindle,
      tablet or text book to arrive within 5 working days of placing an order with a maximum of 28 days from the dispatch date,
      BefittingLife will not accept any claim from the delay of such materials due to circumstances beyond its control
      until the 28 day period has expired, at which point at the absolute discretion of BefittingLife will compensation
      be considered up to a maximum of the course cost.
    </p>
    <p>
      This privacy policy is for this website [<a href="https://befittinglife.com/">befittinglife.com</a>] and served by [Befitting Life] and governs the privacy
      of its users who choose to use it. The policy sets out the different areas where user privacy
      is concerned and outlines the obligations and requirements of the users, the website and website owners.
      Furthermore, the way this website processes, stores and protects user data and information will also be detailed within this policy.
    </p>
    <v-flex class="headline Salsa mt-2">
      Payment process security
    </v-flex>
    <p>
      BefittingLife uses Paypal for payment processing and the Credit Card numbers are not stored on our system. You may
      update or change your other billing information on Paypal at any time. Each time you make a payment you will be sent
      confirmation of your payment via email directly by Paypal.
    </p>
    <v-flex class="headline Salsa mt-2">
      Complaint Resolution
    </v-flex>
    <p>
      Customer complaints are handled promptly to resolve customer complaints.
    </p>
  </v-container>
</template>

<script>
export default {
  name: 'TermsConditions',
  data() {
    return {}
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
