<template>
  <v-layout wrap class="justify-space-around">
    <loader v-if="loading" fluid />
    <v-flex xs12 md7>
      <v-container grid-list-xl>
        <v-layout wrap>
          <v-flex v-if="!completed && $store.state.loggedIn && $store.state.user.plan.subscriptionType !== 'none'" style="height: fit-content;">
            <template v-for="(video, i) in videos">
              <vue-plyr
                v-if="active.title === video.title"
                :key="i"
                ref="plyr"
                :options="{autoplay: true, clickToPlay: true}"
              >
                <div class="plyr__video-embed" v-html="video.link">
                </div>
              </vue-plyr>
            </template>
          </v-flex>
          <v-flex v-if="completed && $store.state.loggedIn">
            <v-card>
              <v-img :src="require('~/assets/frame1.jpg')" style="cursor: default; display: flex; align-items: center;">
                <v-card-text class="display-1 Salsa primary--text text-xs-center">
                  Congratulations on your completion of this course, BefittingLife Academy wishes you success on your journey.
                </v-card-text>
              </v-img>
            </v-card>
          </v-flex>
          <v-flex v-if="!$store.state.loggedIn">
            <v-card>
              <v-img :src="require('~/assets/frame1.jpg')" style="cursor: default; display: flex; align-items: center;">
                <v-card-text class="display-1 Salsa error--text text-xs-center">
                  <span>Please</span>
                  <nuxt-link to="/sign">
                    login
                  </nuxt-link>
                  <span> to view this course!!!</span>
                </v-card-text>
              </v-img>
            </v-card>
          </v-flex>
          <v-flex v-if="$store.state.loggedIn && $store.state.user.plan.subscriptionType === 'none'">
            <v-card>
              <v-img :src="require('~/assets/frame1.jpg')" style="cursor: default; display: flex; align-items: center;">
                <v-card-text class="display-1 Salsa error--text text-xs-center">
                  <span>Please</span>
                  <nuxt-link to="/profile">
                    subscribe to a plan
                  </nuxt-link>
                  <span> to view this course!!!</span>
                </v-card-text>
              </v-img>
            </v-card>
          </v-flex>
          <v-flex class="hidden-md-and-up">
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" color="primary" flat>
                    <v-toolbar-title class="Salsa white--text">
                      Course Contents
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-expansion-panel v-for="(myModule, i) in modules" :key="i" inset>
                    <v-expansion-panel-content ripple>
                      <v-card-title slot="header">
                        <v-icon :color="myModule.category === active.category ? 'primary' : 'secondary'" size="40" class="mr-3">
                          mdi-play
                        </v-icon>
                        {{ myModule.category }}
                      </v-card-title>
                      <v-list two-line>
                        <template v-for="(video, j) in myModule.modules">
                          <v-divider v-if="j !== 0" :key="j"></v-divider>
                          <v-list-tile
                            :key="video.title"
                            :class="video.category === active.category && video.title === active.title && video.link === active.link ? 'primary' : ''"
                            :color="video.category === active.category && video.title === active.title && video.link === active.link ? 'white' : ''"
                            ripple
                            @click="setActive(video)"
                          >
                            <v-list-tile-avatar>
                              <v-icon :color="video.category === active.category && video.title === active.title && video.link === active.link ? 'white' : 'secondary'">
                                mdi-play
                              </v-icon>
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>
                                {{ video.title }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title v-html="video.description">
                              </v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-list-tile-avatar v-if="alreadyWatched.includes(video.description)">
                              <v-icon :color="video.category === active.category && video.title === active.title && video.link === active.link ? 'white' : 'primary'">
                                mdi-check
                              </v-icon>
                            </v-list-tile-avatar>
                          </v-list-tile>
                        </template>
                      </v-list>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
          <v-flex>
            <v-tabs
              color="primary"
              dark
              slider-color="secondary"
            >
              <v-tab
                ripple
                class="Lato"
              >
                Course Description
              </v-tab>
              <v-tab
                class="Lato"
                ripple
              >
                Exercise Files
              </v-tab>
              <v-tab-item>
                <v-card class="pa-2">
                  <v-layout wrap class="justify-space-around">
                    <v-flex xs12 md6>
                      <v-img :src="image" max-height="200px"></v-img>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-chip v-for="(tag, j) in tags" :key="j" small>
                        <v-avatar
                          color="primary"
                          class="white--text"
                          v-text="tag.slice(0, 1).toUpperCase()"
                        />
                        {{ tag }}
                      </v-chip>
                      <v-card-text style="max-height: 200px; overflow-y: scroll;" v-html="content"></v-card-text>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card class="pa-2">
                </v-card>
              </v-tab-item>
            </v-tabs>
          </v-flex>
          <v-flex>
            <v-card>
              <v-toolbar color="primary">
                <v-toolbar-title class="Salsa white--text">
                  Related Courses
                </v-toolbar-title>
              </v-toolbar>
              <v-container v-if="relatedCourses.length > 0" grid-list-lg>
                <v-layout wrap>
                  <v-flex
                    v-for="(course, i) in relatedCourses"
                    :key="i"
                    xs12
                  >
                    <v-card elevation="10">
                      <v-layout wrap ma-0>
                        <v-flex xs12 md4 style="display: flex; align-items: center" class="pr-0">
                          <v-img
                            :src="course.image"
                            :alt="course.alt"
                            height="120px"
                            width="120px"
                            gradient="rgba(0, 0, 0, .02), rgba(0, 0, 0, .02)"
                          >
                            <nuxt-link
                              :to="'/courses/'+course.slug"
                              style="width: 100%; height: 100%; display: block;"
                            ></nuxt-link>
                          </v-img>
                        </v-flex>
                        <v-flex xs12 md8 class="pl-0 pt-1 pb-1 mt-3">
                          <v-card-text
                            :id="`course_${i}`"
                            class="text-xs-justify pb-1 pt-0"
                          >
                            <h3 class="title font-weight-bold mb-1 Salsa">
                              <nuxt-link :to="'/courses/'+course.slug" style="text-decoration: none;">
                                {{ course.title }}
                              </nuxt-link>
                            </h3>
                            <div class="Lato-300 subheading my-content" v-html="course.content"></div>
                          </v-card-text>
                          <v-flex xs12 class="pt-1 pb-1">
                            <v-chip v-for="(tag, j) in course.tags" :key="j" small>
                              <v-avatar
                                color="primary"
                                class="white--text"
                                v-text="tag.slice(0, 1).toUpperCase()"
                              />
                              {{ tag }}
                            </v-chip>
                            <v-flex class="caption">
                              {{ new Date(course.date).toLocaleString() }}
                              <br>
                            </v-flex>
                          </v-flex>
                        </v-flex>
                      </v-layout>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
              <v-card-text v-else class="text-xs-center grey--text Lato title">
                No Courses at this moment
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
    <v-flex xs11 md4>
      <v-container grid-list-xl>
        <v-layout wrap>
          <v-flex>
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" color="primary" flat>
                    <v-toolbar-title class="Salsa white--text">
                      Course Contents
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-expansion-panel v-for="(myModule, i) in modules" :key="i" inset>
                    <v-expansion-panel-content ripple>
                      <v-card-title slot="header">
                        <v-icon :color="myModule.category === active.category ? 'primary' : 'secondary'" size="40" class="mr-3">
                          mdi-play
                        </v-icon>
                        {{ myModule.category }}
                      </v-card-title>
                      <v-list two-line>
                        <template v-for="(video, j) in myModule.modules">
                          <v-divider v-if="j !== 0" :key="j"></v-divider>
                          <v-list-tile
                            :key="video.title"
                            :class="video.category === active.category && video.title === active.title && video.link === active.link ? 'primary' : ''"
                            :color="video.category === active.category && video.title === active.title && video.link === active.link ? 'white' : ''"
                            ripple
                            @click="setActive(video)"
                          >
                            <v-list-tile-avatar>
                              <v-icon :color="video.category === active.category && video.title === active.title && video.link === active.link ? 'white' : 'secondary'">
                                mdi-play
                              </v-icon>
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                              <v-list-tile-title>
                                {{ video.title }}
                              </v-list-tile-title>
                              <v-list-tile-sub-title v-html="video.description">
                              </v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-list-tile-avatar v-if="alreadyWatched.includes(video.description)">
                              <v-icon :color="video.category === active.category && video.title === active.title && video.link === active.link ? 'white' : 'primary'">
                                mdi-check
                              </v-icon>
                            </v-list-tile-avatar>
                          </v-list-tile>
                        </template>
                      </v-list>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
          <v-flex>
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" flat color="primary">
                    <v-toolbar-title class="Salsa white--text">
                      Popular Courses
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-list v-if="popularCourses.length > 0" two-line>
                    <template v-for="(course, i) in popularCourses">
                      <v-list-tile :key="i" ripple nuxt :to="course.upcoming || course.modules.length === 0 ? null : '/courses/'+course.slug">
                        <v-list-tile-avatar>
                          <img :src="course.image" :alt="course.alt">
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                          <v-list-tile-title>
                            {{ course.title }}
                          </v-list-tile-title>
                          <v-list-tile-sub-title style="height: 20px;" v-html="course.content">
                          </v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </template>
                  </v-list>
                  <v-card-text v-else class="text-xs-center grey--text Lato title">
                    No Courses at this moment
                  </v-card-text>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
          <v-flex>
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" flat color="primary">
                    <v-toolbar-title class="Salsa white--text">
                      Upcoming Courses
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-list v-if="upcomingCourses.length > 0" two-line>
                    <template v-for="(course, i) in upcomingCourses">
                      <v-list-tile :key="i">
                        <v-list-tile-avatar>
                          <img :src="course.image" :alt="course.alt">
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                          <v-list-tile-title>
                            {{ course.title }}
                          </v-list-tile-title>
                          <v-list-tile-sub-title style="height: 20px;" v-html="course.content">
                          </v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </template>
                  </v-list>
                  <v-card-text v-else class="text-xs-center grey--text Lato title">
                    No Courses at this moment
                  </v-card-text>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import Loader from '~/components/Loader'
import config from '~/conf'
function compareModules(a, b) {
  // Use toUpperCase() to ignore character casing
  const indexA = a.index
  const indexB = b.index

  let comparison = 0
  if (indexA > indexB) {
    comparison = 1
  } else if (indexA < indexB) {
    comparison = -1
  }
  return comparison
}

export default {
  // middleware: 'courseAuth',
  components: {
    Loader
  },
  data() {
    return {
      completed: false,
      loading: true,
      layout: [2, 2, 1, 2],
      player: {},
      alreadyWatched: [],
      watchedIndex: null,
      email: ''
    }
  },
  validate({ params }) {
    return true
  },
  computed: {
    videos() {
      const videos = []
      this.modules.forEach(v => {
        v.modules.forEach(w => {
          w.category = v.category
          videos.push(w)
        })
      })
      return videos
    },
    watched() {
      return this.$store.state.watched
    }
  },
  watch: {
    player: function () {
      if (
        this.player !== 0 &&
        this.$refs.plyr[0].player.currentTime ===
          this.$refs.plyr[0].player.duration &&
        this.active.link !== this.videos[this.videos.length - 1].link &&
        this.active.description !==
          this.videos[this.videos.length - 1].description
      ) {
        this.playNext()
      } else if (
        this.player !== 0 &&
        this.$refs.plyr[0].player.currentTime ===
          this.$refs.plyr[0].player.duration &&
        this.active.link === this.videos[this.videos.length - 1].link &&
        this.active.description ===
          this.videos[this.videos.length - 1].description &&
        this.videos.length <= this.watched.length
      ) {
        this.completed = true
      }
    },
    watched(newWatched, oldWatched) {
      this.alreadyWatched = newWatched.map(v => {
        return v.description
      })
    }
  },
  async asyncData({ params, error }) {
    const courseRes = await config.get(`/fetchCourse/${params.slug}`)
    const popularCourses = await config.get(
      `/fetchPopularCourses/${params.slug}`
    )
    const relatedCourses = await config.get(
      `/fetchRelatedCourses/${params.slug}`
    )
    const upcomingCourses = await config.get('/fetchUpcomingCourses')
    const { modules, ...others } = courseRes.data.course
    const arr = modules.reduce(function (r, a) {
      r[a.category] = r[a.category] || []
      const { category, ...others } = a
      r[a.category].push(others)
      return r
    }, Object.create(null))
    const actualModules = Object.keys(arr).map(function (key) {
      return {
        category: key,
        modules: arr[key].sort(compareModules)
      }
    })
    return {
      modules: Object.values(actualModules),
      ...others,
      index: courseRes.data.identity,
      active: Object.values(actualModules)[0].modules[0],
      popularCourses: popularCourses.data,
      relatedCourses: relatedCourses.data,
      upcomingCourses: upcomingCourses.data
    }
  },
  mounted() {
    setTimeout(() => {
      document.getElementsByClassName(
        'v-expansion-panel__header'
      )[0].style.padding = '0'
      // eslint-disable-next-line standard/computed-property-even-spacing
      document.getElementsByClassName('v-expansion-panel__header')[
        1 + this.modules.length
      ].style.padding = '0'
      // eslint-disable-next-line standard/computed-property-even-spacing
      document.getElementsByClassName('v-expansion-panel__header')[
        2 + this.modules.length
      ].style.padding = '0'
      // eslint-disable-next-line standard/computed-property-even-spacing
      document.getElementsByClassName('v-expansion-panel__header')[
        3 + this.modules.length
      ].style.padding = '0'
      // eslint-disable-next-line standard/computed-property-even-spacing
      document.getElementsByClassName('v-expansion-panel__header')[
        4 + this.modules.length
      ].style.padding = '0'
      // eslint-disable-next-line standard/computed-property-even-spacing
      document.getElementsByClassName('v-expansion-panel__header')[
        5 + this.modules.length
      ].style.padding = '0'
    }, 100)
    this.$axios.$patch('/incrementCourseViews', { index: this.index })
    if (this.$store.state.loggedIn) {
      this.email = this.$store.state.user.email
      this.$axios
        .$post('/getWatched', {
          email: this.$store.state.user.email,
          title: this.title
        })
        .then(res => {
          this.loading = false
          const result = res.video
          if (result.length === 0) {
            result.push({
              link: this.active.link,
              description: this.active.description
            })
            this.$store.commit('addWatched', result)
          } else {
            this.$store.commit('addWatched', result)
          }
          this.watchedIndex = res.index
        })
      setInterval(() => {
        if (this.$refs.plyr[0] !== undefined) {
          this.player = this.$refs.plyr[0].player.currentTime
        }
      }, 1000)
      clearInterval()
    } else {
      this.loading = false
    }
  },
  async beforeDestroy() {
    await this.$axios.$put('/setWatched', {
      title: this.title,
      videos: this.watched,
      email: this.email,
      index: this.watchedIndex
    })
  },
  methods: {
    setActive(video) {
      if (this.$store.state.loggedIn) {
        this.active = video
        const checkVideo = this.watched.find(v => {
          return v.link === video.link && v.description === video.description
        })
        if (checkVideo === undefined) {
          this.$store.commit('updateWatched', {
            link: video.link,
            description: video.description
          })
        }
        this.completed = false
      }
    },
    playNext() {
      const video = this.videos[this.videos.indexOf(this.active) + 1]
      this.active = video
      const checkVideo = this.watched.find(v => {
        return v.link === video.link && v.description === video.description
      })
      if (checkVideo === undefined) {
        this.$store.commit('updateWatched', {
          link: video.link,
          description: video.description
        })
      }
    },
    showDetails: function (i) {
      document.getElementById(`course_${i}`).style.bottom = '0'
    },
    hideDetails: function (i) {
      document.getElementById(`course_${i}`).style.bottom = '-100%'
    }
  }
}
</script>

<style>
.my-content {
  height: 20px;
  overflow-y: hidden;
  position: relative;
  /*line-height: 2em;*/
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.my-content:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.my-content:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: black;
}
</style>
