<template>
  <v-layout wrap class="justify-space-around">
    <v-snackbar
      v-model="snackbar"
      color="error"
      auto-height
      right
      top
      vertical
    >
      <v-btn absolute top right icon color="secondary">
        <v-icon @click="snackbar = false">
          mdi-close
        </v-icon>
      </v-btn>
      <div class="Lato text-xs-center">
        Please login to access this course.
      </div>
      <v-btn
        v-if="snackbar.addAction"
        class="text--secondary Lato"
        style="justify-content: center"
        nuxt
        to="/sign"
      >
        Login
      </v-btn>
    </v-snackbar>
    <v-flex xs11 md3>
      <v-container grid-list-xl>
        <v-layout wrap>
          <v-flex xs12>
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" flat color="primary">
                    <v-toolbar-title class="Salsa white--text">
                      Categories
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-list style="height: 300px; overflow-y: scroll;">
                    <v-list-tile
                      v-for="(item, i) in categories"
                      :key="i"
                      :class="active === item ? ['primary', 'white--text'] : ''"
                      @click="fetchCat(item)"
                    >
                      {{ item }}
                    </v-list-tile>
                  </v-list>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
          <v-flex xs12>
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" flat color="primary">
                    <v-toolbar-title class="Salsa white--text">
                      Skill Level
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-list class="pb-3" style="height: fit-content; overflow-y: scroll;">
                    <v-list-tile
                      v-for="(item, i) in skillLevels"
                      :key="i"
                      :class="active === item ? ['primary', 'white--text'] : ''"
                      @click="fetchCat(item)"
                    >
                      {{ item }}
                    </v-list-tile>
                  </v-list>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
          <v-flex xs12>
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" flat color="primary">
                    <v-toolbar-title class="Salsa white--text">
                      Popular Courses
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-list v-if="popularCourses.length > 0" two-line>
                    <template v-for="(course, i) in popularCourses">
                      <v-list-tile :key="i" ripple nuxt :to="course.upcoming || course.modules.length === 0 ? null : '/courses/'+course.slug">
                        <v-list-tile-avatar>
                          <img :src="course.image" :alt="course.alt">
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                          <v-list-tile-title>
                            {{ course.title }}
                          </v-list-tile-title>
                          <v-list-tile-sub-title style="height: 20px;" v-html="course.content">
                          </v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </template>
                  </v-list>
                  <v-card-text v-else class="text-xs-center grey--text Lato title">
                    No Courses at this moment
                  </v-card-text>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
          <v-flex xs12>
            <v-card>
              <v-expansion-panel>
                <v-expansion-panel-content ripple>
                  <v-toolbar slot="header" flat color="primary">
                    <v-toolbar-title class="Salsa white--text">
                      Upcoming Courses
                    </v-toolbar-title>
                  </v-toolbar>
                  <v-list v-if="upcomingCourses.length > 0" two-line>
                    <template v-for="(course, i) in upcomingCourses">
                      <v-list-tile :key="i">
                        <v-list-tile-avatar>
                          <img :src="course.image" :alt="course.alt">
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                          <v-list-tile-title>
                            {{ course.title }}
                          </v-list-tile-title>
                          <v-list-tile-sub-title style="height: 20px;" v-html="course.content">
                          </v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </template>
                  </v-list>
                  <v-card-text v-else class="text-xs-center grey--text Lato title">
                    No Courses at this moment
                  </v-card-text>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
    <v-flex xs12 md8>
      <v-container grid-list-xl>
        <div
          v-if="courses.length === 0 && !loading"
          class="text-xs-center display-2"
        >
          Sorry, There are no courses at this moment
        </div>
        <!--<watch :watch-dialog="watchDialog" />-->
        <v-layout v-if="loading" wrap>
          <v-flex
            v-for="(n, i) in 6"
            :key="i"
            xs12
            :class="{'md6': layout[i] === 2,
                     'md4': layout[i] === 3}"
            :size="layout[i]"
          >
            <v-card :id="`skeleton_${i}`">
              <v-card-title>
                <div style="width: 100%; height: 120px; left: 0; top: 0; background: rgba(0,0,0,0.4); position: absolute;">
                  <div style="width: 65px; height: 25px; border-radius: 20px; background: rgba(0,0,0,0.1); position:absolute; right: 15px; top: 10px;"></div>
                  <div style="width: 65px; height: 25px; border-radius: 20px; background: rgba(0,0,0,0.1); position:absolute; right: 85px; top: 10px;"></div>
                  <div style="width: 100px; height: 30px; right: 15px; top: 45px; background: rgba(0,0,0,0.1); position: absolute;"></div>
                  <div style="width: 150px; height: 20px; right: 15px; top: 85px; background: rgba(0,0,0,0.1); position: absolute;"></div>
                </div>
              </v-card-title>
              <v-card-title>
                <div style="width: 100%; height: 150px; background: grey; margin-top: 72px">
                  <v-btn color="grey" style="position:absolute; right: 20px; bottom: 20px" small />
                </div>
              </v-card-title>
              <v-card-actions style="position: absolute; right: 0;">
                <!--<v-btn color="grey" icon />-->
              </v-card-actions>
              <div class="animate"></div>
            </v-card>
          </v-flex>
        </v-layout>
        <v-flex xs12>
          <v-layout v-if="!loading" wrap>
            <v-flex
              v-for="(course, i) in courses"
              :key="i"
              xs12
            >
              <v-card elevation="10">
                <v-layout wrap ma-0>
                  <v-flex xs12 md4 style="display: flex; align-items: center" class="pr-0">
                    <v-img
                      :src="course.image"
                      :alt="course.alt"
                      height="120px"
                      width="120px"
                      gradient="rgba(0, 0, 0, .02), rgba(0, 0, 0, .02)"
                    >
                      <nuxt-link
                        :to="course.upcoming || course.modules.length === 0 ? null : '/courses/'+course.slug"
                        style="width: 100%; height: 100%; display: block;"
                      ></nuxt-link>
                    </v-img>
                  </v-flex>
                  <v-flex xs12 md8 class="pl-0 pt-1 pb-1 mt-3">
                    <v-card-text
                      :id="`course_${i}`"
                      class="text-xs-justify pb-1 pt-0"
                    >
                      <h3 class="title font-weight-bold mb-1 Salsa">
                        <nuxt-link :to="course.upcoming || course.modules.length === 0 ? null : '/courses/'+course.slug" style="text-decoration: none;">
                          {{ course.title }}
                        </nuxt-link>
                      </h3>
                      <div class="Lato-300 subheading my-content" v-html="course.content"></div>
                    </v-card-text>
                    <v-flex xs12 class="pt-1 pb-1">
                      <v-chip v-for="(tag, j) in course.tags" :key="j" small>
                        <v-avatar
                          color="primary"
                          class="white--text"
                          v-text="tag.slice(0, 1).toUpperCase()"
                        />
                        {{ tag }}
                      </v-chip>
                      <v-flex class="caption">
                        {{ new Date(course.date).toLocaleString() }}
                        <br>
                      </v-flex>
                    </v-flex>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <v-flex xs12 class="text-xs-center mt-5 mb-5">
              <v-pagination
                v-if="courses.length !== 0"
                v-model="otherPage"
                :length="pages"
                color="secondary"
                @input="input"
              ></v-pagination>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import config from '~/conf'
export default {
  components: {
    // Watch
    // SkeletonCard
  },
  data() {
    return {
      snackbar: false,
      loading: false,
      page: 1,
      upcomingPage: 1,
      otherPage: 1,
      layout: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
      menuStatus: false,
      active: 'All',
      skillLevels: ['Beginner', 'Intermediate', 'Advanced']
    }
  },
  computed: {
    menu: {
      get() {
        return this.menuStatus
      },
      set(val) {
        this.menuStatus = val
      }
    },
    courses() {
      const chunks = this.chunk(
        this.paginatedArticles[this.page - 1].articles,
        10
      )
      chunks.forEach(u => {
        u.forEach((v, i) => {
          this.layout.forEach((w, j) => {
            if (i === j) {
              v.layout = w
            }
          })
        })
      })
      let courses = []
      const actualCourses = []
      chunks.forEach(v => {
        courses = courses.concat(v)
      })
      courses.forEach(v => {
        if (
          v.tags.includes(this.active) ||
          this.active === 'All' ||
          v.level === this.active
        ) {
          actualCourses.push(v)
        }
      })
      return actualCourses
    }
  },
  async asyncData({ query }) {
    const count = await config.get(
      `/getCourseCount?category=${query.cat || 'All'}`
    )
    const category = await config.get('/fetchCategories')
    const course = await config.get(
      `/fetchCourses?skip=0&category=${query.cat || 'All'}`
    )
    const upcomingCourses = await config.get('/fetchUpcomingCourses')
    const popularCourses = await config.get('/fetchPopularCourses')
    const categories = []
    const paginatedArticles = []
    category.data.forEach(v => {
      categories.push(v.title)
    })
    course.data.reverse().forEach((v, i) => {
      const {
        _id,
        slug,
        title,
        tags,
        content,
        image,
        modules,
        level,
        upcoming,
        views,
        date
      } = v
      if (!upcoming) {
        paginatedArticles.push({
          _id,
          slug,
          title,
          tags,
          content,
          image,
          modules,
          level,
          upcoming,
          views,
          date
        })
      } else if (upcoming && i < 3) {
        upcomingCourses.push({
          _id,
          slug,
          title,
          tags,
          content,
          image,
          modules,
          level,
          upcoming,
          views,
          date,
          show: true
        })
      } else if (upcoming && i >= 3) {
        upcomingCourses.push({
          _id,
          slug,
          title,
          tags,
          content,
          image,
          modules,
          level,
          upcoming,
          views,
          date,
          show: false
        })
      }
    })
    return {
      pages: Math.ceil(count.data.courses / 10),
      categories: ['All', ...categories],
      paginatedArticles: [{ page: 1, articles: paginatedArticles }],
      upcomingCourses: upcomingCourses.data,
      popularCourses: popularCourses.data
    }
  },
  mounted() {
    setTimeout(() => {
      document.getElementsByClassName(
        'v-expansion-panel__header'
      )[0].style.padding = '0'
      document.getElementsByClassName(
        'v-expansion-panel__header'
      )[1].style.padding = '0'
      document.getElementsByClassName(
        'v-expansion-panel__header'
      )[2].style.padding = '0'
      document.getElementsByClassName(
        'v-expansion-panel__header'
      )[3].style.padding = '0'
    }, 100)
    // window.addEventListener('scroll', this.scroll)
  },
  methods: {
    chunk(array, size) {
      const chunkedArr = []
      let index = 0
      while (index < array.length) {
        chunkedArr.push(array.slice(index, size + index))
        index += size
      }
      return chunkedArr
    },
    async input() {
      const articles = this.paginatedArticles.find(v => {
        return v.page === this.otherPage
      })
      if (articles === undefined) {
        this.loading = true
        const paginatedArticles = []
        await this.$axios
          .$get(
            `/fetchCourses?skip=${(this.otherPage - 1) * 10}&category=${
              this.active
            }`
          )
          .then(res => {
            res.reverse().forEach(v => {
              const {
                _id,
                slug,
                title,
                tags,
                content,
                image,
                level,
                modules,
                upcoming,
                views,
                date
              } = v
              paginatedArticles.push({
                _id,
                slug,
                title,
                tags,
                content,
                image,
                level,
                modules,
                upcoming,
                views,
                date
              })
            })
            this.paginatedArticles.push({
              page: this.otherPage,
              articles: paginatedArticles
            })
            this.page = this.otherPage
            this.loading = false
          })
      } else {
        this.page = this.otherPage
      }
    },
    async fetchCat(item) {
      this.active = item
      this.loading = true
      const paginatedArticles = []
      this.$axios.$get(`/getCourseCount?category=${item}`).then(res => {
        this.pages = Math.ceil(res.courses / 10)
      })
      await this.$axios.$get(`/fetchCourses?skip=0&category=${item}`).then(res => {
        res.reverse().forEach(v => {
          const {
            _id,
            slug,
            title,
            tags,
            content,
            image,
            level,
            modules,
            upcoming,
            views,
            date
          } = v
          paginatedArticles.push({
            _id,
            slug,
            title,
            tags,
            content,
            image,
            level,
            modules,
            upcoming,
            views,
            date
          })
        })
        this.paginatedArticles = [{ page: 1, articles: paginatedArticles }]
        this.page = 1
        this.loading = false
      })
    }
    //   loadMoreUpcoming() {
    //     this.upcomingPage++
    //     setTimeout(() => {
    //       for (let i = 0; i < this.upcomingPage * 3; i++) {
    //         if (this.upcomingCourses[i] !== undefined) {
    //           this.upcomingCourses[i].show = true
    //         }
    //       }
    //     })
    //     // return this.upcomingCourses.slice(0, this.upcomingPage * 3)
    //   }
  }
}
</script>

<style scoped>
.v-responsive {
  cursor: default !important;
}
.my-content {
  height: 20px;
  overflow-y: hidden;
  position: relative;
  /*line-height: 2em;*/
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.my-content:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.my-content:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: black;
}
.animate {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.animate:empty {
  left: 40%;
  position: absolute;
  content: '';
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1s infinite;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.4) 60%,
      rgba(255, 255, 255, 0.2) 80%,
      rgba(255, 255, 255, 0)
    );
  }
}
</style>
