<template>
  <v-flex
    sm6
    xs12
    md4
    :lg3="$route.path === '/profile'"
  >
    <v-card class="mt-4 mb-4" style="display: flex; flex-wrap: wrap; border-radius: 3px;">
      <div style="position: absolute; top: -20px; margin-bottom: -20px; display: inline-block; padding: 0 16px;">
        <v-card elevation="10" class="pa-3" dark :color="color">
          <v-icon>{{ icon }}</v-icon>
        </v-card>
      </div>
      <v-card-text class="text-xs-right font-weight-light">
        <p class="grey--text">
          {{ content }}
        </p>
        <h3 class="font-weight-light pt-2">
          {{ data }}
        </h3>
      </v-card-text>
      <v-card-actions style="width: 100%;">
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <v-btn v-if="content === 'Package'" slot="activator" icon :disabled="data !== 'none'" @click="add">
            <v-icon :color="color">
              mdi-plus
            </v-icon>
          </v-btn>
          <span>add package</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn v-if="content === 'Package'" slot="activator" icon :disabled="data === 'none'" @click="cancel">
            <v-icon :color="color">
              mdi-close
            </v-icon>
          </v-btn>
          <span>cancel subscription</span>
        </v-tooltip>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Cards',
  props: {
    data: { type: String, default: '' },
    icon: { type: String, default: '' },
    content: { type: String, default: '' },
    cancel: { type: Function, default: () => {} },
    add: { type: Function, default: () => {} }
  },
  computed: {
    ...mapState('admin', ['color'])
  }
}
</script>

<style scoped>
</style>
