<template>
  <v-flex
    sm10
    xs12
    lg6
  >
    <v-card class="mt-4 mb-4" style="display: block; border-radius: 3px">
      <div
        style="position: relative; top: -20px; display: block; padding: 0; max-width: calc(100% - 32px); margin: 0 auto;"
      >
        <v-card elevation="10" class="pa-3" dark :color="color">
          <line-chart v-if="type === 'line'" :data="lineData" :colors="['#b00']" />
          <pie-chart v-if="type === 'pie'" :data="pieData" />
        </v-card>
      </div>
      <v-card-text class="text-xs-right font-weight-light">
        <h3 class="font-weight-light pt-2">
          {{ content }}
        </h3>
        <p class="grey--text">
          {{ info }}
        </p>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Cards',
  props: {
    lineData: { type: Object, default: () => {} },
    pieData: { type: Array, default: () => [] },
    info: { type: String, default: '' },
    content: { type: String, default: '' },
    type: { type: String, default: '' }
  },
  computed: {
    ...mapState('admin', ['color'])
  }
}
</script>

<style scoped>
</style>
