<template>
  <v-flex
    md12
    lg5
  >
    <v-dialog v-model="dialog.status" lazy fullscreen hide-overay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar>
          <v-toolbar-title>
            {{ dialog.title }}
          </v-toolbar-title>
          <v-card-actions class="ml-5">
            <v-tooltip bottom>
              <v-btn
                slot="activator"
                class="ml-1 mr-1"
                color="primary"
                small
                icon
                flat
                @click="markMailUnread(dialog.i)"
              >
                <v-icon>mdi-email</v-icon>
              </v-btn>
              <span>Mark as unread</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                slot="activator"
                class="ml-1 mr-1"
                color="primary"
                small
                icon
                flat
                @click="deleteMail(dialog.i)"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
          </v-card-actions>
          <v-spacer />
          <v-btn icon @click="dialog.status = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
      </v-card>
    </v-dialog>
    <v-card
      style="margin-bottom: 24px; margin-top: 48px; border-radius: 3px;"
    >
      <div
        style="position: relative; top: -20px; margin-bottom: -20px;
        padding: 0 16px; max-width: calc(100% - 32px); margin: 0 auto;"
      >
        <v-card elevation="10" class="pa-3" dark :color="color">
          <span>
            <h4>
              {{ title }}
            </h4>
            <p>
              {{ subtitle }}
            </p>
          </span>
          <v-scale-transition>
            <v-card-actions v-if="showActions">
              <v-spacer />
              <v-tooltip top>
                <v-btn
                  slot="activator"
                  class="ml-1 mr-1"
                  color="primary"
                  small
                  fab
                  @click="markUnRead"
                >
                  <v-icon>mdi-email</v-icon>
                </v-btn>
                <span>Mark as unread</span>
              </v-tooltip>
              <v-tooltip top>
                <v-btn
                  slot="activator"
                  class="ml-1 mr-1"
                  color="primary"
                  small
                  fab
                  @click="markRead"
                >
                  <v-icon>mdi-email-open</v-icon>
                </v-btn>
                <span>Mark as read</span>
              </v-tooltip>
              <v-tooltip top>
                <v-btn
                  slot="activator"
                  class="ml-1 mr-1"
                  color="primary"
                  small
                  fab
                  @click="deleteMails"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
                <span>Delete mails</span>
              </v-tooltip>
            </v-card-actions>
          </v-scale-transition>
        </v-card>
      </div>
      <v-card-text>
        <v-list three-line>
          <span v-for="(mail, i) in mails" :key="i">
            <v-list-tile>
              <v-list-tile-action>
                <v-tooltip top>
                  <v-checkbox
                    slot="activator"
                    v-model="mail.checked"
                    color="primary"
                    @change="marked(i)"
                  />
                  <span>Mark</span>
                </v-tooltip>
              </v-list-tile-action>
              <v-list-tile-title v-ripple style="line-height: 10%; padding: 40px 0; cursor: pointer;" @click="showMail(i)">
                {{ mail.subject }}
              </v-list-tile-title>
              <div class="d-flex">
                <v-tooltip
                  top
                >
                  <v-btn
                    slot="activator"
                    class="v-btn--simple"
                    flat
                    icon
                    @click="mail.read = !mail.read"
                  >
                    <v-icon color="primary">
                      {{ mail.read ? 'mdi-email-open' : 'mdi-email' }}
                    </v-icon>
                  </v-btn>
                  <span>
                    {{ mail.read ? 'Mark as unread' : 'Mark as read' }}
                  </span>
                </v-tooltip>
                <v-tooltip
                  top
                >
                  <v-btn
                    slot="activator"
                    class="v-btn--simple"
                    color="danger"
                    icon
                    @click="deleteMail(i)"
                  >
                    <v-icon color="error">
                      mdi-close
                    </v-icon>
                  </v-btn>
                  <span>Delete</span>
                </v-tooltip>
              </div>
            </v-list-tile>
            <v-divider v-if="i + 1 !== mails.length" />
          </span>
        </v-list>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Mails',
  props: {
    title: { type: String, default: '' },
    subtitle: { type: String, default: '' }
  },
  data() {
    return {
      dialog: {
        i: null,
        status: false,
        title: ''
      },
      mailIsMarked: [],
      showActions: false,
      mails: [
        {
          subject: 'Welcome',
          checked: false,
          read: false
        },
        {
          subject: 'Beginning',
          checked: false,
          read: false
        },
        {
          subject: 'Familiarization',
          checked: false,
          read: false
        },
        {
          subject: 'Introduction',
          checked: false,
          read: false
        },
        {
          subject: 'Finals',
          checked: false,
          read: false
        }
      ]
    }
  },
  computed: {
    ...mapState('admin', ['color'])
  },
  methods: {
    marked: function (i) {
      if (this.mails[i].checked) {
        this.showActions = true
        this.mails.forEach((v, i) => {
          this.mailIsMarked[i] = v.checked
        })
      } else {
        this.mails.forEach((v, i) => {
          this.mailIsMarked[i] = v.checked
        })
        if (!this.mailIsMarked.includes(true)) {
          this.showActions = false
        }
      }
    },
    showMail(i) {
      this.mails[i].read = true
      setTimeout(() => {
        this.dialog.status = true
        this.dialog.title = this.mails[i].subject
        this.dialog.i = i
      })
    },
    markMailUnread(i) {
      this.mails[i].read = false
      this.dialog.status = false
    },
    deleteMail(i) {
      this.dialog.status = false
      this.mails.splice(i, 1)
    },
    deleteMails() {
      this.showActions = false
      let indices = []
      this.mailIsMarked.forEach((v, i) => {
        if (v) {
          indices.push(i)
        }
      })
      indices = indices.reverse()
      indices.forEach(v => {
        this.mails.splice(v, 1)
      })
    },
    markRead() {
      this.mails.forEach(v => {
        if (v.checked) {
          v.read = true
        }
      })
    },
    markUnRead() {
      this.mails.forEach(v => {
        if (v.checked) {
          v.read = false
        }
      })
    }
  }
}
</script>

<style scoped>
</style>
