<template>
  <v-flex md12 :lg8="$route.path === '/profile'">
    <v-card style="margin-bottom: 24px; margin-top: 48px; border-radius: 3px;">
      <div
        style="position: relative; top: -20px; margin-bottom: -20px;
        padding: 0 16px; max-width: calc(100% - 32px); margin: 0 auto;"
      >
        <v-card elevation="10" class="pa-3" dark :color="color">
          <v-layout class="justify-space-between">
            <span>
              <h4>{{ title }}</h4>
              <p>{{ subtitle }}</p>
            </span>
            <v-tooltip v-if="active.name === 'Blog' || /Courses/.test(active.name)" top>
              <v-btn
                slot="activator"
                :color="color"
                fab
                small
                @click="active.name === 'Blog' || /Courses/.test(active.name) ? openNewDialog() : null"
              >
                <v-icon size="40">
                  mdi-plus
                </v-icon>
              </v-btn>
              <span>
                {{ active.name === 'Blog' ? 'Add a Post' : 'Add a Course' }} </span>
            </v-tooltip>
          </v-layout>
        </v-card>
      </div>
      <v-card-text>
        <v-data-table
          disable-initial-sort
          :loading="loading"
          :headers="headers"
          :items="actualItems"
        >
          <template slot="headerCell" slot-scope="{ header }">
            <span
              class="subheading font-weight-light text-success text--darken-3"
              v-text="header.text"
            ></span>
          </template>
          <template slot="items" slot-scope="{ item }">
            <td v-if="$route.path === '/admin/dashboard' && /All Courses/.test(active.name)">
              {{ item.code }}
            </td>
            <td v-if="$route.path === '/admin/dashboard'">
              {{ item.name ? item.name : item.title }}
            </td>
            <td v-if="active.name === 'Feedbacks'" class="text-xs-center">
              <v-rating
                v-model="item.rating"
                :background-color="`${color} lighten-3`"
                :color="color"
                readonly
                small
              />
            </td>
            <td v-if="$route.path === '/admin/dashboard' && (active.name === 'Blog' || /Courses/.test(active.name))">
              <v-chip v-for="(tag, i) in item.tags" :key="i" small>
                <v-avatar :color="color" class="white--text" v-text="tag.slice(0, 1).toUpperCase()" />
                {{ tag }}
              </v-chip>
            </td>
            <td v-if="active.name === 'Courses / All Courses'">
              {{ item.upcoming ? 'Upcoming' : 'Released' }}
            </td>
            <td v-if="$route.path === '/profile'">
              {{ item.sub }}
            </td>
            <td v-if="$route.path === '/admin/dashboard' && active.name !== 'Blog' && !/Courses/.test(active.name)" class="text-xs-center">
              {{ active.name === 'Feedbacks' ? item.feedback : item.email }}
            </td>
            <td
              v-if="$route.path === '/admin/dashboard' && active.name !== 'Feedbacks' && !/Courses/.test(active.name)"
            >
              {{ item.nationality !== undefined ? item.nationality : item.views }}
            </td>
            <td
              v-if="$route.path === '/admin/dashboard' && /Courses/.test(active.name)"
            >
              {{ item.modules.length }}
            </td>
            <td
              v-if="$route.path === '/admin/dashboard' && active.name === 'Users'"
            >
              {{ item.plan.subscriptionType }}
            </td>
            <td v-if="$route.path === '/profile'">
              {{ item.package }}
            </td>
            <td v-if="$route.path === '/profile'">
              ${{ item.price / 100 }}
            </td>
            <td v-if="$route.path === '/profile'">
              {{ item.quantity }}
            </td>
            <td v-if="$route.path === '/profile'">
              ${{ item.total / 100 }}
            </td>
            <td v-if="active.name !== 'Feedbacks'">
              {{ new Date(item.date).toLocaleString() }}
            </td>
            <td v-if="upgradable && active.name === 'Users'" class="text-xs-center">
              <v-tooltip top>
                <v-btn
                  slot="activator"
                  :disabled="item.plan.subscriptionType !== 'none' && item.plan.subscriptionType !== 'Premium'"
                  icon
                  flat
                  :color="color"
                  @click="updowngrade(items.indexOf(item))"
                >
                  <v-icon>{{ item.plan.subscriptionType !== 'Premium' ? 'mdi-arrow-up-circle-outline' : 'mdi-arrow-down-circle-outline' }}</v-icon>
                </v-btn>
                <span>{{ item.plan.subscriptionType !== 'Premium' ? 'Upgrade to premium account.' : 'Downgrade to regular account.' }}</span>
              </v-tooltip>
              <v-progress-circular
                v-if="item.actionLoading"
                class="ml-2"
                :width="1.2"
                size="24"
                color="primary"
                indeterminate
              />
            </td>
            <td v-if="active.name !== 'Users' && $route.path !== '/profile'">
              <v-card-actions>
                <v-tooltip v-if="active.name !== 'Feedbacks'" top>
                  <v-btn slot="activator" icon flat :color="color" @click="triggerDialog(item)">
                    <v-icon>{{ 'mdi-pencil' }}</v-icon>
                  </v-btn>
                  <span>Edit</span>
                </v-tooltip>
                <v-tooltip top>
                  <v-btn
                    slot="activator"
                    icon
                    flat
                    :color="color"
                    @click="active.name === 'Blog' ? removePost(items.indexOf(item)) : removeCourse(items.indexOf(item))"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                  <span>Delete</span>
                </v-tooltip>
              </v-card-actions>
            </td>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    title: { type: String, default: '' },
    subtitle: { type: String, default: '' },
    headers: { type: Array, default: () => [] },
    items: { type: Array, default: () => [] },
    upgradable: { type: Boolean, default: false },
    loading: { type: Boolean, default: false },
    updowngrade: { type: Function, default: () => 1 },
    openNewDialog: { type: Function, default: () => 1 },
    openEditDialog: { type: Function, default: () => 1 },
    removePost: { type: Function, default: () => 1 },
    removeCourse: { type: Function, default: () => 1 },
    editModules: { type: Function, default: () => 1 },
    editedItem: { type: Object, default: () => {} }
  },
  data: () => ({}),
  computed: {
    ...mapState('admin', ['color', 'active']),
    actualItems() {
      return this.items
    }
  },
  methods: {
    triggerDialog(item) {
      const myItems = [...this.items]
      const index = myItems.reverse().indexOf(item)
      const postToEdit = myItems[index]
      this.openEditDialog(postToEdit, index)
    },
    triggerModulesDialog(item) {
      const myItems = [...this.items]
      const index = myItems.reverse().indexOf(item)
      const { modules } = myItems[index]
      this.editModules(modules, index, this.items.indexOf(item))
    }
  }
}
</script>

<style scoped>
</style>
