<template>
  <v-flex
    md12
    lg4
  >
    <v-card
      style="margin-bottom: 24px; margin-top: 48px; border-radius: 3px;"
      text="These are tokens for gifting subscriptions"
    >
      <div
        style="position: relative; top: -20px; margin-bottom: -20px;
        padding: 0 16px; max-width: calc(100% - 32px); margin: 0 auto;"
      >
        <v-card elevation="10" class="pa-3" dark :color="color">
          <v-layout class="justify-space-between">
            <span>
              <h4>Tokens</h4>
              <p>These are tokens for gifting subscriptions</p>
            </span>
            <v-tooltip top>
              <v-btn
                slot="activator"
                :color="color"
                fab
                small
                @click="buytokens()"
              >
                <v-icon size="40">
                  mdi-plus
                </v-icon>
              </v-btn>
              <span>
                Buy Token(s)
              </span>
            </v-tooltip>
          </v-layout>
        </v-card>
      </div>
      <v-card-text style="max-height: 350px; overflow-y: scroll">
        <v-list>
          <template v-for="(token, i) in user.plan.tokens">
            <v-list-tile :key="token.code">
              <div class="tag">
                {{ token.subType }}
              </div>
              <v-list-tile-title :class="token.status === 'Used' ? 'grey--text' : ''" :style="token.status === 'Used' ? {textDecoration: 'line-through'} : {}">
                {{ token.code }}
              </v-list-tile-title>
              <div class="d-flex">
                <v-tooltip
                  top
                >
                  <v-btn
                    slot="activator"
                    class="v-btn--simple"
                    flat
                    icon
                    :disabled="token.status === 'Used'"
                    @click="copycode(token.code)"
                  >
                    <v-icon :color="color">
                      mdi-content-copy
                    </v-icon>
                  </v-btn>
                  <span>Copy Token</span>
                </v-tooltip>
                <v-tooltip
                  v-if="deleting !== i || !saveloading"
                  top
                >
                  <v-btn
                    slot="activator"
                    class="v-btn--simple"
                    flat
                    icon
                    :disabled="token.status === 'Unused'"
                    @click="deleteCode(token, i)"
                  >
                    <v-icon :color="color">
                      mdi-delete
                    </v-icon>
                  </v-btn>
                  <span>Delete Token</span>
                </v-tooltip>
                <v-progress-circular
                  v-else-if="deleting === i && saveloading"
                  :key="i+1"
                  class="ml-2"
                  :width="1.2"
                  size="24"
                  :color="color"
                  indeterminate
                />
              </div>
            </v-list-tile>
            <v-divider :key="i" />
          </template>
        </v-list>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Token',
  props: {
    buytokens: { type: Function, default: () => {} },
    copycode: { type: Function, default: () => {} },
    deletecode: { type: Function, default: () => {} },
    saveloading: { type: Boolean, default: false }
  },
  data() {
    return {
      deleting: null
    }
  },
  computed: {
    ...mapState('admin', ['color']),
    ...mapState(['user'])
  },
  methods: {
    deleteCode(token, i) {
      this.deleting = i
      this.deletecode(token)
    }
  }
}
</script>

<style scoped>
.tag {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) inset,
    -2px -2px 5px rgba(0, 0, 0, 0.5) inset;
  position: absolute;
  padding: 0 5px;
  font-size: 11px;
  font-family: Salsa, sans-serif;
  font-weight: 900;
  text-align: center;
  color: #fff;
  background: #334455;
  left: -1px;
  top: 0;
  z-index: 2;
}
</style>
